{% extends 'base_system.html' %} {% block content %}

<div class="col-12 col-md-10 col-lg-7 col-xl-6 col-xxl-5 d-flex-block">
    <form method='POST' id="id_form" class="card flex-fill shadow-lg bg-white" name="form" target="_top"
        enctype="multipart/form-data">{% csrf_token %}
        <div class="card-header d-flex justify-content-between align-items-center">
            <div class="fw-bold">
                Nuevo cliente
            </div>
            <div>
                <a href="{% url 'clients:list' %}"><i class="bi bi-arrow-left-short"></i>Volver</a>
            </div>
        </div>
        <div class="card-body">

            <div class="row g-3">
                <!-- start MAIN DATA -->
                <h4 class="card-title mt-3">Datos principales</h4>

                <!-- start NAME INPUT -->
                <div class="col-12">
                    <label for="id_name" class="form-label">Razón social / Nombre Fantasía</label>
                    <input id="id_name" name="name" type="text" {% if form.name.value %}value="{{form.name.value}}"
                        {% endif %} class="form-control {% if form.name.errors %}is-invalid{% endif %}" required>
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}{{error}}<br>{% endfor %}
                    </div>

                </div>
                <!-- end NAME INPUT -->


                <!-- start CONTACT NAME INPUT -->
                <div class="col-12">
                    <label for="id_contact_name" class="form-label">Nombre de contacto</label>
                    <input id="id_contact_name" name="contact_name" type="text"
                        {% if form.contact_name.value %}value="{{form.contact_name.value}}" {% endif %}
                        class="form-control {% if form.contact_name.errors %}is-invalid{% endif %}">
                    <div class="invalid-feedback">
                        {% for error in form.contact_name.errors %}{{error}}<br>{% endfor %}
                    </div>

                </div>
                <!-- end CONTACT NAME INPUT -->


                <!-- start CONTACT PHONE INPUT -->
                <div class="col-12">
                    <label for="id_contact_phone" class="form-label">Teléfono</label>
                    <input id="id_contact_phone" name="contact_phone" type="text"
                        {% if form.contact_phone.value %}value="{{form.contact_phone.value}}" {% endif %}
                        class="form-control {% if form.contact_phone.errors %}is-invalid{% endif %}">
                    <div class="invalid-feedback">
                        {% for error in form.contact_phone.errors %}{{error}}<br>{% endfor %}
                    </div>

                </div>
                <!-- end CONTACT PHONE INPUT -->


                <!-- start CONTACT EMAIL INPUT -->
                <div class="col-12">
                    <label for="id_contact_email" class="form-label">Correo electrónico</label>
                    <input id="id_contact_email" name="contact_email" type="email"
                        {% if form.contact_email.value %}value="{{form.contact_email.value}}" {% endif %}
                        class="form-control {% if form.contact_email.errors %}is-invalid{% endif %}">
                    <div class="invalid-feedback">
                        {% for error in form.contact_email.errors %}{{error}}<br>{% endfor %}
                    </div>

                </div>
                <!-- end CONTACT EMAIL INPUT -->


                <!-- start CONTRACT SELECT -->
                <div class="mb-3">
                    <label for="id_contract" class="form-label">Contrato</label>
                    <input class="form-control {% if form.contract.errors %}is-invalid{% endif %}" type="file"
                        id="id_contract" name="contract">
                    <div class="invalid-feedback">
                        {% for error in form.contract.errors %}{{error}}<br>{% endfor %}
                    </div>
                </div>
                <!-- end CONTRACT SELECT -->
                <!-- end MAIN DATA -->

                <!-- start DEPOSIT DATA -->
                <div class="alert alert-warning mb-0" role="alert">
                    Es necesario asociar, por lo menos, un depósito con este cliente.
                </div>
                <h4 class="card-title mt-4 mb-0">Datos del depósito principal</h4>

                <!-- START DEPOSIT NAME -->
                <div class="col-12 col-md-5">
                    <label for="{{form.deposit_name.id_for_label}}" class="form-label">Nombre</label>
                    {{ form.deposit_name }}
                </div>
                <!-- END DEPOSIT_NAME -->

                <!-- START DEPOSIT_ADDRESS -->
                <div class="col-12 col-md-7">
                    <label for="{{form.deposit_address.id_for_label}}" class="form-label">Domicilio</label>
                    {{ form.deposit_address }}
                </div>
                <!-- END DEPOSIT_ADDRESS -->

                <!-- START EXTENDED DEPOSIT_ADDRESS INFO -->
                <div class="col-lg-5 col-xl-5 col-xxl-4">
                    <label for="inputPartido" class="form-label">Partido</label>
                    <select id="inputPartido" class="form-select">
                        <option selected>---------</option>
                        {% for partido in partidos %}
                        <option id="option-{{partido.id}}" value="{{partido.id}}">{{partido.name | title}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-7 col-xl-7 col-xxl-6">
                    <label for="{{ form.deposit_town.id_for_label }}" class="form-label">Localidad</label>
                    {{ form.deposit_town }}
                </div>
                <div class="col-lg-3 col-xl col-xxl-2">
                    <label for="{{form.deposit_zipcode.id_for_label}}" class="form-label">Cód.
                        postal</label>
                    {{ form.deposit_zipcode}}
                </div>
                <!-- END EXTENDED DEPOSIT_ADDRESS INFO -->

                <!-- START DEPOSIT_PHONE -->
                <div class="col-12 col-md-6">

                    <label for="{{form.deposit_phone.id_for_label}}" class="form-label">Teléfono</label>
                    <input type="text" id="id_deposit_phone" name="deposit_phone" class="form-control"
                        {% if form.deposit_phone.value %}value="{{ form.deposit_phone.value }}" {% endif %}>
                    <div class="invalid-feedback">
                        Por favor, ingresá un teléfono válido.
                    </div>
                </div>
                <!-- END DEPOSIT_PHONE -->


                <!-- START DEPOSIT_EMAIL -->
                <div class="col-12 col-md-6">
                    <label for="{{form.deposit_email.id_for_label}}" class="form-label">Correo electrónico</label>
                    <input type="text" id="id_deposit_email" name="deposit_email" class="form-control"
                        {% if form.deposit_email.value %}value="{{ form.deposit_email.value }}" {% endif %}>
                    <div class="invalid-feedback">
                        Por favor, ingresá un email válido.
                    </div>
                </div>
                <!-- END DEPOSIT_EMAIL -->


                <!-- end DEPOSIT DATA -->

                <!-- START SUMBIT BUTTON -->
                <div class="d-grid gap-2 d-md-flex">
                    <input type="submit" value="Guardar" class="btn btn-primary">
                </div>
                <!-- END SUMBIT BUTTON -->

            </div>

        </div>
    </form>

</div>

<script>
    var places = JSON.parse('{{ places | escapejs }}');
    $(document).ready(function () {
        $('#id_deposit_town').find('option:not(:first)').remove();
        $('#inputPartido').on('inputchange', function () {
            var selectedPartidoId = this.value.toString();
            var placesFromPartido = places.filter(function (place) {
                return place.partido_id == selectedPartidoId;
            });
            $('#id_deposit_town').find('option:not(:first)').remove();
            for (var element of placesFromPartido) {
                $('#id_deposit_town').append('<option value="' + element.id + '">' + element.name +
                    '</option>');
            }
        });
    });
</script>

{% endblock %}