{% extends 'base_system.html' %} {% block content %}

<div class="col-12 col-md-10 col-lg-7 col-xl-6 col-xxl-5 d-flex-block">
    <form method='POST' id="id_form" class="card flex-fill shadow-lg bg-white" name="form" target="_top"
        enctype="multipart/form-data">{% csrf_token %}
        <div class="card-header d-flex justify-content-between align-items-center">
            <div>
                Editar cliente
            </div>
            <div>
                <a href="{% url 'clients:list' %}"><i class="bi bi-arrow-left-short"></i>Volver</a>
            </div>
        </div>
        <div class="card-body">

            <div class="row g-3">
                <!-- start MAIN DATA -->
                <h4 class="card-title mt-3">Datos del ciente</h4>

                <!-- start NAME INPUT -->
                <div class="col-12">
                    <label for="id_name" class="form-label">Razón social / Nombre Fantasía</label>
                    <input id="id_name" name="name" type="text" {% if form.name.value %}value="{{form.name.value}}"
                        {% endif %} class="form-control {% if form.name.errors %}is-invalid{% endif %}" required>
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}{{error}}<br>{% endfor %}
                    </div>

                </div>
                <!-- end NAME INPUT -->


                <!-- start CONTACT NAME INPUT -->
                <div class="col-12">
                    <label for="id_contact_name" class="form-label">Nombre de contacto</label>
                    <input id="id_contact_name" name="contact_name" type="text"
                        {% if form.contact_name.value %}value="{{form.contact_name.value}}" {% endif %}
                        class="form-control {% if form.contact_name.errors %}is-invalid{% endif %}">
                    <div class="invalid-feedback">
                        {% for error in form.contact_name.errors %}{{error}}<br>{% endfor %}
                    </div>

                </div>
                <!-- end CONTACT NAME INPUT -->


                <!-- start CONTACT PHONE INPUT -->
                <div class="col-12">
                    <label for="id_contact_phone" class="form-label">Teléfono</label>
                    <input id="id_contact_phone" name="contact_phone" type="text"
                        {% if form.contact_phone.value %}value="{{form.contact_phone.value}}" {% endif %}
                        class="form-control {% if form.contact_phone.errors %}is-invalid{% endif %}">
                    <div class="invalid-feedback">
                        {% for error in form.contact_phone.errors %}{{error}}<br>{% endfor %}
                    </div>

                </div>
                <!-- end CONTACT PHONE INPUT -->


                <!-- start CONTACT EMAIL INPUT -->
                <div class="col-12">
                    <label for="id_contact_email" class="form-label">Correo electrónico</label>
                    <input id="id_contact_email" name="contact_email" type="email"
                        {% if form.contact_email.value %}value="{{form.contact_email.value}}" {% endif %}
                        class="form-control {% if form.contact_email.errors %}is-invalid{% endif %}">
                    <div class="invalid-feedback">
                        {% for error in form.contact_email.errors %}{{error}}<br>{% endfor %}
                    </div>

                </div>
                <!-- end CONTACT EMAIL INPUT -->



                <!-- start contract SELECT -->
                {% if contract %}
                <div class="col-12">
                    <label for="id_clean_previous_contract" class="form-label">Contrato actual</label><br>
                    <a target="_blank" href="{{ contract.url }}">{{ contract.text }}</a>
                    <input class="form-check-input ms-3" type="checkbox" name="clean_previous_contract"
                        id="id_clean_previous_contract">
                    <label class="form-check-label" for="id_clean_previous_contract">
                        Limpiar
                    </label><br>
                </div>
                {% endif %}
                <div class="col-12">
                    <label for="id_contract" class="form-label">{% if contract %}Modificar
                        contrato{% else %}Contrato{% endif %}</label>
                    <input class="form-control {% if form.contract.errors %}is-invalid{% endif %}" type="file"
                        id="id_contract" name="contract">
                    <div class="invalid-feedback">
                        {% for error in form.contract.errors %}{{error}}<br>{% endfor %}
                    </div>
                </div>
                <!-- end contract SELECT -->

                <!-- end MAIN DATA -->


                <!-- START SUMBIT BUTTON -->
                <div class="d-grid gap-2 d-md-flex">
                    <input type="submit" value="Guardar" class="btn btn-primary">
                </div>
                <!-- END SUMBIT BUTTON -->

            </div>

        </div>
    </form>

</div>

<script>
    var places = JSON.parse('{{ places | escapejs }}');
    $(document).ready(function () {
        $('#id_deposit_town').find('option:not(:first)').remove();
        $('#inputPartido').on('inputchange', function () {
            var selectedPartidoId = this.value.toString();
            var placesFromPartido = places.filter(function (place) {
                return place.partido_id == selectedPartidoId;
            });
            $('#id_deposit_town').find('option:not(:first)').remove();
            for (var element of placesFromPartido) {
                $('#id_deposit_town').append('<option value="' + element.id + '">' + element.name +
                    '</option>');
            }
        });
    });
</script>

{% endblock %}