{% extends 'base_system.html' %} {% block content %} {% load places_extras %}

<style>
    td {
        vertical-align: middle;
    }

    .hola {
        background-color: red;
    }

    div .hidden {
        display: none;
    }
</style>
<div class="col-md-12 col-xl-7 d-flex-block">
    <form method='POST' id="create_form" class="card flex-fill shadow-lg bg-white" name="create_form" target="_top"
        enctype="multipart/form-data">{% csrf_token %}

        <div class="card-header d-flex justify-content-between align-items-center">
            <div>
                Crear objeto
            </div>
            <div>
                <a href="{{ request.META.HTTP_REFERER }}"><i class="bi bi-arrow-left-short"></i>Volver</a>
            </div>
        </div>

        <div class="card-body">
            <h3 class="card-title text-center mt-3">CREAR NUEVO ENVÍO DE
                {% if code_type == 'd' %}MENSAJERÍA{% else %}FLEX{% endif %}</h3>
            <h4 class="card-title mt-3">Datos del envío</h4>
            <div class="row g-3">



                <!-- START CLIENTE INPUT -->
                <div class="col-md-12 col-lg-6 col-xl-5 {% if is_client %}d-none{% endif %}">
                    <label for="{{form.client.id_for_label}}" class="form-label">Cliente</label>
                    {{ form.client}}
                </div>
                <!-- END CLIENT INPUT -->


                <!-- START DEPO INPUT -->
                <div class="col-md-12 col-lg-6 col-xl-5">
                    <label for="id_deposit" class="form-label">Depósito</label>
                    {{form.deposit}}
                    <div class="invalid-feedback">
                        {% for error in form.client.errors %}{{error}}<br>{% endfor %}
                    </div>
                </div>
                <!-- END DEPO INPUT -->


                <!-- START DEFAULT DETAIL CHECKBOX -->
                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="defaultDetailCheckbox" checked>
                        <label for="defaultDetailCheckbox" class="form-check-label">
                            Es un paquete de menos de 5 kg.
                        </label>
                    </div>
                </div>
                <!-- END DEFAULT DETAIL CHECKBOX -->


                <!-- START CUSTOM DETAIL TABLE -->
                <div class="col-lg-12 form-group row hidden" id="detailDiv">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-8">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Tipo</th>
                                        <th style="min-width: 50px;">Cantidad</th>
                                        <th style="width: 25px;"></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <!-- Max 5 kg package -->
                                    <tr class="on-body">
                                        <td>Paquete / commerce hasta 5 kg</td>
                                        <td>
                                            <input type="number" max="20" min="0" step="1" class="form-control"
                                                id="detailInput0" pattern="^\d+$"></input>
                                            <div class="invalid-feedback">
                                                Obligatorio.
                                            </div>
                                        </td>
                                        <td>
                                            <div id="clearRowMax5">
                                                <button id="btnClear0" type="button"
                                                    class="btn btn-danger clear-amount-button invisible"><i
                                                        class="bi bi-x"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- Max 10 kg package -->
                                    <tr class="on-body">
                                        <td>Bulto hasta 10 kg</td>
                                        <td>
                                            <input type="number" max="20" min="0" step="1" class="form-control"
                                                id="detailInput1" pattern="^\d+$"></input>
                                            <div class="invalid-feedback">
                                                Obligatorio.
                                            </div>
                                        </td>
                                        <td>
                                            <div id="clearRowMax10">
                                                <button id="btnClear1" type="button"
                                                    class="btn btn-danger clear-amount-button invisible"><i
                                                        class="bi bi-x"></i></button>
                                            </div>
                                        </td>
                                    </tr>

                                    <!-- Max 20 kg package -->
                                    <tr class="on-body">
                                        <td>Bulto hasta 20 kg</td>
                                        <td>
                                            <input type="number" max="20" min="0" step="1" class="form-control"
                                                id="detailInput2" pattern="^\d+$"></input>
                                            <div class="invalid-feedback">
                                                Obligatorio.
                                            </div>
                                        </td>
                                        <td>
                                            <div id="clearRowMax20">
                                                <button id="btnClear2" type="button"
                                                    class="btn btn-danger clear-amount-button invisible"><i
                                                        class="bi bi-x"></i></button>
                                            </div>
                                        </td>
                                    </tr>

                                    <!-- Miniflete -->
                                    <tr class="on-body">
                                        <td>Miniflete</td>
                                        <td>
                                            <input type="number" max="20" min="0" step="1" class="form-control"
                                                id="detailInput3" pattern="^\d+$"></input>
                                        </td>
                                        <td>
                                            <div id="clearRowMiniflete">
                                                <button id="btnClear3" type="button"
                                                    class="btn btn-danger clear-amount-button invisible"><i
                                                        class="bi bi-x"></i></button>
                                            </div>
                                        </td>
                                    </tr>

                                    <!-- Urgent -->
                                    <tr class="on-body">
                                        <td>Urgente</td>
                                        <td>
                                            <input type="number" max="20" min="0" step="1" class="form-control"
                                                id="detailInput4" pattern="^\d+$"></input>
                                        </td>
                                        <td>
                                            <div id="clearRowUrgent">
                                                <button id="btnClear4" type="button"
                                                    class="btn btn-danger clear-amount-button invisible"><i
                                                        class="bi bi-x"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- Tramite -->
                                    <tr class="on-body">
                                        <td>Trámite</td>
                                        <td>
                                            <input type="number" max="20" min="0" step="1" class="form-control"
                                                id="detailInput5" pattern="^\d+$"></input>
                                        </td>
                                        <td>
                                            <div id="clearRowTramite">
                                                <button id="btnClear5" type="button"
                                                    class="btn btn-danger clear-amount-button invisible"><i
                                                        class="bi bi-x"></i></button>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END CUSTOM DETAIL TABLE -->


                <!-- START MAX DELIVERY DATE -->
                <div class="col-lg-6 col-xxl-4">
                    <label for="{{form.max_delivery_date.id_for_label}}" class="form-label">Fecha máxima de
                        entrega</label>
                    {{ form.max_delivery_date}}
                </div>
                <!-- END MAX DELIVERY DATE -->


                <!-- START DELIVERY SCHEDULE -->
                <div class="col-lg-6 col-xxl-4">
                    <label for="{{form.delivery_schedule.id_for_label}}" class="form-label">Horario de
                        entrega</label>
                    {{ form.delivery_schedule}}
                </div>
                <!-- END DELIVERY SCHEDULE -->


                <!-- START FLEX CHECKBOX -->
                <div class="col-12">
                    <div class="form-check">
                        {{form.is_flex}}
                        <label for="{{form.is_flex.id_for_label}}" class="form-check-label">
                            Es envío de Flex (Mercado Libre Envíos)
                        </label>
                    </div>
                </div>
                <!-- END FLEX CHECKBOX -->


                <!-- START FLEX ID -->
                <div id="flexIdDiv" class="col-lg-7 col-xl-6 col-xxl-5">
                    <label for="{{form.flex_id.id_for_label}}" class="form-label">Tracking ID Flex</label>
                    {{ form.flex_id}}
                </div>
                <!-- END FLEX ID -->


                <!-- START DESTINATION DATA TITLE -->
                <div class="form-group col-12 mt-4">
                    <h4>Datos del destino</h4>
                </div>
                <!-- END DESTINATION DATA TITLE -->


                <!-- START ADDRESS -->
                <div class="col-12 col-lg-6">
                    <label for="{{form.street.id_for_label}}" class="form-label">Domicilio</label>
                    {{ form.street }}
                </div>
                <div class="col-12 col-lg-6">
                    <label for="{{form.remarks.id_for_label}}" class="form-label">Observaciones
                        (entrecalles, etc.)</label> {{ form.remarks}}
                </div>
                <!-- END ADDRESS -->


                <!-- START EXTENDED ADDRESS INFO -->
                <div class="col-lg-5 col-xl-5 col-xxl-4">
                    <label for="inputPartido" class="form-label">Partido</label>
                    <select id="inputPartido" class="form-select">
                        <option selected>---------</option>
                        {% for partido in partidos %}
                        <option id="option-{{partido.id}}" value="{{partido.id}}">{{partido.name | title}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-7 col-xl-7 col-xxl-6">
                    <label for="{{ form.town.id_for_label }}" class="form-label">Localidad</label>
                    {{ form.town }}
                </div>
                <div class="col-lg-3 col-xl col-xxl-2">
                    <label for="{{form.zipcode.id_for_label}}" class="form-label">Cód.
                        postal</label>
                    {{ form.zipcode}}
                </div>
                <!-- END EXTENDED ADDRESS INFO -->


                <!-- START TITLE -->
                <div class="col-12 form-group mt-4">
                    <h4>Datos del destinatario</h4>
                </div>
                <!-- END TITLE -->


                <!-- START RECIPIENT'S DATA -->
                <div class="col-12 col-md-7 col-xl-5">
                    <label for="{{form.name.id_for_label}}" class="form-label">Destinatario</label>
                    {{ form.name}}
                </div>
                <div class="col-12 col-md-5 col-xl-4">
                    <label for="{{form.doc.id_for_label}}" class="form-label">N° de DNI</label>
                    {{ form.doc}}
                </div>
                <div class="col-12 col-md-5 col-xl-3">
                    <label for="{{form.phone.id_for_label}}" class="form-label">N° de
                        Teléfono</label>
                    {{ form.phone}}
                </div>
                <!-- END RECIPIENT'S DATA -->


                <!-- START RECIPIENT'S CHARGE -->
                <div class="col-lg-7 col-xl-6 col-xxl-4">
                    <label for="{{form.charge.id_for_label}}" class="form-label">Cobrarle al destinatario</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <input type="number" id="id_charge" name="charge" class="form-control" step="1.0" min="0"
                            max="999999999" aria-label="Cargos al destinatario (al peso más cercano)">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
                <!-- END RECIPIENT'S CHARGE -->

                <!-- START DETAIL IS NOT VISIBLE -->
                <div id="detailNotVisible" class="col-md-6 form-group mt-3">
                    <label for="{{ form.detail.id_for_label }}">
                        {{ form.detail.label }}<span class="text-danger">*</span>
                    </label> {{ form.detail }}
                </div>
                <!-- END DETAIL IS NOT VISIBLE -->

                <div class="col-12">
                    {% for error in form.errors %}
                    <p style="color: red;">{{error}}</p>
                    {% endfor %}
                </div>


                <!-- START SUMBIT BUTTON -->
                <div class="d-grid gap-2 d-md-flex">
                    <input type="submit" value="Crear envío" class="btn btn-primary">
                </div>
                <!-- END SUMBIT BUTTON -->
            </div>
        </div>

    </form>

</div>

{% if not is_client %}
<script>
    var deposits = JSON.parse('{{ deposits | escapejs }}');
    $('#id_deposit').find('option:not(:first)').remove();
    $.event.special.inputchange = {
        setup: function () {
            var self = this,
                val;
            $.data(this, 'timer', window.setInterval(function () {
                val = self.value;
                if ($.data(self, 'cache') != val) {
                    $.data(self, 'cache', val);
                    $(self).trigger('inputchange');
                }
            }, 20));
        },
        teardown: function () {
            window.clearInterval($.data(this, 'timer'));
        },
        add: function () {
            $.data(this, 'cache', this.value);
        }
    };
    $('#id_client').on('inputchange', function () {
        var selectedClientId = this.value.toString();
        console.log(selectedClientId);
        if (![null, undefined, ''].includes(selectedClientId)) {
            var depositsFromClient = deposits.filter(function (deposit) {
                return deposit.client_id == selectedClientId;
            });
            console.log("depositsFromClient", depositsFromClient);
            $('#id_deposit').find('option:not(:first)').remove();
            for (var element of depositsFromClient) {
                $('#id_deposit').append('<option value="' + element.id + '">' + element.name +
                    '</option>');
            }
        } else {
            $('#id_deposit').find('option:not(:first)').remove();
        }
    });
</script>
{% else %}
<script>
    /*
    var deposits = JSON.parse('{{ deposits | escapejs }}');
    var client_id = "{{ client.pk }}";
    var clientElement = document.getElementById('id_client');
    clientElement.value = client_id;
    console.log(document.getElementById('id_client').value);
    if (![null, undefined, ''].includes(client_id)) {
        console.log("hola");
        $('#id_deposit').find('option:not(:first)').remove();
        console.log(JSON.stringify(deposits));
        deposits.filter(deposit => deposit.client_id == client_id).forEach(deposit => $('#id_deposit').append(
            '<option value="' + deposit.id + '">' + deposit.name + '</option>'));
    } else {
        $('#id_deposit').find('option:not(:first)').remove();
    }
    */
</script>
{% endif %}

<script>
    var places = JSON.parse('{{ places | escapejs }}');

    const detailInputs = {
        0: "max-5-package",
        1: "max-10-package",
        2: "max-20-package",
        3: "miniflete",
        4: "urgent",
        5: "tramite",
    };

    function isNumeric(value) {
        return /^\d+$/.test(value);
    }

    $(document).ready(function () {

        $.event.special.inputchange = {
            setup: function () {
                var self = this,
                    val;
                $.data(this, 'timer', window.setInterval(function () {
                    val = self.value;
                    if ($.data(self, 'cache') != val) {
                        $.data(self, 'cache', val);
                        $(self).trigger('inputchange');
                    }
                }, 20));
            },
            teardown: function () {
                window.clearInterval($.data(this, 'timer'));
            },
            add: function () {
                $.data(this, 'cache', this.value);
            }
        };
        /*
        $('#id_client').on('inputchange', function () {
            var selectedClientId = this.value.toString();
            console.log(selectedClientId);
            if (![null, undefined, ''].includes(selectedClientId)) {
                var depositsFromClient = deposits.filter(function (deposit) {
                    return deposit.client_id == selectedClientId;
                });
                console.log("depositsFromClient", depositsFromClient);
                $('#id_deposit').find('option:not(:first)').remove();
                for (var element of depositsFromClient) {
                    $('#id_deposit').append('<option value="' + element.id + '">' + element.name +
                        '</option>');
                }
            } else {
                $('#id_deposit').find('option:not(:first)').remove();
            }
        });
        */

        $("#detailNotVisible").hide();

        $('#id_town').find('option:not(:first)').remove();

        $('#create_form').submit(function (event) {
            event.preventDefault(); //this will prevent the default submit
            updateDetails();
            $(this).unbind('submit').submit(); // continue the submit unbind preventDefault
        });



        $('#simpleEditorCheckDiv').hide(200);
        $("#defaultDetailCheckbox").click(function () {
            var isDefaultSelected = $(this).is(":checked");
            if (isDefaultSelected) {
                document.getElementById("id_detail").value = "0-1";
                $('#detailDiv').hide(200);
            } else {
                $('#detailDiv').show(200);
                $('#detailDiv').removeClass("hidden");
            }
        });

        $("#id_is_flex").click(function () {
            var isFlex = $(this).is(":checked");
            if (isFlex) {
                $('#id_flex_id').removeAttr('disabled');
            } else {
                $('#id_flex_id').attr('disabled', 'disabled');
            }
        });

        setPartidoListener();
        setDetailsListeners();
    });

    function setPartidoListener() {
        $('#inputPartido').on('inputchange', function () {
            var selectedPartidoId = this.value.toString();
            var placesFromPartido = places.filter(function (place) {
                return place.partido_id == selectedPartidoId;
            });
            $('#id_town').find('option:not(:first)').remove();
            for (var element of placesFromPartido) {
                $('#id_town').append('<option value="' + element.id + '">' + element.name +
                    '</option>');
            }
        });
    }

    function setDetailsListeners() {
        for (let i = 0; i < 6; i++) {
            $('#detailInput' + i).on('inputchange', function () {
                var currentValue = this.value.toString();
                if (currentValue != "" && currentValue != "0" && isNumeric(currentValue)) {
                    $('#btnClear' + i).removeClass("invisible");
                }
                if (currentValue == "" || currentValue == "0" || !isNumeric(currentValue)) {
                    $('#btnClear' + i).addClass("invisible");
                }
            });
            $('#btnClear' + i).on('click', function () {
                $('#detailInput' + i).val("0");
            });
        }
    }

    function updateDetails() {
        try {
            var detailsArray = [];
            for (var i = 0; i < 6; i++) {
                var amount = $("#detailInput" + i).val();
                if (isNumeric(amount) && amount != "0") {
                    detailsArray.push(i.toString() + "-" + amount.toString());
                }
            }
            var details = detailsArray.join(",");
            details = details == "" ? "0-1" : details;
            document.getElementById("id_detail").value = details
        } catch (e) {
            alert(e);
        }
    }
</script>


{% endblock %}