{% extends 'base_system.html' %}

{% block modal_content %}
{% endblock modal_content %}

{% block content %}
{% load url_extras %}
{% load main_extras %}
<style>
    .table thead th {
        border-bottom: 2px solid #C556FF;
    }

    .spaced-tr {
        //height: 7vh;
        //margin: 20px 0;
    }

    .date {
        color: #C556FF;
        color: red;
    }
</style>
<div class="col-md-12  d-flex-block">
    <div class="card flex-fill shadow-lg">
        <div class="card-header d-flex justify-content-between">
            Detalle de envío
            <a href="{% url 'envios:envio-list' %}"><i class="bi bi-list"></i>Ver lista completa</a>
        </div>
        <div class="card-body ">

            <div class="card-title d-flex flex-column flex-xxl-row justify-content-between align-content-center w-100">

                <div class="flex-fill d-flex flex-column flex-sm-row flex-md-column flex-lg-row">
                    <div class="d-flex fs-5 flex-row m-1 align-items-center">
                        {% if object.status == "N" %}
                        <div class="badge rounded-pill bg-danger">
                            <i class="bi bi-plus-circle-dotted me-1"></i>Nuevo
                        </div>
                        {% elif object.status == "S" %}
                        <div class="badge rounded-pill bg-warning text-dark">
                            <i class="bi bi-geo-alt me-1"></i>En depósito
                        </div>
                        {% elif object.status == "M" %}
                        <div class="d-flex">
                            <div class="ms-2 badge rounded-pill bg-primary"><i class="bi bi-truck me-1"></i>Viajando
                            </div>
                            <div class="blinking position-absolute top-1 start-1 translate-bottom mt-1 p-1 rounded-circle me-1"
                                style="background-color: lime;">
                                <span class="visually-hidden">New alerts</span>
                            </div>
                        </div>
                        {% elif object.status == "D" %}
                        <div class="badge rounded-pill bg-success">
                            <i class="bi bi-check2 me-1"></i>Entregado
                        </div>
                        {% endif %}
                        {% if object.has_delivery_attempt and object.status != "D" %}
                        <div class="ms-2 badge rounded-pill bg-info text-dark">
                            <i class="bi bi-skip-forward me-1"></i>Reprogramado
                        </div>
                        {% endif %}
                    </div>

                    <div class="fs-5 lh-1 m-1 text-wrap text-sm-nowrap">
                        {% if object.status == "D" %}En{% else %}{% if object.description %}{{ object.description }}c{% else %}C{% endif %}on&nbsp;destino&nbsp;a{% endif %}&nbsp;<strong>{{ object.full_address }}</strong>
                    </div>

                </div>

                <div class="m-1 text-wrap text-sm-nowrap">
                    {{last_update_html_safe | safe }}</div>


            </div>



            <hr>

            <div class="card-text">
                <div class="d-flex justify-content-start align-items-center flex-wrap mb-3">

                    <a href="{% url 'envios:single-envio-download-label' pk=object.id %}"
                        class="btn btn-outline-primary btn-sm me-1 mt-1"><i class="bi bi-printer me-1"></i>Imprimir
                        etiqueta</a>
                    {% if envio.status == 'N' %}
                    <a href="{% url 'envios:envio-edit' pk=object.id %}" class="btn btn-secondary btn-sm me-1 mt-1"><i
                            class="bi bi-pencil-square me-1"></i>Editar</a>
                    {% endif %}
                    <a href="{% url 'envios:envio-delete' object.id %}" class="btn btn-danger btn-sm me-1 mt-1"><i
                            class="bi bi-pencil-square me-1"></i>Eliminar</a>

                    <!-- start CHANGE STATE ACTIONS -->

                    {% if envio.status == 'N' %}
                    <a href="{% url 'envios:envio-withdraw' pk=object.id %}"
                        class="btn btn-outline-warning btn-sm me-1 mt-1"><i class="bi bi-truck me-1"></i>Retirar</a>
                    {% endif %}

                    {% if envio.status == 'S' %}
                    <a href="{% url 'envios:envio-withdraw' pk=object.id %}"
                        class="btn btn-outline-warning btn-sm me-1 mt-1"><i class="bi bi-truck me-1"></i>Retirar</a>
                    {% endif %}

                    {% if envio.status == 'M' %}
                    <div class="dropdown">
                        <button class="btn btn-secondary btn-sm dropdown-toggle me-1 mt-1" type="button"
                            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Acciones disponibles
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a href="{% url 'envios:envio-deposit' pk=object.id %}" class="dropdown-item"><i
                                        class="bi bi-truck-flatbed me-1"></i>Depositar</a></li>
                            <li>
                                <a href="{% url 'envios:envio-transfer' pk=object.id %}" class="dropdown-item"><i
                                        class="bi bi-arrow-left-right me-1"></i>Transferir</a>
                            </li>
                            <li>
                                <a href="{% url 'envios:envio-devolver' pk=object.id %}" class="dropdown-item"><i
                                        class="bi bi-arrow-return-left me-1"></i>Devolver</a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li>
                                <a href="{% url 'envios:envio-delivery-attempt' pk=object.id %}"
                                    class="dropdown-item"><i class="bi bi-x me-1"></i>No se puedo entregar</a>
                            </li>
                            <li>
                                <a href="{% url 'envios:envio-successful-delivery' pk=object.id %}"
                                    class="dropdown-item"><i class="bi bi-check2 me-1"></i>Entregado</a>
                            </li>
                        </ul>
                    </div>
                    {% endif %}

                    <!-- end CHANGE STATE ACTIONS -->

                </div>
                <hr>

                <!-- SHIMPENT INFO -->
                <div style="max-width: 100%; max-height: 500px;" class="d-inline">

                    <iframe style="width: 100%; height: 400px;" style="border:0" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBaR5f-Gfb6-dJaTjd3wiamnadF5Q7P8g0
                    &q={{ object.full_address | addres_to_url_str }},{{ object.town.partido.name }},{{ object.town.partido.get_province_display }}">
                    </iframe>
                </div>

                <hr>
                <style>
                    .wrapper {
                        max-width: 100%;
                        display: grid;
                        grid-gap: 15px;
                        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                    }

                    .wrapper>div {
                        border: 0.5px solid rgba(0, 0, 0, 0.1);
                        border-radius: 5px;
                        padding: 0.4em 0.7em;
                        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
                    }
                </style>
                <div style="max-width: 100%; max-height: 500px;" class="d-inline mb-1">
                    <div class="wrapper d-grid w-100">
                        <div>
                            <div class="fs-6 text-muted mb-1"><i class="bi bi-hash me-1"></i>ID Tracking</div>
                            <div class="lh-1">{{ object.tracking_id }}</div>
                        </div>
                        <div>
                            <div class="fs-6 text-muted mb-1"><i class="bi bi-shop-window me-1"></i>Cliente</div>
                            <div class="lh-1"><a
                                    href="{% url 'clients:detail' object.client.pk %}">{{ object.client.name }}</a>
                            </div>
                        </div>
                        <div>
                            <div class="  text-muted mb-1"><i class="bi bi-compass me-1"></i>Localización actual</div>
                            <div class="lh-1">
                                <!-- NEW OR STILL -->
                                {% if object.status == 'N' or object.status == 'S' %}
                                {% if object.deposit %}En depósito "{{ object.deposit.name }}" en
                                <i>{{ object.deposit.full_address }}</i>
                                {% if object.deposit.client %}de
                                {{ object.deposit.client.name }}{% endif %}{% else %}En
                                un depósito que se eliminó del sistema.{% endif %}

                                <!-- MOVING -->
                                {% elif object.status == 'M' %}
                                En manos de {% if object.carrier %}<a href="#" data-bs-toggle="tooltip"
                                    data-bs-html="true"
                                    title="{{ object.carrier.full_name }}<em><br>{% if object.carrier.client != None %}&nbsp;({{ object.carrier.client.name }}){% else %}&nbsp;(Sinergia){% endif %}</em>">@{{ object.carrier.username }}</a>{% else %}un
                                usuario que se eliminó{% endif %}

                                <!-- DELIVERED -->
                                {% elif object.status == 'D' %}
                                Entregado por {% if deliverer %}<a href="#" data-bs-toggle="tooltip" data-bs-html="true"
                                    title="{{ deliverer.full_name }}<em><br>{% if deliverer.client != None %}&nbsp;({{ deliverer.client.name }}){% else %}&nbsp;(Sinergia){% endif %}</em>">@{{ deliverer.username }}</a>
                                el {{delivered_date}}{% else %}un usuario que se eliminó del sistema.{% endif %}

                                {% endif %}
                            </div>
                        </div>
                        <div>
                            <div class="text-muted mb-1"><i class="bi bi-truck me-1"></i>Tipo de envío</div>
                            <div class="lh-1">
                                {% if object.is_flex %}
                                <span class="badge" style="background-color: #212529;">FLEX</span>
                                {% else %}
                                <span class="badge" style="background-color: #808080;">MENSAJERIA</span>
                                {% endif %}</td>
                            </div>
                        </div>

                        {% if object.is_flex %}
                        <div>
                            <div class="  text-muted mb-1"><i class="bi bi-hash me-1"></i>Identificador de ML Flex</div>
                            <div class="lh-1">
                                {{object.flex_id}}
                            </div>
                        </div>
                        {% endif %}

                        <div>
                            <div class="text-muted mb-1"><i class="bi bi-card-list me-1"></i>Detalle</div>
                            <div class="lh-1">{{ readable_detail }}</div>
                        </div>

                        <div>
                            <div class="text-muted mb-1"><i class="bi bi-geo me-1"></i>Destino</div>
                            <div class="lh-1">
                                <a data-bs-toggle="tooltip" data-bs-html="true" title='
                                <div style="display: flex; justify-content: center;">
                                    Dirección: {{ object.street }}<br>
                                    Código Postal: {{ object.zipcode }}<br>
                                    Town: {{ object.town.name }}<br>
                                    Partido:
                                    {{ object.town.partido.name }}{% if object.remarks != None and object.remarks != '' %}<br>Observaciones:
                                    {{ object.remarks }}{% endif %}
                                </div>'>
                                    {{ object.full_address }}</a>
                            </div>
                        </div>

                        {% if object.receiver.name != None and object.receiver.name != '' %}
                        <div>
                            <div class="text-muted mb-1"><i class="bi bi-person me-1"></i>Destinatario</div>
                            <div class="lh-1">{{ object.receiver.name }}</div>
                        </div>
                        {% endif %}

                        {% if object.receiver.doc != None and object.receiver.doc != '' %}
                        <div>
                            <div class="  text-muted mb-1">Nro. Doc. Destinatario</div>
                            <div class="lh-1">{{ object.receiver.doc }}</div>
                        </div>
                        {% endif %}

                        {% if object.phone != None and object.phone != '' %}
                        <div>
                            <div class="text-muted mb-1"><i class="bi bi-telephone me-1"></i>Teléfono Destinatario</div>
                            <div class="lh-1">{{ object.receiver.phone }}</div>
                        </div>
                        {% endif %}

                        {% if object.max_delivery_date != None and object.max_delivery_date != '' %}
                        <div>
                            <div class="text-muted mb-1"><i class="bi bi-calendar-date me-1"></i>Fecha máxima de entrega
                            </div>
                            <div class="lh-1">{{ object.max_delivery_date }}</div>
                        </div>
                        {% endif %}

                        {% if object.delivery_schedule != None and object.delivery_schedule != '' %}
                        <div>
                            <div class="text-muted mb-1"><i class="bi bi-clock me-1"></i>Horarios de entrega</div>
                            <div class="lh-1">{{ object.delivery_schedule }}</div>
                        </div>
                        {% endif %}

                        {% if object.charge != None and object.charge != '' and object.charge > 0 %}
                        <div>
                            <div class="  text-muted mb-1"><i class="bi bi-wallet2 me-1"></i></i>Cobrarle al
                                destinatario
                            </div>
                            <div class="lh-1">$ {{ object.charge }}.-</div>
                        </div>
                        {% endif %}

                        <div>
                            <div class="text-muted mb-1"><i class="bi bi-coin me-1"></i>Precio actual</div>
                            <div class="lh-1">$ {{ actual_price }}.-</div>
                        </div>

                        {% if object.bulk_upload and object.bulk_upload.original_file.url %}
                        <div>
                            <div class="text-muted mb-1"><i class="bi bi-file-earmark me-1"></i>Archivo de origen</div>
                            <div class="lh-1">
                                <a target="_blank"
                                    href="{{ object.bulk_upload.original_file.url}}">{{ object.bulk_upload.original_file.url | truncate_start}}</a>
                            </div>
                        </div>
                        {% endif %}


                    </div>
                </div>
                {% if 1 == 2 %}
                <div class="d-none">
                    <table class="table table-bordered">
                        <tbody id="overrided-1" class="overrided-tbody">
                            <tr>
                                <td class="bg-dark fw-bolder text-nowrap" style="color: white;"><i
                                        class="bi bi-shop-window"></i>
                                    ID Tracking</td>
                                <td class="w-100">{{ object.tracking_id }}</td>
                            </tr>
                            <tr>
                                <td class="bg-dark fw-bolder text-nowrap" style="color: white;"><i
                                        class="bi bi-shop-window"></i>
                                    Cliente</td>
                                <td class="w-100"><a
                                        href="{% url 'clients:detail' object.client.pk %}">{{ object.client.name }}</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="bg-dark fw-bolder text-nowrap" style="color: white;"><i
                                        class="bi bi-compass"></i>
                                    Localización</td>
                                <td class="w-100">
                                    <!-- NEW OR STILL -->
                                    {% if object.status == 'N' or object.status == 'S' %}
                                    {% if object.deposit %}En depósito "{{ object.deposit.name }}" en
                                    <i>{{ object.deposit.full_address }}</i>
                                    {% if object.deposit.client %}de
                                    {{ object.deposit.client.name }}{% endif %}{% else %}En
                                    un depósito que se eliminó del sistema.{% endif %}

                                    <!-- MOVING -->
                                    {% elif object.status == 'M' %}
                                    En manos de {% if object.carrier %}<a href="#" data-bs-toggle="tooltip"
                                        data-bs-html="true"
                                        title="{{ object.carrier.full_name }}<em><br>{% if object.carrier.client != None %}&nbsp;({{ object.carrier.client.name }}){% else %}&nbsp;(Sinergia){% endif %}</em>">@{{ object.carrier.username }}</a>{% else %}un
                                    usuario que se eliminó{% endif %}

                                    <!-- DELIVERED -->
                                    {% elif object.status == 'D' %}
                                    Entregado por {% if deliverer %}<a href="#" data-bs-toggle="tooltip"
                                        data-bs-html="true"
                                        title="{{ deliverer.full_name }}<em><br>{% if deliverer.client != None %}&nbsp;({{ deliverer.client.name }}){% else %}&nbsp;(Sinergia){% endif %}</em>">@{{ deliverer.username }}</a>
                                    el {{delivered_date}}{% else %}un usuario que se eliminó del sistema.{% endif %}

                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td class="bg-dark fw-bolder text-nowrap" style="color: white;"><i
                                        class="bi bi-type"></i>
                                    Tipo de envío
                                </td>
                                <td class="w-100">
                                    {% if object.is_flex %}
                                    <span class="badge" style="background-color: #212529;">FLEX</span>
                                    {% else %}
                                    <span class="badge" style="background-color: #808080;">MENSAJERIA</span>
                                    {% endif %}</td>
                            </tr>
                            {% if object.is_flex %}
                            <tr>
                                <td class="bg-dark fw-bolder text-nowrap" style="color: white;"><i
                                        class="bi bi-hash"></i>
                                    Id. Flex
                                </td>
                                <td class="w-100">{{ object.flex_id }}</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <td class="bg-dark fw-bolder text-nowrap" style="color: white;"><i
                                        class="bi bi-card-list"></i>
                                    Detalle
                                </td>
                                <td class="w-100">{{ readable_detail }}</td>
                            </tr>
                            <tr>
                                <td class="bg-dark fw-bolder text-nowrap" style="color: white;"><i
                                        class="bi bi-geo"></i>
                                    Destino
                                </td>
                                <td class="w-100">
                                    <a data-bs-toggle="tooltip" data-bs-html="true" title='
                                <div style="display: flex; justify-content: center;">
                                    Dirección: {{ object.street }}<br>
                                    Código Postal: {{ object.zipcode }}<br>
                                    Town: {{ object.town.name }}<br>
                                    Partido:
                                    {{ object.town.partido.name }}{% if object.remarks != None and object.remarks != '' %}<br>Observaciones:
                                    {{ object.remarks }}{% endif %}
                                </div>'>
                                        {{ object.full_address }}</a>
                                </td>

                            </tr>
                            {% if object.receiver.name != None and object.receiver.name != '' %}
                            <tr>
                                <td class="bg-dark fw-bolder text-nowrap" style="color: white;"><i
                                        class="bi bi-person"></i>
                                    Destinatario
                                </td>
                                <td class="w-100">{{ object.receiver.name }}</td>
                            </tr>
                            {% endif %}
                            {% if object.receiver.doc != None and object.receiver.doc != '' %}
                            <tr>
                                <td class="bg-dark fw-bolder text-nowrap" style="color: white;"><i
                                        class="bi bi-person-badge"></i> Nro.
                                    Doc. Destinatario</td>
                                <td class="w-100">{{ object.receiver.doc }}</td>
                            </tr>
                            {% endif %}
                            {% if object.phone != None and object.phone != '' %}
                            <tr>
                                <td class="bg-dark fw-bolder text-nowrap" style="color: white;"><i
                                        class="bi bi-telephone"></i>
                                    Teléfono
                                </td>
                                <td class="w-100">{{ object.receiver.phone }}</td>
                            </tr>
                            {% endif %}
                            {% if object.max_delivery_date != None and object.max_delivery_date != '' %}
                            <tr>
                                <td class="bg-dark fw-bolder text-nowrap" style="color: white;"><i
                                        class="bi bi-calendar-date"></i>
                                    Fecha máxima de entrega
                                </td>
                                <td class="w-100">{{ object.max_delivery_date }}</td>
                            </tr>
                            {% endif %}
                            {% if object.delivery_schedule != None and object.delivery_schedule != '' %}
                            <tr>
                                <td class="bg-dark fw-bolder text-nowrap" style="color: white;"><i
                                        class="bi bi-clock"></i>
                                    Horarios de entrega
                                </td>
                                <td class="w-100">{{ object.delivery_schedule }}</td>
                            </tr>
                            {% endif %}
                            {% if object.charge != None and object.charge != '' and object.charge > 0 %}
                            <tr>
                                <td class="bg-dark fw-bolder text-nowrap" style="color: white;"><i
                                        class="bi bi-clock"></i>
                                    Cobrarle al destinatario</td>
                                <td class="w-100">$ {{ object.charge }}.-</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <td class="bg-dark fw-bolder text-nowrap" style="color: white;"><i
                                        class="bi bi-currency-dollar"></i> Precio actual</td>
                                <td class="w-100">$ {{ actual_price }}.-</td>
                            </tr>
                            {% if object.bulk_upload and object.bulk_upload.original_file.url %}
                            <tr>
                                <td class="bg-dark fw-bolder text-nowrap" style="color: white;"><i
                                        class="bi bi-file-earmark"></i> Archivo origen</td>
                                <td class="w-100"><a
                                        href="{{ object.bulk_upload.original_file.url}}">{{ object.bulk_upload.original_file.url | truncate_start}}</a>
                                </td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>

        </div>
    </div>

    <div class="card flex-fill shadow-lg mt-3">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div>
                <i class="bi bi-activity me-2"></i>Movimientos del envío
            </div>
        </div>
        <div class="card-body">
            <table class="table align-middle">
                <thead>
                    <tr class="bg-dark text-white fw-bold">
                        <th>Fecha</th>
                        {% if request.user.role == 'admin' %}
                        <th>Autor</th>
                        {% endif %}
                        <th>Movimiento</th>
                    </tr>
                </thead>
                <tbody>
                    {% for movement in movements %}
                    <tr class="spaced-tr p-4">
                        <td class="text-nowrap p-3 fw-bold fst-italic" style=" color: #C556FF;">
                            {{movement.date_created | date:"d/m/Y H:i"}}</td>
                        {% if request.user.role == 'admin' %}
                        <td>{% if movement.created_by %} <a
                                href="{% url 'account:employees-detail' pk=movement.created_by.pk %}">@{{ movement.created_by.username}}</a>{% else %}Se
                            eliminó al usuario que creó el envío.{% endif %}</td>
                        {% endif %}
                        {% if request.user.role == 'client' %}
                        <td class="w-100">
                            <b>{{movement.client_display.0}}</b>: {{ movement.client_display.1 }}
                        </td>
                        {% else %}
                        <td class="w-100">
                            {% if movement.result == '_new' %}
                            Agregado al sistema por {% if movement.created_by %}<a
                                href="{% url 'account:employees-detail' pk=movement.created_by.pk %}"
                                data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-html="true"
                                title="{{movement.created_by.full_name}}">{{movement.created_by.username}}</a>{% else %}un
                            usuario que se eliminó{% endif %}.


                            {% elif movement.result == 'collected' %}
                            Recolectado de {% if movement.from_deposit %}<a
                                href="{% url 'deposits:detail' pk=movement.from_deposit.pk%}">{{movement.from_deposit.name}}</a>{% else %}
                            un depósito que se eliminó{% endif %} por {% if movement.to_carrier %}<a
                                href="{% url 'account:employees-detail' pk=movement.to_carrier.pk %}"
                                data-bs-toggle="tooltip" data-bs-html="true"
                                title="{{ movement.to_carrier.full_name }}">{{ movement.to_carrier.username }}</a>{% else %}un
                            usuario que se eliminó.{% endif %}

                            {% elif movement.result == 'transfered' %}
                            Transferido de {% if movement.from_carrier %}<a
                                href="{% url 'account:employees-detail' pk=movement.from_carrier.pk %}"
                                data-bs-toggle="tooltip" data-bs-html="true"
                                title="{{movement.from_carrier.full_name}}">{{movement.from_carrier.username}}</a>{% else %}un
                            usuario que se eliminó{% endif %} a {% if movement.to_carrier %}<a
                                href="{% url 'account:employees-detail' pk=movement.to_carrier.pk %}"
                                data-bs-toggle="tooltip" data-bs-html="true" title="{{movement.to_carrier.full_name}}">
                                {{movement.to_carrier.username}}</a>{% else %}un usuario que se eliminó.{% endif %}

                            {% elif movement.result == 'in_deposit' %}
                            Depositado en {% if movement.to_deposit %}<a
                                href="{% url 'deposits:detail' pk=movement.to_deposit.pk %}">{{movement.to_deposit.name}}</a>
                            {% else %}un depósito que se eliminó{% endif %} por {% if movement.from_carrier %}<a
                                href="{% url 'account:employees-detail' pk=movement.from_carrier.pk %}"
                                data-bs-toggle="tooltip" data-bs-html="true"
                                title="{{movement.from_carrier.full_name}}">
                                {{movement.from_carrier.username}}</a>{% else %}un usuario que se eliminó{% endif %}.

                            {% elif movement.result == 'success' %}
                            Entregado por {% if movement.from_carrier %}<a
                                href="{% url 'account:employees-detail' pk=movement.from_carrier.pk %}"
                                data-bs-toggle="tooltip" data-bs-html="true"
                                title="{{ movement.from_carrier.full_name }}">{{movement.from_carrier.username}}</a>{% else %}un
                            usuario que se eliminó{% endif %}.

                            {% elif movement.result == 'rejected' %}
                            Rechazado en destino a {% if movement.from_carrier %}<a
                                href="{% url 'account:employees-detail' pk=movement.from_carrier.pk %}"
                                data-bs-toggle="tooltip" data-bs-html="true"
                                title="{{movement.from_carrier.full_name}}">{{movement.from_carrier.username}}</a>{% else %}un
                            usuario que se eliminó{% endif %}{% if movement.comment %}.
                            Comentario: "{{ movement.comment }}"{% endif %}{% if movement.proof %}. Se adjuntó <a
                                href="{{ movement.proof.url }}">esta imagen</a>.{% endif %}


                            {% elif movement.result == 'reprogram' %}
                            Reprogramado en destino a {% if movement.from_carrier %}<a
                                href="{% url 'account:employees-detail' pk=movement.from_carrier.pk %}"
                                data-bs-toggle="tooltip" data-bs-html="true"
                                title="{{movement.from_carrier.full_name}}">{{movement.from_carrier.username}}</a>{% else %}un
                            usuario que se eliminó{% endif %}{% if movement.comment %}.
                            Comentario: "{{ movement.comment }}"{% endif %}{% if movement.proof %}. Se adjuntó <a
                                href="{{ movement.proof.url }}">esta imagen</a>.{% endif %}

                            {% elif movement.result == 'not-respond' %}
                            Sin respuesta en destino a {% if movement.from_carrier %}<a
                                href="{% url 'account:employees-detail' pk=movement.from_carrier.pk %}"
                                data-bs-toggle="tooltip" data-bs-html="true"
                                title="{{movement.from_carrier.full_name}}">{{movement.from_carrier.username}}</a>{% else %}un
                            usuario que se eliminó.{% endif %}{% if movement.comment %}.
                            Comentario: "{{ movement.comment }}"{% endif %}{% if movement.proof %}. Se adjuntó <a
                                href="{{ movement.proof.url }}">esta imagen</a>.{% endif %}

                            {% elif movement.result == 'custom' %}
                            {% if movement.from_carrier %}<a
                                href="{% url 'account:employees-detail' pk=movement.from_carrier.pk %}"
                                data-bs-toggle="tooltip" data-bs-html="true"
                                title="{{movement.from_carrier.full_name}}">{{movement.from_carrier.username}}</a>{% else %}un
                            usuario que se eliminó{% endif %} no pudo entregar en destino:
                            {% if movement.comment %}"{{ movement.comment }}"{% else %}sin
                            comentario{% endif %}{% if movement.proof %}. Se adjuntó <a
                                href="{{ movement.proof.url }}">esta
                                imagen</a>{% endif %}.

                            {% else %}
                            Sin información del movimiento.
                            {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        });
    });
</script>

{% endblock content %}