{% extends 'base_system.html' %}

{% block modal_content %}

<!-- start BASE MODAL DIALOG -->
<div class="modal fade position-absolute top-0" style="z-index: 10000000;" id="baseModal" tabindex="-1"
    aria-labelledby="baseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filtersModalLabel">Elegí cómo querés filtrar los envíos.
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <!-- start DATES FROM AND TO FILTER -->
                <div class="row g-2 mt-2">
                    <div class="col form-floating">
                        <div class="input-group mb-3">

                            <!-- start DATE FROM -->
                            <input type="date" class="form-control datepicker" name="max_delivery_date_since_modal"
                                id="id_max_delivery_date_since_modal" value="" placeholder="Desde">
                            <!-- end DATE FROM -->

                            <span class="input-group-text">&nbsp;a&nbsp;</span>

                            <!-- start DATE TO -->
                            <input type="date" class="form-control datepicker" name="max_delivery_date_to_modal"
                                id="id_max_delivery_date_to_modal" value="" placeholder="Desde">
                            <!-- end DATE TO -->

                        </div>
                    </div>
                </div>
                <!-- end DATES FROM AND TO FILTER -->

                <!-- start CLIENT TYPE SELECTION -->
                <div class="row g-2 mt-2">
                    <div class="col">
                        <label for="id_client_modal" class="form-label">Cliente</label>

                        <!-- start CLIENT SELECTION -->
                        <select id="id_client_modal" name="client_modal" class="form-select"
                            aria-label="client selection">
                            <option value="">---</option>
                            {% for client in clients %}
                            <option value="{{client.id}}">{{client.name}}</option>
                            {% endfor %}
                        </select>
                        <!-- end CLIENT SELECTION -->

                    </div>
                </div>
                <!-- end CLIENT SELECTION -->

                <!-- start SHIPMENT STATUS AND SHIPMENT TYPE SELECTION -->
                <div class="row g-2 mt-2">
                    <div class="col">
                        <label for="id_shipment_status" class="form-label">Estado</label>

                        <!-- start SHIPMENT STATUS -->
                        <select id="id_shipment_status" name="shipment_status_modal" class="form-select"
                            aria-label="status selection">
                            <option value="">---</option>
                            <option value="N">Nuevo</option>
                            <option value="V">En viaje</option>
                            <option value="E">Entregado</option>
                        </select>
                        <!-- end SHIPMENT STATUS -->

                    </div>

                    <div class="col">
                        <label for="id_shipment_type_modal" class="form-label">Tipo</label>

                        <!-- start SHIPMENT TYPE SELECTION -->
                        <select id="id_shipment_type_modal" name="shipment_type_modal" class="form-select"
                            aria-label="shipment type selection">
                            <option value="" {% if not shipment_type%}selected{% endif %}>---</option>
                            <option value="flex" {% if shipment_type == 'flex' %}selected{% endif %}>Flex</option>
                            <option value="delivery" {% if shipment_type == 'delivery' %}selected{% endif %}>Mensajería
                            </option>
                        </select>
                        <!-- end SHIPMENT TYPE SELECTION -->

                    </div>
                </div>
            </div>
            <!-- end SHIPMENT STATUS AND SHIPMENT TYPE SELECTION -->

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    onclick="clearFilters()">Limpiar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    onclick="applyFilters()">Aplicar</button>
            </div>
        </div>
    </div>
</div>
<!-- end BASE MODAL DIALOG -->

{% endblock modal_content %}

{% block content %}

<style>
    .cell-centered,
    h5 {
        text-align: center;
    }

    h5 {
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .bool-div {
        color: white;
        padding: 1px;
    }

    .bool-div-true {
        background-color: green;
    }

    .bool-div-false {
        background-color: red;
    }

    td {
        overflow: auto;
        white-space: nowrap;
    }
</style>

<div class="col-md-12 col-xxl-12 d-flex">
    <div class="card flex-fill">
        <div class="card-body d-flex flex-column">
            <h2 class="card-title text-center mt-2">LISTADO DE ENVIOS</h2>

            <!-- start SEARCH AND ORDERING FUNCTIONALITIES -->
            <form method="GET" class="mt-4" id="list_form">
                <div class="row g-2">
                    <div class="col-12 col-lg-5 d-inline-flex justify-content-start align-items-center">
                        <input type="text" class="form-control " name="q" id="id_q"
                            value="{% if query != '' and query%}{{query}}{% endif %}"
                            placeholder="Ingresá texto para buscar...">
                        <div class="mx-lg-1">
                            <div id="clearSearchDiv" class="{% if query == '' or not query %}hide-on-load{% endif %}">
                                <a id="clearSearch" type="button" class="ms-2 text-decoration-none"
                                    onclick="clearSearch()" style="cursor: pointer;">Limpiar</i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-7 d-flex justify-content-end align-items-center">

                        <label for="id_order_by" id="labelOrder_by" class="me-2">Ordenar por: </label>
                        <div aria-label="Default select example">
                            <select id="id_order_by" name="order_by" class="form-select"
                                aria-label="Order by selection">
                                <option value="date_created_desc"
                                    {% if order_by == 'date_created_desc' %}selected{% endif %}>
                                    Carga&nbsp;más&nbsp;recientes</option>
                                <option value="date_created" {% if order_by == 'date_created' %}selected{% endif %}>
                                    Carga&nbsp;más&nbsp;antiguas</option>
                                <option value="is_flex_desc" {% if order_by == 'is_flex_desc' %}selected{% endif %}>
                                    Flex&nbsp;primero</option>
                                <option value="is_flex" {% if order_by == 'is_flex' %}selected{% endif %}>
                                    Mensajería&nbsp;primero
                                </option>
                                <option value="recipient_town__name"
                                    {% if order_by == 'recipient_town__name' %}selected{% endif %}>Localidad&nbsp;A-Z
                                </option>
                                <option value="recipient_town__name_desc"
                                    {% if order_by == 'recipient_town__name_desc' %}selected{% endif %}>
                                    Localidad&nbsp;Z-A
                                </option>
                                <option value="client__name" {% if order_by == 'client__name' %}selected{% endif %}>
                                    Cliente&nbsp;A-Z</option>
                                <option value="client__name_desc"
                                    {% if order_by == 'client__name_desc' %}selected{% endif %}>
                                    Cliente&nbsp;Z-A</option>
                                <option value="status" {% if order_by == 'status' %}selected{% endif %}>Estado&nbsp;A-Z
                                </option>
                                <option value="status_desc" {% if order_by == 'status_desc' %}selected{% endif %}>
                                    Estado&nbsp;Z-A</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-sm btn-primary mx-2" data-bs-toggle="modal"
                            data-bs-target="#baseModal">Filtros <span
                                class="badge bg-danger">{{ filters_count }}</span></button>
                    </div>
                </div>

                <div class="d-none">
                    <input id='id_filter_by' type="text" name="filter_by"
                        value="{% if filter_by %}{{ filter_by }}{% endif %}">
                </div>


            </form>
            <!-- end SEARCH AND ORDERING FUNCTIONALITIES -->

            <hr class="bg-dark mt-4">


            <!-- start ACTIONS -->
            <div class="d-flex flex-wrap align-items-center">
                <button type="button" id="bulkDeleteDelivery" class="btn btn-danger btn-sm m-2 m-xl-0 ms-xl-2"
                    {% comment "" %} onclick="deleteSelectedItems()" {% endcomment %} disabled>
                    Asiganar a
                </button>
                <div id="selectedCount" class="ms-2 ms-xl-3">0 de {{totalEnvios}} elementos seleccionados</div>
                <div class="my-1 mx-xl-3">
                    <div id="clearSelectionDiv" class="hide-on-load">
                        <a id="clearSelection" type="button" class="ms-2 text-decoration-none"
                            onclick="removeSelection()" style="cursor: pointer;">Quitar selección
                            <i class="bi bi-x"></i></a>
                    </div>
                </div>
                <div class="d-flex d-lg-inline ms-auto p-2">
                    <a href="{% url 'envios:envio-add' %}" type="button" class="flex-fill btn btn-success btn-sm me-1">
                        <i class="bi bi-plus"></i>Crear nuevo
                    </a>
                    <a href="{% url 'envios:envio-bulk-add' %}" type="button"
                        class="flex-fill btn btn-success btn-sm ms-1">
                        <i class="bi bi-plus"></i>Carga masiva
                    </a>
                </div>
            </div>
            <!-- end ACTIONS -->


            <hr class="bg-dark">


            <!-- start MAIN CONTENT -->
            {% if envios %}

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                <div class="form-check">
                                    <input class="form-check-input checkbox-select" type="checkbox" id="checkAll">
                                </div>
                            </th>
                            <th>Fecha de carga</th>
                            <th class="cell-centered">Estado</th>
                            <th class="cell-centered">Tipo</th>
                            <th class="cell-centered">Cliente</th>
                            <th class="cell-centered">Destino</th>
                            <th class="cell-centered">Fecha límite</th>
                            <th class="cell-centered">Horario de entrega</th>
                            <th class="cell-centered"></th>
                        </tr>
                    </thead>
                    <tbody id="overrided-1" class="overrided-tbody">
                        {% for envio in envios %}
                        {% include 'envios/envio/snippets/item.html' with obj=envio counter=forloop.counter%}
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Pagination -->
            {% include 'envios/envio/snippets/pagination.html' with envios=envios %}

            {% else %}

            <div>
                <p class="card-text">No se encontraron resultados que coincidan con la búsqueda: "{{query}}"</p>
            </div>

            {% endif %}
            <!-- end MAIN CONTENT -->

        </div>
    </div>
</div>

{% include 'envios/envio/snippets/list_js.html' %}

{% endblock content %}