{% load price_extras %}

<tr id="tr-{{obj.id}}" class="table-item" onclick="onItemClicked({{ obj.id }},'{% url 'prices:fdetail' pk=obj.id %}');">
    <td id="td-{{obj.id}}" class="td-item-checker">
        <div class="form-check">
            <input id="item-checker-{{obj.id}}" class="form-check-input item-checker" type="checkbox" value="">
        </div>
    </td>
    <td>{{ obj.code }}</td>
    <td>{{ obj.price }}</td>
    <td style="text-align: start;"><a href="#" class="edit-button" title="Editar"><i
                class="bi bi-pencil-square"></i></a></td>
    <td></td>
</tr>