{% extends 'base/base_list.html' %}

{% load url_extras %}

{% block modal_content %}

<!-- start BASE MODAL DIALOG -->
<div class="modal fade position-absolute top-0" style="z-index: 10000000;" id="baseModal" tabindex="-1"
    aria-labelledby="baseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filtersModalLabel">Elegí cómo querés filtrar los movimientos.
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <!-- start DATES FROM AND TO FILTER -->
                <div class="row g-2 mt-2">
                    <div class="col form-floating">
                        <div class="input-group mb-3">

                            <!-- start DATE FROM -->
                            <input type="date" class="form-control datepicker" name="min_date_modal"
                                id="id_min_date_modal" max="{{ max_selectable_date }}"
                                value="{% if min_date %}{{ min_date }}{% endif %}" placeholder="Desde">
                            <!-- end DATE FROM -->

                            <span class="input-group-text">&nbsp;a&nbsp;</span>

                            <!-- start DATE TO -->
                            <input type="date" class="form-control datepicker" name="max_date_modal"
                                id="id_max_date_modal" max="{{ max_selectable_date }}"
                                value="{% if max_date %}{{ max_date }}{% endif %}" placeholder="Desde">
                            <!-- end DATE TO -->

                        </div>
                    </div>
                </div>
                <!-- end DATES FROM AND TO FILTER -->

                <!-- start RESULT SELECTION -->
                <div class="row g-2 mt-2">
                    <div class="col">
                        <label for="id_result_modal" class="form-label">Resultado</label>

                        <select id="id_result_modal" name="result_modal" class="form-select"
                            aria-label="result selection">
                            <option value="">---</option>
                            {% for code, result_name in results %}
                            <option value="{{ code }}" {% if result == code %}selected{% endif %}>{{ result_name }}
                            </option>
                            {% endfor %}
                        </select>

                    </div>
                </div>
                <!-- end RESULT SELECTION -->

                <!-- start FROM DEPOSIT SELECTION -->
                <div class="row g-2 mt-2">
                    <div class="col">
                        <label for="id_from_deposit_modal" class="form-label">Depósito emisor</label>

                        <select id="id_from_deposit_modal" name="from_deposit_modal" class="form-select"
                            aria-label="from_deposit selection">
                            <option value="">---</option>
                            {% for deposit in deposits %}
                            <option value="{{ deposit.id }}"
                                {% if from_deposit == deposit.id|stringformat:"i" %}selected{% endif %}>
                                {{ deposit.name }}
                            </option>
                            {% endfor %}
                        </select>

                    </div>
                </div>
                <!-- end FROM DEPOSIT SELECTION -->

                <!-- start TO DEPOSIT SELECTION -->
                <div class="row g-2 mt-2">
                    <div class="col">
                        <label for="id_to_deposit_modal" class="form-label">Depósito receptor</label>

                        <select id="id_to_deposit_modal" name="to_deposit_modal" class="form-select"
                            aria-label="to_deposit selection">
                            <option value="">---</option>
                            {% for deposit in deposits %}
                            <option value="{{ deposit.id }}"
                                {% if to_deposit == deposit.id|stringformat:"i" %}selected{% endif %}>
                                {{ deposit.name }}
                            </option>
                            {% endfor %}
                        </select>

                    </div>
                </div>
                <!-- end TO DEPOSIT SELECTION -->

                <!-- start FROM CARRIER SELECTION -->
                <div class="row g-2 mt-2">
                    <div class="col">
                        <label for="id_from_carrier_modal" class="form-label">Usuario emisor</label>

                        <select id="id_from_carrier_modal" name="from_carrier_modal" class="form-select"
                            aria-label="from_carrier selection">
                            <option value="">---</option>
                            {% for carrier in carriers %}
                            <option value="{{ carrier.id }}"
                                {% if from_carrier == carrier.id|stringformat:"i" %}selected{% endif %}>
                                {{ carrier.full_name }}
                            </option>
                            {% endfor %}
                        </select>

                    </div>
                </div>
                <!-- end FROM CARRIER SELECTION -->

                <!-- start TO CARRIER SELECTION -->
                <div class="row g-2 mt-2">
                    <div class="col">
                        <label for="id_to_carrier_modal" class="form-label">Usuario receptor</label>

                        <select id="id_to_carrier_modal" name="to_carrier_modal" class="form-select"
                            aria-label="to_carrier selection">
                            <option value="">---</option>
                            {% for carrier in carriers %}
                            <option value="{{ carrier.id }}"
                                {% if to_carrier == carrier.id|stringformat:"i" %}selected{% endif %}>
                                {{ carrier.full_name }}
                            </option>
                            {% endfor %}
                        </select>

                    </div>
                </div>
                <!-- end TO CARRIER SELECTION -->

                <!-- start AUTHOR SELECTION -->
                <div class="row g-2 mt-2">
                    <div class="col">
                        <label for="id_author_modal" class="form-label">Autor</label>

                        <select id="id_author_modal" name="author_modal" class="form-select"
                            aria-label="author selection">
                            <option value="">---</option>
                            {% for user in users %}
                            <option value="{{ user.id }}"
                                {% if author == user.id|stringformat:"i" %}selected{% endif %}>
                                {{ user.full_name }}
                            </option>
                            {% endfor %}
                        </select>

                    </div>
                </div>
                <!-- end AUTHOR SELECTION -->

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    onclick="clearFilters()">Limpiar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    onclick="applyFilters()">Aplicar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade position-absolute top-0" style="z-index: 10000001;" id="modalEnvioNavigation" tabindex="-1"
    aria-labelledby="modalEnvioNavigation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filtersModalLabel">Envíos comprendidos en este movimiento
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                <ol id="olEnviosNavigation" class="list-group list-group-numbered">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                        <div class="fw-bold">Subheading</div>
                        Cras justo odio
                        </div>
                        <span class="badge bg-primary rounded-pill">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                        <div class="fw-bold">Subheading</div>
                        Cras justo odio
                        </div>
                        <span class="badge bg-primary rounded-pill">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                        <div class="fw-bold">Subheading</div>
                        Cras justo odio
                        </div>
                        <span class="badge bg-primary rounded-pill">14</span>
                    </li>
                </ol>
                
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="applyFilterAndGo()">Ver todos</button>
            </div>
        </div>
    </div>
</div>
<!-- end BASE MODAL DIALOG -->

{% endblock modal_content %}



{% block orderby_block %}
<li>
    <button onclick="orderByChanged('date_created_desc','id_order_by','list_form');" class="dropdown-item">
        Carga&nbsp;más&nbsp;reciente
    </button>
</li>
<li>
    <button onclick="orderByChanged('date_created','id_order_by','list_form');" class="dropdown-item">
        Carga&nbsp;más&nbsp;antigua
    </button>
</li>
{% endblock orderby_block %}



{% block filters_block %}
<input type="text" id='id_min_date' name="min_date" {% if min_date %}value="{{ min_date }}" {% endif %}>
<input type="text" id='id_max_date' name="max_date" {% if max_date %}value="{{ max_date }}" {% endif %}>
<input type="text" id='id_result' name="result" {% if result %}value="{{ result }}" {% endif %}>
<input type="text" id='id_from_deposit' name="from_deposit" {% if from_deposit %}value="{{ from_deposit }}" {% endif %}>
<input type="text" id='id_to_deposit' name="to_deposit" {% if to_deposit %}value="{{ to_deposit }}" {% endif %}>
<input type="text" id='id_from_carrier' name="from_carrier" {% if from_carrier %}value="{{ from_carrier }}" {% endif %}>
<input type="text" id='id_to_carrier' name="to_carrier" {% if to_carrier %}value="{{ to_carrier }}" {% endif %}>
<input type="text" id='id_author' name="author" {% if author %}value="{{ author }}" {% endif %}>
<input type="text" id='id_selected_movement' name="selected_movement">
<input type="submit">
{% endblock filters_block %}



{% block objects_table_head_block %}
<th>Fecha</th>
{% if request.user.role == 'admin' %}<th>Autor</th>{% endif %}
<th>Movimiento</th>
<th>Detalle</th>
<th>Envíos</th>
<th>Comentario</th>
<th>Adjunto</th>
{% endblock objects_table_head_block %}


{% block objects_table_body_block %}
{% for movement in objects %}
<tr {% if movement.envios.count == 1 %}{% if movement.envios.first %}onclick="openSingleEnvio('{% url 'envios:envio-detail' pk=movement.envios.first.pk %}');"{% endif %}{% endif %}{% if movement.envios.count > 1 %} onclick="openModalEnvios('{{ movement.pk }}');" {% endif %}>
    <td>{{movement.date_created | date:"d/m/Y H:i"}}</td>
    {% if request.user.role == 'admin' %}
    <td>{% if movement.created_by %}
        <a class="btn btn-sm btn-secondary m-0 py-0" href="{% url 'account:employees-detail' movement.created_by.pk %}" data-bs-toggle="tooltip"
            data-bs-toggle="tooltip" data-bs-html="true"
            title="{{movement.created_by.full_name}}">{{movement.created_by.username}}</a>{% else %}Sin datos{% endif %}
    </td>
    {% endif %}
    <td>
        {% if movement.result == '_new' %}
        <span class="badge bg-info text-dark">Carga en sistema</span>
        {% elif movement.result == 'collected' %}
        <span class="badge bg-info text-dark">Recolección</span>
        {% elif movement.result == 'transfered' %}
        <span class="badge bg-info text-dark">Transferencia</span>
        {% elif movement.result == 'in_deposit' %}
        <span class="badge bg-info text-dark">Depósito</span>
        {% elif movement.result == 'success' %}
        <span class="badge bg-info text-dark">Entrega exitosa</span>
        {% elif movement.result == 'rejected' %}
        <span class="badge bg-info text-dark">Rechazado</span>
        {% elif movement.result == 'reprogram' %}
        <span class="badge bg-info text-dark">Reprogramado</span>
        {% elif movement.result == 'not-respond' %}
        <span class="badge bg-info text-dark">Sin respuesta</span>
        {% elif movement.result == 'custom' %}
        <span class="badge bg-info text-dark">No se pudo entregar</span>
        {% else %}
        <span class="badge bg-info text-dark">Sin información</span>
        {% endif %}
    </td>
    {% if request.user.role == 'client' %}
    <td class="text-wrap">
        <b>{{movement.client_display.0}}</b>: {{ movement.client_display.1 }}
    </td>
    {% else %}
    <td class="">
        {% if movement.result == '_new' %}
        {% if movement.created_by %}
        <a class="btn btn-sm btn-secondary m-0 py-0" href="{% url 'account:employees-detail' pk=movement.created_by.pk %}" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-html="true" title="{{movement.created_by.full_name}}"><i class="bi bi-person-badge me-1"></i>{{movement.created_by.username}}</a>
        <i class="bi bi-arrow-right"></i>
        <div class="btn btn-sm btn-success m-0 py-0"><i class="bi bi-server me-1"></i>Sistema</div>
        {% else %}
        <b>sin datos</b>
        {% endif %}

        {% elif movement.result == 'collected' %}
        {% if movement.from_deposit %}
        <a class="btn btn-sm btn-secondary m-0 py-0" href="{% url 'deposits:detail' pk=movement.from_deposit.pk%}"><i class="bi bi-shop me-1"></i>{{movement.from_deposit.name}}</a>
        {% else %}
        <b>Sin datos</b>
        {% endif %}
        <i class="bi bi-arrow-right"></i>
        {% if movement.to_carrier %}
        <a class="btn btn-sm btn-success m-0 py-0" href="{% url 'account:employees-detail' pk=movement.to_carrier.pk %}" data-bs-toggle="tooltip" data-bs-html="true" title="{{ movement.to_carrier.full_name }}"><i class="bi bi-person-badge me-1"></i>{{ movement.to_carrier.username }}</a>
        {% else %}
        <b>Sin datos</b>
        {% endif %}

        {% elif movement.result == 'transfered' %}
        {% if movement.from_carrier %}
        <a class="btn btn-sm btn-secondary m-0 py-0" href="{% url 'account:employees-detail' pk=movement.from_carrier.pk%}" data-bs-toggle="tooltip" data-bs-html="true" title="{{movement.from_carrier.full_name}}"><i class="bi bi-person-badge me-1"></i>{{movement.from_carrier.username}}</a>
        {% else %}
        <b>Sin datos</b>
        {% endif %}
        
        <i class="bi bi-arrow-left-right"></i>
        
        {% if movement.to_carrier %}
        <a class="btn btn-sm btn-success m-0 py-0" href="{% url 'account:employees-detail' pk=movement.to_carrier.pk %}" data-bs-toggle="tooltip" data-bs-html="true" title="{{movement.to_carrier.full_name}}"><i class="bi bi-person-badge me-1"></i>{{movement.to_carrier.username}}</a>
        {% else %}
        <b>Sin datos</b>
        {% endif %}

        {% elif movement.result == 'in_deposit' %}
        
        {% if movement.to_deposit %}
        <a class="btn btn-sm btn-secondary m-0 py-0" href="{% url 'deposits:detail' pk=movement.to_deposit.pk %}"><i class="bi bi-shop me-1"></i>{{movement.to_deposit.name}}</a>
        {% else %}
        <b>Sin datos</b>
        {% endif %}
        
        <i class="bi bi-arrow-right"></i>
        
        {% if movement.from_carrier %}
        <a class="btn btn-sm btn-success m-0 py-0" href="{% url 'account:employees-detail' pk=movement.from_carrier.pk %}" data-bs-toggle="tooltip" data-bs-html="true" title="{{movement.from_carrier.full_name}}"><i class="bi bi-person-badge me-1"></i>{{movement.from_carrier.username}}</a>
        {% else %}
        <b>Sin datos</b>
        {% endif %}

        {% elif movement.result == 'success' %}
        {% if movement.from_carrier %}
        <a class="btn btn-sm btn-secondary m-0 py-0" href="{% url 'account:employees-detail' pk=movement.from_carrier.pk %}" data-bs-toggle="tooltip" data-bs-html="true" title="{{ movement.from_carrier.full_name }}"><i class="bi bi-person-badge me-1"></i>{{movement.from_carrier.username}}</a>
        <i class="bi bi-arrow-right"></i>
        <div class="btn btn-sm btn-success m-0 py-0">Destino</div>
        {% else %}
        <b>Sin datos</b>
        {% endif %}

        {% elif movement.result == 'rejected' %}
        {% if movement.from_carrier %}
        <a class="btn btn-sm btn-secondary m-0 py-0" href="{% url 'account:employees-detail' pk=movement.from_carrier.pk %}" data-bs-toggle="tooltip" data-bs-html="true" title="{{movement.from_carrier.full_name}}"><i class="bi bi-person-badge me-1"></i>{{movement.from_carrier.username}}</a>
        <i class="bi bi-x-lg"></i>
        <div class="btn btn-sm btn-danger m-0 py-0"><i class="bi bi-geo me-1"></i>Destino</div>
        {% else %}
        <b>sin datos</b>
        {% endif %}

        {% elif movement.result == 'reprogram' %}
        
        {% if movement.from_carrier %}
        <a class="btn btn-sm btn-secondary m-0 py-0" href="{% url 'account:employees-detail' pk=movement.from_carrier.pk %}" data-bs-toggle="tooltip" data-bs-html="true" title="{{movement.from_carrier.full_name}}"><i class="bi bi-person-badge me-1"></i>{{movement.from_carrier.username}}</a>
        <i class="bi bi-x-lg"></i>
        <div class="btn btn-sm btn-danger m-0 py-0"><i class="bi bi-geo me-1"></i>Destino</div>
        {% else %}
        <b>sin datos</b>
        {% endif %}

        {% elif movement.result == 'not-respond' %}
        {% if movement.from_carrier %}
        <a class="btn btn-sm btn-secondary m-0 py-0" href="{% url 'account:employees-detail' pk=movement.from_carrier.pk %}" data-bs-toggle="tooltip" data-bs-html="true" title="{{movement.from_carrier.full_name}}"><i class="bi bi-person-badge me-1"></i>{{movement.from_carrier.username}}</a>
        <i class="bi bi-x-lg"></i>
        <div class="btn btn-sm btn-danger m-0 py-0"><i class="bi bi-geo me-1"></i>Destino</div>
        {% else %}
        <b>sin datos</b>
        {% endif %}
        {% comment %} Sin respuesta en destino a {% if movement.from_carrier %}<a href="{% url 'account:employees-detail' pk=movement.from_carrier.pk %}"
            data-bs-toggle="tooltip" data-bs-html="true"
            title="{{movement.from_carrier.full_name}}"><i class="bi bi-person-badge me-1"></i>{{movement.from_carrier.username}}</a>{% else %}<b>sin datos</b>{% endif %}{% if movement.comment %}.
        Comentario: "{{ movement.comment }}"{% endif %}{% if movement.proof %}. Se adjuntó <a
            href="{{ movement.proof.url }}">esta imagen</a>.{% endif %} {% endcomment %}

        {% elif movement.result == 'custom' %}
        {% if movement.from_carrier %}
        <a class="btn btn-sm btn-secondary m-0 py-0" href="{% url 'account:employees-detail' pk=movement.from_carrier.pk %}" data-bs-toggle="tooltip" data-bs-html="true" title="{{movement.from_carrier.full_name}}"><i class="bi bi-person-badge me-1"></i>{{movement.from_carrier.username}}</a>
        <i class="bi bi-x-lg"></i>
        <div class="btn btn-sm btn-danger m-0 py-0"><i class="bi bi-geo me-1"></i>Destino</div>
        {% else %}
        <b>Sin datos</b>
        {% endif %}
        {% comment %} {% if movement.from_carrier %}<a href="{% url 'account:employees-detail' pk=movement.from_carrier.pk %}" data-bs-toggle="tooltip"
            data-bs-html="true" title="{{movement.from_carrier.full_name}}"><i class="bi bi-person-badge me-1"></i>{{movement.from_carrier.username}}</a>{% else %}<b>Un usuario</b>{% endif %} no
        pudo entregar en destino: {% if movement.comment %}"{{ movement.comment }}"{% else %}sin
        comentario{% endif %}{% if movement.proof %}. Se adjuntó <a href="{{ movement.proof.url }}">esta
            imagen</a>{% endif %}. {% endcomment %}

        {% else %}
        <b>Sin información del movimiento.</b>
        {% endif %}
    </td>
    {% endif %}
    <td class="">
        {{movement.envios.count}}
    </td>
    <td class="text-wrap">
        {% if movement.comment %}"{{ movement.comment }}"{% else %}-{% endif %}
    </td>
    <td class="">
        {% if movement.proof %}<a href="{{ movement.proof.url }}">Imagen</a>{% else %}-{% endif %}
    </td>
</tr>
{% endfor %}
{% endblock objects_table_body_block %}

{% block scripts_block %}
<script>
    let movements = {};
    {% for movement in objects %}
        {% if movement.envios.count > 0 %}
            movements["{{movement.pk}}"] = []
            {% for envio in movement.envios.all %}
                {% if envio.pk %}
                    movements["{{movement.pk}}"].push({
                        pk: "{{ envio.pk }}",
                        url: "'{% url 'envios:envio-detail' pk=envio.pk %}'",
                        address: "{{ envio.full_address }}",
                        client: "{{ envio.client.name }}"
                    });
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}

    function openModalEnvios(pk) {
        console.log("Hola");
        const olEnviosNavigation = document.querySelector("#olEnviosNavigation");
        olEnviosNavigation.innerHTML = "";
        const currElements = movements[pk].map(
            mov => `<li onclick="window.location.href=${mov.url}" class="list-group-item list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                        <div class="fw-bold">${mov.address}</div>
                        ${mov.client}
                        </div>
                    </li>`
        );
        olEnviosNavigation.innerHTML = currElements.join("\n");
        document.getElementById('id_selected_movement').value = pk
        var myModal = new bootstrap.Modal(document.getElementById('modalEnvioNavigation'));
        myModal.show()
    }

    const passedOrderBy = '{{ order_by }}';
    var lastQuery = "{{ query_by }}";

    $(document).ready(function () {
        console.log("HOLA");
        $('#list_form').submit(function (e) {
            e.preventDefault();
            [
                'id_query_by',
                'id_order_by',
                'id_results_per_page',
                'id_min_date',
                'id_max_date',
                'id_result',
                'id_from_deposit',
                'id_to_deposit',
                'id_from_carrier',
                'id_to_carrier',
                'id_author',
            ].forEach(function (id) {
                if ($('#' + id).val() == '') {
                    $('#' + id).prop('disabled', true);
                } else {
                    $('#' + id).prop('disabled', false);
                }
            });
            $(this).unbind('submit').submit();
        });

        enableTooltips();

        $('#id_results_per_page').change(function () {
            $('#list_form').submit();
        });

        $('#id_query_by').on('change paste keyup', function () {
            show('clearSearchDiv', $('#id_query_by').val() != '');
            show('btnCleanQuery', $('#id_query_by').val() != '');
        });

        if (lastQuery != '') {
            $('#id_query_by').val(lastQuery);
            show('clearSearchDiv', $('#id_query_by').val() != '');
            show('btnCleanQuery', $('#id_query_by').val() != '');
        }

        $('#btnRadioRPP50').click(function () {
            $('#id_results_per_page').val(50);
            $('#list_form').submit();
        });
        $('#btnRadioRPP100').click(function () {
            $('#id_results_per_page').val(100);
            $('#list_form').submit();
        });
        $('#btnRadioRPP200').click(function () {
            $('#id_results_per_page').val(200);
            $('#list_form').submit();
        });
        $('#btnRadioRPP500').click(function () {
            $('#id_results_per_page').val(500);
            $('#list_form').submit();
        });


    });

    function clearSearch() {
        $('#id_query_by').val('');
        if (lastQuery != '' && lastQuery != null && lastQuery != undefined) {
            $('#list_form').submit();
        }
        show('btnCleanQuery', false);
    }

    function applyFilters() {
        $('#id_min_date').val($('#id_min_date_modal').val());
        $('#id_max_date').val($('#id_max_date_modal').val());
        $('#id_result').val($('#id_result_modal').val());
        $('#id_from_deposit').val($('#id_from_deposit_modal').val());
        $('#id_to_deposit').val($('#id_to_deposit_modal').val());
        $('#id_from_carrier').val($('#id_from_carrier_modal').val());
        $('#id_to_carrier').val($('#id_to_carrier_modal').val());
        $('#id_author').val($('#id_author_modal').val());
        $('#list_form').submit();
    }

    function clearFilters() {
        $('#id_min_date').val('');
        $('#id_max_date').val('');
        $('#id_result').val('');
        $('#id_from_deposit').val('');
        $('#id_to_deposit').val('');
        $('#id_from_carrier').val('');
        $('#id_to_carrier').val('');
        $('#id_author').val('');
        $('#list_form').submit();
    }

    function openSingleEnvio(url) {
        window.location.href = url;
    }
    
    
    function applyFilterAndGo() {
        const pk = document.getElementById('id_selected_movement').value
        window.location.href = `{% url 'envios:envio-list' %}?tckid=` + pk
    }
</script>

{% endblock scripts_block %}