{% extends 'base/base_list.html' %}


{% block modal_content %}

<!-- start BASE MODAL DIALOG -->
<div class="modal fade position-absolute top-0" style="z-index: 10000000;" id="baseModal" tabindex="-1"
    aria-labelledby="baseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filtersModalLabel">Elegí cómo querés filtrar los movimientos.
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <!-- start DATES FROM AND TO FILTER -->
                <div class="row g-2 mt-2">
                    <div class="col form-floating">
                        <div class="input-group mb-3">

                            <!-- start DATE FROM -->
                            <input type="date" class="form-control datepicker" name="min_date_modal"
                                id="id_min_date_modal" max="{{ max_selectable_date }}"
                                value="{% if min_date %}{{ min_date }}{% endif %}" placeholder="Desde">
                            <!-- end DATE FROM -->

                            <span class="input-group-text">&nbsp;a&nbsp;</span>

                            <!-- start DATE TO -->
                            <input type="date" class="form-control datepicker" name="max_date_modal"
                                id="id_max_date_modal" max="{{ max_selectable_date }}"
                                value="{% if max_date %}{{ max_date }}{% endif %}" placeholder="Desde">
                            <!-- end DATE TO -->

                        </div>
                    </div>
                </div>
                <!-- end DATES FROM AND TO FILTER -->

                <!-- start RESULT SELECTION -->
                <div class="row g-2 mt-2">
                    <div class="col">
                        <label for="id_result_modal" class="form-label">Resultado</label>

                        <select id="id_result_modal" name="result_modal" class="form-select"
                            aria-label="result selection">
                            <option value="">---</option>
                            {% for code, result_name in results %}
                            <option value="{{ code }}" {% if result == code %}selected{% endif %}>{{ result_name }}
                            </option>
                            {% endfor %}
                        </select>

                    </div>
                </div>
                <!-- end RESULT SELECTION -->

                <!-- start FROM DEPOSIT SELECTION -->
                <div class="row g-2 mt-2">
                    <div class="col">
                        <label for="id_from_deposit_modal" class="form-label">Depósito emisor</label>

                        <select id="id_from_deposit_modal" name="from_deposit_modal" class="form-select"
                            aria-label="from_deposit selection">
                            <option value="">---</option>
                            {% for deposit in deposits %}
                            <option value="{{ deposit.id }}"
                                {% if from_deposit == deposit.id|stringformat:"i" %}selected{% endif %}>
                                {{ deposit.name }}
                            </option>
                            {% endfor %}
                        </select>

                    </div>
                </div>
                <!-- end FROM DEPOSIT SELECTION -->

                <!-- start TO DEPOSIT SELECTION -->
                <div class="row g-2 mt-2">
                    <div class="col">
                        <label for="id_to_deposit_modal" class="form-label">Depósito receptor</label>

                        <select id="id_to_deposit_modal" name="to_deposit_modal" class="form-select"
                            aria-label="to_deposit selection">
                            <option value="">---</option>
                            {% for deposit in deposits %}
                            <option value="{{ deposit.id }}"
                                {% if to_deposit == deposit.id|stringformat:"i" %}selected{% endif %}>
                                {{ deposit.name }}
                            </option>
                            {% endfor %}
                        </select>

                    </div>
                </div>
                <!-- end TO DEPOSIT SELECTION -->

                <!-- start FROM CARRIER SELECTION -->
                <div class="row g-2 mt-2">
                    <div class="col">
                        <label for="id_from_carrier_modal" class="form-label">Usuario emisor</label>

                        <select id="id_from_carrier_modal" name="from_carrier_modal" class="form-select"
                            aria-label="from_carrier selection">
                            <option value="">---</option>
                            {% for carrier in carriers %}
                            <option value="{{ carrier.id }}"
                                {% if from_carrier == carrier.id|stringformat:"i" %}selected{% endif %}>
                                {{ carrier.full_name }}
                            </option>
                            {% endfor %}
                        </select>

                    </div>
                </div>
                <!-- end FROM CARRIER SELECTION -->

                <!-- start TO CARRIER SELECTION -->
                <div class="row g-2 mt-2">
                    <div class="col">
                        <label for="id_to_carrier_modal" class="form-label">Usuario receptor</label>

                        <select id="id_to_carrier_modal" name="to_carrier_modal" class="form-select"
                            aria-label="to_carrier selection">
                            <option value="">---</option>
                            {% for carrier in carriers %}
                            <option value="{{ carrier.id }}"
                                {% if to_carrier == carrier.id|stringformat:"i" %}selected{% endif %}>
                                {{ carrier.full_name }}
                            </option>
                            {% endfor %}
                        </select>

                    </div>
                </div>
                <!-- end TO CARRIER SELECTION -->

                <!-- start AUTHOR SELECTION -->
                <div class="row g-2 mt-2">
                    <div class="col">
                        <label for="id_author_modal" class="form-label">Autor</label>

                        <select id="id_author_modal" name="author_modal" class="form-select"
                            aria-label="author selection">
                            <option value="">---</option>
                            {% for user in users %}
                            <option value="{{ user.id }}"
                                {% if author == user.id|stringformat:"i" %}selected{% endif %}>
                                {{ user.full_name }}
                            </option>
                            {% endfor %}
                        </select>

                    </div>
                </div>
                <!-- end AUTHOR SELECTION -->

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    onclick="clearFilters()">Limpiar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    onclick="applyFilters()">Aplicar</button>
            </div>
        </div>
    </div>
</div>
<!-- end BASE MODAL DIALOG -->

{% endblock modal_content %}



{% block orderby_block %}
<li>
    <button onclick="orderByChanged('date_created_desc','id_order_by','list_form');" class="dropdown-item">
        Carga&nbsp;más&nbsp;reciente
    </button>
</li>
<li>
    <button onclick="orderByChanged('date_created','id_order_by','list_form');" class="dropdown-item">
        Carga&nbsp;más&nbsp;antigua
    </button>
</li>
{% endblock orderby_block %}



{% block filters_block %}
<input type="text" id='id_min_date' name="min_date" {% if min_date %}value="{{ min_date }}" {% endif %}>
<input type="text" id='id_max_date' name="max_date" {% if max_date %}value="{{ max_date }}" {% endif %}>
<input type="text" id='id_result' name="result" {% if result %}value="{{ result }}" {% endif %}>
<input type="text" id='id_from_deposit' name="from_deposit" {% if from_deposit %}value="{{ from_deposit }}" {% endif %}>
<input type="text" id='id_to_deposit' name="to_deposit" {% if to_deposit %}value="{{ to_deposit }}" {% endif %}>
<input type="text" id='id_from_carrier' name="from_carrier" {% if from_carrier %}value="{{ from_carrier }}" {% endif %}>
<input type="text" id='id_to_carrier' name="to_carrier" {% if to_carrier %}value="{{ to_carrier }}" {% endif %}>
<input type="text" id='id_author' name="author" {% if author %}value="{{ author }}" {% endif %}>
<input type="submit">
{% endblock filters_block %}



{% block objects_table_head_block %}
<th>Fecha</th>
<th>Autor</th>
<th>Movimiento</th>
{% endblock objects_table_head_block %}


{% block objects_table_body_block %}
{% for movement in objects %}
<tr>
    <td>{{movement.date_created | date:"d/m/Y H:i"}}</td>
    {% if request.user.role == 'admin' %}
    <td>{% if movement.created_by %}
        <a href="{% url 'account:employees-detail' pk=movement.created_by.pk %}" data-bs-toggle="tooltip"
            data-bs-toggle="tooltip" data-bs-html="true"
            title="{{movement.created_by.full_name}}">{{movement.created_by.username}}</a>{% else %}Sindatos{% endif %}
    </td>
    {% endif %}
    {% if request.user.role == 'client' %}
    <td class="w-100">
        <b>{{movement.client_display.0}}</b>: {{ movement.client_display.1 }}
    </td>
    {% else %}
    <td class="w-100">
        {% if movement.result == '_new' %}
        Agregado al sistema por <a href="{% url 'account:employees-detail' pk=movement.created_by.pk %}"
            data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-html="true"
            title="{{movement.created_by.full_name}}">{{movement.created_by.username}}</a>

        {% elif movement.result == 'collected' %}
        Recolectado de <a
            href="{% url 'deposits:detail' pk=movement.from_deposit.pk%}">{{movement.from_deposit.name}}</a>
        por <a href="{% url 'account:employees-detail' pk=movement.to_carrier.pk %}" data-bs-toggle="tooltip"
            data-bs-html="true" title="{{ movement.to_carrier.full_name }}">{{ movement.to_carrier.username }}</a>

        {% elif movement.result == 'transfered' %}
        Transferido de <a href="{% url 'account:employees-detail' pk=movement.from_carrier.pk%}"
            data-bs-toggle="tooltip" data-bs-html="true"
            title="{{movement.from_carrier.full_name}}">{{movement.from_carrier.username}}</a> a <a
            href="{% url 'account:employees-detail' pk=movement.to_carrier.pk %}" data-bs-toggle="tooltip"
            data-bs-html="true" title="{{movement.to_carrier.full_name}}">
            {{movement.to_carrier.username}}</a>

        {% elif movement.result == 'in_deposit' %}
        Depositado en <a href="{% url 'deposits:detail' pk=movement.to_deposit.pk %}">{{movement.to_deposit.name}}</a>
        por <a href="{% url 'account:employees-detail' pk=movement.from_carrier.pk %}" data-bs-toggle="tooltip"
            data-bs-html="true" title="{{movement.from_carrier.full_name}}"> {{movement.from_carrier.username}}</a>

        {% elif movement.result == 'success' %}
        Entregado por <a href="{% url 'account:employees-detail' pk=movement.from_carrier.pk %}"
            data-bs-toggle="tooltip" data-bs-html="true"
            title="{{ movement.from_carrier.full_name }}">{{movement.from_carrier.username}}</a>

        {% elif movement.result == 'rejected' %}
        Rechazado en destino a <a href="{% url 'account:employees-detail' pk=movement.from_carrier.pk %}"
            data-bs-toggle="tooltip" data-bs-html="true"
            title="{{movement.from_carrier.full_name}}">{{movement.from_carrier.username}}</a>{% if movement.comment %}.
        Comentario: "{{ movement.comment }}"{% endif %}{% if movement.proof %}. Se adjuntó <a
            href="{{ movement.proof.url }}">esta imagen</a>.{% endif %}


        {% elif movement.result == 'reprogram' %}
        Reprogramado en destino a <a href="{% url 'account:employees-detail' pk=movement.from_carrier.pk %}"
            data-bs-toggle="tooltip" data-bs-html="true"
            title="{{movement.from_carrier.full_name}}">{{movement.from_carrier.username}}</a>{% if movement.comment %}.
        Comentario: "{{ movement.comment }}"{% endif %}{% if movement.proof %}. Se adjuntó <a
            href="{{ movement.proof.url }}">esta imagen</a>.{% endif %}

        {% elif movement.result == 'not-respond' %}
        Sin respuesta en destino a <a href="{% url 'account:employees-detail' pk=movement.from_carrier.pk %}"
            data-bs-toggle="tooltip" data-bs-html="true"
            title="{{movement.from_carrier.full_name}}">{{movement.from_carrier.username}}</a>{% if movement.comment %}.
        Comentario: "{{ movement.comment }}"{% endif %}{% if movement.proof %}. Se adjuntó <a
            href="{{ movement.proof.url }}">esta imagen</a>.{% endif %}

        {% elif movement.result == 'custom' %}
        <a href="{% url 'account:employees-detail' pk=movement.from_carrier.pk %}" data-bs-toggle="tooltip"
            data-bs-html="true" title="{{movement.from_carrier.full_name}}">{{movement.from_carrier.username}}</a> no
        pudo entregar en destino: {% if movement.comment %}"{{ movement.comment }}"{% else %}sin
        comentario{% endif %}{% if movement.proof %}. Se adjuntó <a href="{{ movement.proof.url }}">esta
            imagen</a>{% endif %}.

        {% else %}
        Sin información del movimiento.
        {% endif %}
    </td>
    {% endif %}
</tr>
{% endfor %}
{% endblock objects_table_body_block %}



{% block scripts_block %}
<script>
    const passedOrderBy = '{{ order_by }}';
    var lastQuery = "{{ query_by }}";

    $(document).ready(function () {

        $('#list_form').submit(function (e) {
            e.preventDefault();
            [
                'id_query_by',
                'id_order_by',
                'id_results_per_page',
                'id_min_date',
                'id_max_date',
                'id_result',
                'id_from_deposit',
                'id_to_deposit',
                'id_from_carrier',
                'id_to_carrier',
                'id_author',
            ].forEach(function (id) {
                if ($('#' + id).val() == '') {
                    $('#' + id).prop('disabled', true);
                } else {
                    $('#' + id).prop('disabled', false);
                }
            });
            $(this).unbind('submit').submit();
        });

        enableTooltips();

        $('#id_results_per_page').change(function () {
            $('#list_form').submit();
        });

        $('#id_query_by').on('change paste keyup', function () {
            show('clearSearchDiv', $('#id_query_by').val() != '');
            show('btnCleanQuery', $('#id_query_by').val() != '');
        });

        if (lastQuery != '') {
            $('#id_query_by').val(lastQuery);
            show('clearSearchDiv', $('#id_query_by').val() != '');
            show('btnCleanQuery', $('#id_query_by').val() != '');
        }

        $('#btnRadioRPP50').click(function () {
            $('#id_results_per_page').val(50);
            $('#list_form').submit();
        });
        $('#btnRadioRPP100').click(function () {
            $('#id_results_per_page').val(100);
            $('#list_form').submit();
        });
        $('#btnRadioRPP200').click(function () {
            $('#id_results_per_page').val(200);
            $('#list_form').submit();
        });
        $('#btnRadioRPP500').click(function () {
            $('#id_results_per_page').val(500);
            $('#list_form').submit();
        });


    });

    function clearSearch() {
        $('#id_query_by').val('');
        if (lastQuery != '' && lastQuery != null && lastQuery != undefined) {
            $('#list_form').submit();
        }
        show('btnCleanQuery', false);
    }


    function applyFilters() {
        $('#id_min_date').val($('#id_min_date_modal').val());
        $('#id_max_date').val($('#id_max_date_modal').val());
        $('#id_result').val($('#id_result_modal').val());
        $('#id_from_deposit').val($('#id_from_deposit_modal').val());
        $('#id_to_deposit').val($('#id_to_deposit_modal').val());
        $('#id_from_carrier').val($('#id_from_carrier_modal').val());
        $('#id_to_carrier').val($('#id_to_carrier_modal').val());
        $('#id_author').val($('#id_author_modal').val());
        $('#list_form').submit();
    }

    function clearFilters() {
        $('#id_min_date').val('');
        $('#id_max_date').val('');
        $('#id_result').val('');
        $('#id_from_deposit').val('');
        $('#id_to_deposit').val('');
        $('#id_from_carrier').val('');
        $('#id_to_carrier').val('');
        $('#id_author').val('');
        $('#list_form').submit();
    }
</script>

{% endblock scripts_block %}