<div class="row m-0 mt-3 mb-2">
    <div class="col">
        <h5 class="card-title font-monospace top-card mx-1"><i class="bi bi-shop-window" style="color: grey;"></i> EN
            ORIGEN - Esperando para ser retirados</h5>
        <div class="card">
            <div class="card shadow-lg bg-white">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Depósito</th>
                                    <th>Cliente</th>
                                    <th class="cell-centered">Cantidad</th>
                                    <th class="cell-centered">Con fecha de entrega</th>
                                    <th class="cell-centered">Con horario de entrega</th>
                                    <th class="cell-centered">Reprogramados</th>
                                </tr>
                            </thead>
                            <tbody id="overrided-1" class="overrided-tbody">
                                <style>
                                    td {
                                        overflow: auto;
                                        white-space: nowrap;
                                    }
                                </style>
                                {% for obj in clients_with_envios %}
                                {% if obj.envio_count > 0 or obj.priorities > 0 or obj.has_special_delivery_schedule_time %}
                                <tr id="tr-{{obj.id}}" class="table-item">
                                    <td><a href="{% url 'deposits:detail' obj.id %}">{{ obj.name }}</a></td>
                                    <td><a href="{% url 'clients:detail' obj.client__pk %}">{{ obj.client__name }}</a></td>
                                    <td class="cell-centered">
                                        {% if obj.envio_count > 0 %}
                                        <a href="{% url 'envios:envio-list' %}?client_id={{ obj.client__pk }}&status=N">
                                        {% endif %}
                                        {{ obj.envio_count }} envío{% if obj.envio_count != 1 %}s{% endif %}
                                        {% if obj.envio_count > 0 %}
                                        </a>
                                        {% endif %}
                                    </td>
                                    <td class="cell-centered">
                                        {% if obj.priorities > 0 %}
                                        <a href="{% url 'envios:envio-list' %}?client_id={{ obj.client__pk }}&status=N&has_delivery_date=1">
                                        {% endif %}
                                        {{ obj.priorities }} envío{% if obj.priorities != 1 %}s{% endif %}
                                        {% if obj.priorities > 0 %}
                                        </a>
                                        {% endif %}
                                    </td>
                                    <td class="cell-centered">
                                        {% if obj.has_special_delivery_schedule_time > 0 %}
                                        <a href="{% url 'envios:envio-list' %}?client_id={{ obj.client__pk }}&status=N&is_scheduled=1">
                                        {% endif %}
                                        {{ obj.has_special_delivery_schedule_time }} envío{% if obj.has_special_delivery_schedule_time != 1 %}s{% endif %}
                                        {% if obj.has_special_delivery_schedule_time > 0 %}
                                        </a>
                                        {% endif %}
                                    </td>
                                    <td class="cell-centered">
                                        {% if obj.reprogramed > 0 %}
                                        <a href="{% url 'envios:envio-list' %}?client_id={{ obj.client__pk }}&status=N&has_delivery_attempt=1">
                                        {% endif %}
                                        {{ obj.reprogramed }} envío{% if obj.reprogramed != 1 %}s{% endif %}
                                        {% if obj.reprogramed > 0 %}
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% if clients_with_envios|length %}
                        No hay envíos en depósitos de clientes.
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>