<div class="row m-0 mt-3 mb-2">
    <div class="col">
        <h5 class="card-title font-monospace top-card mx-1"><i class="bi bi-shop-window" style="color: grey;"></i> EN
            ORIGEN - Esperando para ser retirados</h5>
        <div class="card">
            <div class="card shadow-lg bg-white">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Depósito</th>
                                    <th>Cliente</th>
                                    <th class="cell-centered">Cantidad</th>
                                    <th class="cell-centered">Prioritarios</th>
                                    <th class="cell-centered">Horarios especiales</th>
                                </tr>
                            </thead>
                            <tbody id="overrided-1" class="overrided-tbody">
                                <style>
                                    td {
                                        overflow: auto;
                                        white-space: nowrap;
                                    }
                                </style>
                                {% for obj in clients_with_envios %}
                                {% if obj.envio_count > 0 or obj.priorities > 0 or obj.has_special_delivery_schedule_time %}
                                <tr id="tr-{{obj.id}}" class="table-item" onclick="onItemClicked({{ obj.id }});">
                                    <td>{{ obj.name }}</td>
                                    <td>{{ obj.client__name }}</td>
                                    <td class="cell-centered">{{ obj.envio_count }} envíos</td>
                                    <td class="cell-centered">{{ obj.priorities }} envíos</td>
                                    <td class="cell-centered">{{ obj.has_special_delivery_schedule_time }} envíos</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>