<style>
    .at-origin-grid-wrapper {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    }

    .at-origin-grid-wrapper>article {
        border: 0.5px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 0.4em 0.7em;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
        background-color: white;
        max-width: 400px;
    }

    .at-origin-svg {
        min-width: 16px;
    }

    .at-origin-envios-count {
        max-width: 100px;
    }
</style>

<div class="at-origin-grid-wrapper">
    {% for obj in clients_with_envios %}
    {% if obj.envio_count > 0 or obj.priorities > 0 or obj.has_special_delivery_schedule_time %}
    <article>
        <div class="d-flex flex-row align-items-top justify-content-start">
            <div
                class="d-flex flex-column justify-content-start at-origin-envios-count p-1 flex-shrink-1 align-top lh-1 me-2">
                <div class="fs-2 fw-bold ">{{ obj.envio_count }}</div>
                <div class="fw-bold text-end align-top">envíos</div>
            </div>

            <div class="d-flex flex-column align-items-start w-100 p-1">
                <div>
                    <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-geo me-1" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 1a3 3 0 1 0 0 6 3 3 0 0 0 0-6zM4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z" />
                        </svg></span><a href="{% url 'deposits:detail' obj.id %}"
                        rel="noopener noreferrer">{{ obj.name }}</a>
                </div>
                <div>
                    <span class="me-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-shop-window temp-svg" viewBox="0 0 16 16">
                            <path
                                d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h12V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zm2 .5a.5.5 0 0 1 .5.5V13h8V9.5a.5.5 0 0 1 1 0V13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V9.5a.5.5 0 0 1 .5-.5z" />
                        </svg></span><a href="{% url 'clients:detail' obj.client__pk %}"
                        rel="noopener noreferrer">{{ obj.client__name }}</a>
                </div>
            </div>
        </div>
        <hr class="my-2">
        <div>
            <div class="d-flex flex-column align-items-start w-100">
                <div class="">
                    <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-geo me-1" viewBox="0 0 16 16">
                            <path
                                d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z" />
                            <path
                                d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                        </svg></span>Con fecha de entrega: {% if obj.priorities > 0 %}<a
                        href="{% url 'envios:envio-list' %}?client_id={{ obj.client__pk }}&status=N&has_delivery_date=1"
                        rel="noopener noreferrer">{{ obj.priorities }}
                        envío{% if obj.priorities > 1 %}s{% endif %}</a>{% else %}0 envíos{% endif %}
                </div>
            </div>
        </div>
        <div>
            <div class="d-flex flex-column align-items-start w-100">
                <div class="">
                    <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-geo me-1" viewBox="0 0 16 16">
                            <path
                                d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
                        </svg></span>Con horario de entrega:
                    {% if obj.has_special_delivery_schedule_time > 0 %}<a
                        href="{% url 'envios:envio-list' %}?client_id={{ obj.client__pk }}&status=N&is_scheduled=1"
                        rel="noopener noreferrer">{{ obj.has_special_delivery_schedule_time }}
                        envío{% if obj.has_special_delivery_schedule_time > 1 %}s{% endif %}</a>{% else %}0
                    envíos{% endif %}
                </div>
            </div>
        </div>
        <div>
            <div class="d-flex flex-column align-items-start w-100">
                <div class="">
                    <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-geo me-1" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                            <path
                                d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                        </svg></span>Reprogramados: {% if obj.reprogramed > 0 %}<a
                        href="{% url 'envios:envio-list' %}?client_id={{ obj.client__pk }}&status=N&has_delivery_attempt=1"
                        rel="noopener noreferrer">{{ obj.reprogramed }}
                        envío{% if obj.reprogramed > 1 %}s{% endif %}</a>{% else %}0 envíos{% endif %}
                </div>
            </div>
        </div>

        {% if obj.envio_count > 0 %}
        <hr class="my-2">

        <div class="d-grid">
            <a href="{% url 'envios:envio-list' %}?client_id={{ obj.client__pk }}&status=N" class="btn btn-primary">Ver
                todos ({{ obj.envio_count }})</a>
        </div>
        {% endif %}


    </article>
    {% endif %}
    {% empty %}
    No hay envíos en depósitos de origen.
    {% endfor %}
</div>

{% comment %}
<div class="row m-0 mt-3 mb-2">
    <div class="col">
        <div class="card">
            <div class="card shadow-lg bg-white">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Depósito</th>
                                    <th>Cliente</th>
                                    <th class="cell-centered">Cantidad</th>
                                    <th class="cell-centered">Con fecha de entrega</th>
                                    <th class="cell-centered">Con horario de entrega</th>
                                    <th class="cell-centered">Reprogramados</th>
                                </tr>
                            </thead>
                            <tbody id="overrided-1" class="overrided-tbody">
                                <style>
                                    td {
                                        overflow: auto;
                                        white-space: nowrap;
                                    }
                                </style>
                                {% for obj in clients_with_envios %}
                                {% if obj.envio_count > 0 or obj.priorities > 0 or obj.has_special_delivery_schedule_time %}
                                <tr id="tr-{{obj.id}}" class="table-item">
                                    <td><a href="{% url 'deposits:detail' obj.id %}">{{ obj.name }}</a></td>
                                    <td><a href="{% url 'clients:detail' obj.client__pk %}">{{ obj.client__name }}</a>
                                    </td>
                                    <td class="cell-centered">
                                        {% if obj.envio_count > 0 %}
                                        <a href="{% url 'envios:envio-list' %}?client_id={{ obj.client__pk }}&status=N">
                                            {% endif %}
                                            {{ obj.envio_count }} envío{% if obj.envio_count != 1 %}s{% endif %}
                                            {% if obj.envio_count > 0 %}
                                        </a>
                                        {% endif %}
                                    </td>
                                    <td class="cell-centered">
                                        {% if obj.priorities > 0 %}
                                        <a
                                            href="{% url 'envios:envio-list' %}?client_id={{ obj.client__pk }}&status=N&has_delivery_date=1">
                                            {% endif %}
                                            {{ obj.priorities }} envío{% if obj.priorities != 1 %}s{% endif %}
                                            {% if obj.priorities > 0 %}
                                        </a>
                                        {% endif %}
                                    </td>
                                    <td class="cell-centered">
                                        {% if obj.has_special_delivery_schedule_time > 0 %}
                                        <a
                                            href="{% url 'envios:envio-list' %}?client_id={{ obj.client__pk }}&status=N&is_scheduled=1">
                                            {% endif %}
                                            {{ obj.has_special_delivery_schedule_time }}
                                            envío{% if obj.has_special_delivery_schedule_time != 1 %}s{% endif %}
                                            {% if obj.has_special_delivery_schedule_time > 0 %}
                                        </a>
                                        {% endif %}
                                    </td>
                                    <td class="cell-centered">
                                        {% if obj.reprogramed > 0 %}
                                        <a
                                            href="{% url 'envios:envio-list' %}?client_id={{ obj.client__pk }}&status=N&has_delivery_attempt=1">
                                            {% endif %}
                                            {{ obj.reprogramed }} envío{% if obj.reprogramed != 1 %}s{% endif %}
                                            {% if obj.reprogramed > 0 %}
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% if not clients_with_envios %}
                    No hay envíos en depósitos de clientes.
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endcomment %}