<div class="row m-0 mb-2">
    <div class="col-12 col-sm-6 col-xl-3 col-xxl-2">
        <div class="card">
            <div class="card shadow-lg bg-white">
                <div class="card-body">
                    <h6 class="card-title font-monospace top-card"><i class="bi bi-shop-window"
                            style="color: grey;"></i> EN ORIGEN</h6>
                    <p class="card-text fw-bold fs-3">{{ main_stats.at_origin }} envíos</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-3 col-xxl-2">
        <div class="card">
            <div class="card shadow-lg bg-white">
                <div class="card-body">
                    <h6 class="card-title font-monospace top-card"><i class="bi bi-box"></i> EN DEPÓSITO</h6>
                    <p class="card-text fw-bold fs-3">{{ main_stats.at_deposit }} envíos</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-3 col-xxl-2">
        <div class="card">
            <div class="card shadow-lg bg-white">
                <div class="card-body">
                    <h6 class="card-title font-monospace top-card"><i class="bi bi-truck"></i> EN VIAJE</h6>
                    <p class="card-text fw-bold fs-3">{{ main_stats.moving }} envíos</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-3 col-xxl-2">
        <div class="card">
            <div class="card shadow-lg bg-white">
                <div class="card-body">
                    <h6 class="card-title font-monospace top-card"><i class="bi bi-check-circle"></i> ENTREGADOS
                    </h6>
                    <p class="card-text fw-bold fs-3">{{ main_stats.delivered }} envíos</p>
                </div>
            </div>
        </div>
    </div>
</div>