<style>
    td {
        overflow: auto;
        white-space: nowrap;
    }
</style>


<tr scope="row" id="tr-{{ obj.id }}" class="table-item highlight-row"
    onclick="window.location.href='{% url 'clients:detail' pk=obj.id %}'">
    <th id="td-{{ obj.id }}" class="td-item-checker {% if not obj.is_active %}text-danger{% endif %}">{{ pagination_from|add:counter |add:"-1" }}</th>
    <td class="{% if not obj.is_active %}text-danger{% endif %}">{% if obj.is_active %}<span class="badge bg-success">Habilitado</span>{% else %}<span class="badge bg-danger">Deshabilitado</span>{% endif %}</td>
    <td class="{% if not obj.is_active %}text-danger{% endif %}">{% if obj.name %}{{ obj.name }}{% else %}-{% endif %}</td>
    <td class="{% if not obj.is_active %}text-danger{% endif %}">{% if obj.contact_name %}{{ obj.contact_name }}{% else %}-{% endif %}</td>
    <td class="{% if not obj.is_active %}text-danger{% endif %}">{% if obj.contact_phone %}{{ obj.contact_phone }}{% else %}-{% endif %}</td>
    <td class="{% if not obj.is_active %}text-danger{% endif %}">{% if obj.contact_email %}{{ obj.contact_email }}{% else %}-{% endif %}</td>
    <td class="{% if not obj.is_active %}text-danger{% endif %}">{% if deposits %}{{ deposits }}{% else %}-{% endif %}</td>
    <td class="{% if not obj.is_active %}text-danger{% endif %} cell-centered">{{ discounts_count }}</td>
</tr>