<style>
    td {
        overflow: auto;
        white-space: nowrap;
    }
</style>


<tr scope="row" id="tr-{{ obj.id }}" class="table-item highlight-row"
    onclick="window.location.href='{% url 'clients:detail' pk=obj.id %}'">
    <th id="td-{{ obj.id }}" class="td-item-checker {% if not obj.is_active %}text-danger{% endif %}">{{ counter }}</th>
    <td class="{% if not obj.is_active %}text-danger{% endif %}">{% if obj.is_active %}Activo{% else %}Inactivo{% endif %}</td>
    <td class="{% if not obj.is_active %}text-danger{% endif %}">{{ obj.name }}</td>
    <td class="{% if not obj.is_active %}text-danger{% endif %}">{{ obj.contact_name }}</td>
    <td class="{% if not obj.is_active %}text-danger{% endif %}">{{ obj.contact_phone }}</td>
    <td class="{% if not obj.is_active %}text-danger{% endif %}">{{ obj.contact_email }}</td>
    <td class="{% if not obj.is_active %}text-danger{% endif %}">{{ deposits }}</td>
    <td class="{% if not obj.is_active %}text-danger{% endif %} cell-centered">{{ discounts_count }}</td>
</tr>