<tr id="tr-{{obj.id}}" class="table-item"
    onclick="onItemClicked({{ obj.id }},'{% url 'places:town-detail' pk=obj.id %}');">
    <td id="td-{{obj.id}}" class="td-item-checker">
        <div class="form-check">
            <input id="item-checker-{{obj.id}}" class="form-check-input item-checker" type="checkbox" value="">
        </div>
    </td>
    <td>{{ obj.name |title}}</td>
    <td>{{ obj.partido.name |title}}</td>
    <td>{{ obj.partido.get_province_display  }}</td>
    <td class="td-bool-div cell-centered">
        {% if obj.partido.is_amba %}
        <i class="d-inline-flex rounded-circle bool-div bool-div-true bi bi-check-circle"></i>
        {% else %}
        <i class="d-inline-flex rounded-circle bool-div bool-div-false bi bi-x-circle"></i>
        {% endif %}
    </td>
    <td class="cell-centered">
        {% if obj.partido.is_amba %}

        {% if obj.partido.amba_zone.name %}
        {{ obj.partido.amba_zone.name  }}
        {% else %}
        No especificada
        {% endif %}

        {% else %}
        No aplica

        {% endif %}
    </td>
    <td class="cell-centered">{{ obj.delivery_code.code }}</td>
    <td class="cell-centered">{{ obj.flex_code.code }}</td>
    <td style="text-align: start;">
        <a href="{% url 'places:town-edit' pk=item.id %}" class="edit-button me-1" title="Editar"><i
                class="bi bi-pencil-square"></i></a>
    </td>
</tr>