<!DOCTYPE html>
<html lang="en">

{% load static %}
{% load main_extras %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">


    <!-- ADD BASE CSS -->
    <link rel="stylesheet" href="{% static 'base/base_system.css' %}">

    <title>Sinergia Software</title>

</head>

<body class="d-flex flex-column">
    <div class="container-fluid everything">
        <div class="row">

            {% include 'snippets/header.html' %}


            <div id="not-header">

                {% include 'snippets/navigation.html' %}

                <main class="d-md-flex justify-content-center flex-grow-1 p-3 overflow-auto">

                    <!-- MAIN CONTENT LOCATION -->
                    {% block content %}
                    {% endblock content %}

                    <!-- SCROLL TO TOP BUTTON -->
                    <button onclick="topFunction()" type="button" class="btn btn-dark" id="backToTopBtn"
                        title="Volver a arriba"><i class="bi bi-arrow-up-circle"></i></button>

                    <!-- TOAST MESSAGES -->
                    {% if request.session.alerts %}
                    <div class="d-flex flex-column position-fixed bottom-0 end-0 p-2" style="z-index: 500">
                        <div class="toast-container">
                            {% for alert in request.session.alerts %}

                            <div id="{{ alert.id }}"
                                class="toast align-items-center text-white bg-{{ alert.status }} border-0 fade show"
                                role="alert" aria-live="assertive" aria-atomic="true">
                                <div class="d-flex">
                                    <div class="toast-body">
                                        {{ alert.message }}.
                                    </div>
                                    <button type="button" class="btn-close btn-close-white me-2 m-auto"
                                        data-bs-dismiss="toast" aria-label="Close"
                                        onclick="dismissAlert('{% url 'delet-alert' id=alert.id %}');"></button>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}

                </main>
            </div>

        </div>
    </div>


    <footer class="d-flex py-2 bg-light shadow text-black text-center
                    footer">
    </footer>


    <!-- ADD BASE JS -->
    <script src="{% static 'base/base_system.js' %}"></script>

    <script src=" https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>
</body>

</html>