{% extends 'base_system.html' %}

{% load static %}

{% block content %}
<style>
    h3 {
        text-align: center;
        margin-bottom: 10px;
        margin-top: 20px;
    }
</style>
<div class="col-md-12 col-lg-8 col-xl-6 col-xxl-5 d-flex-block">

    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div>
                Descarga
            </div>
            <div>
                <a href="{% url 'envios:envio-bulk-add' %}"><i class="bi bi-arrow-left-short"></i>Volver</a>
            </div>
        </div>
        <div class="card-body">
            <h3 class="card-title mt-3">
                {% if unused_flex_ids %}
                ¡Los envíos se cargaron parcialmente!
                {% elif unused_flex_ids and  not envios %}
                ¡Los envíos <strong>NO</strong> se cargaron!
                {% else %}
                <img src="{% static 'res/confetti.png' %}" height="25" width="25" alt="Confetti">
                ¡Los envíos se cargaron correctamente!
                <img src="{% static 'res/confetti.png' %}" height="25" width="25" alt="Confetti">
                {% endif %}
            </h3>
            <div class="mt-3">
                {% if unused_flex_ids %}
                <h6 class="mt-2">
                    Los siguientes envíos <strong>NO fueron agregados</strong> a la base:
                </h6>
                <div>
                    Los envíos {{ unused_flex_ids }} <strong>no fueron agregados</strong> porque el ID de Flex ya
                    existía en la base de datos.
                </div>
                <hr>
                {% endif %}

                {% if envios %}
                <h6 class="mt-2">
                    Los siguientes envíos fueron agregados a la base:
                </h6>
                <ul>
                    {% for envio in envios %}
                    {% if forloop.counter < 15 %}
                    <li>
                        {{ envio.full_address }}
                    </li>
                    {% elif forloop.counter == 15 %}
                    <li>
                        ...
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}

                <div class="alert alert-success mt-3 mb-3" role="alert">
                    Podés descargar el archivo PDF con las etiquetas listas para los paquetes haciendo <button
                        type="button" class="btn btn-link m-0 p-0" id="btnPrintLabels">click aquí</button>.

                    Tené en cuenta que la creación del archivo puede tardar un poco, por favor esperá y no cierres la
                    página.
                </div>
            </div>

            <div class="d-grid gap-2 d-md-flex pt-2">
                <a href="{% url 'envios:envio-list' %}" class="btn btn-secondary">Volver a envíos</a>
            </div>

        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        $('#btnPrintLabels').click(function () {
            $.ajax({
                type: 'POST',
                url: "{% url 'envios:post-selected-ids' %}",
                data: {
                    ids: '{{ids}}',
                    csrfmiddlewaretoken: getCookie('csrftoken'),
                },
                success: function (response) {
                    var url_mask = "{% url 'envios:envio-download-labels' %}";
                    window.location.href = url_mask;
                },
                error: function (response) {
                    // alert the error if any error occured
                    //alert(response["responseJSON"]["error"]);
                    alert(JSON.stringify(response));
                }
            })
        });
    });
</script>
{% endblock content %}