{% extends 'base_system.html' %} {% block content %}

<div class="col-md-12 col-lg-8 col-xl-6 col-xxl-5 d-flex-block">
    <form method='POST' id="id_form" class="card flex-fill shadow-lg bg-white" name="form" target="_top"
        enctype="multipart/form-data">{% csrf_token %}
        <div class="card-header d-flex justify-content-between align-items-center">
            <div class="fw-bold">
                {% if edit_mode %}Editar transacción{% else %}Nueva transacción{% endif %}
            </div>
            <div>
                <a href="{% url 'transactions:list' %}"><i class="bi bi-arrow-left-short"></i>Volver</a>
            </div>
        </div>
        <div class="card-body">

            <div class="row g-3">

                <!-- start CATEGORY SELECT -->
                <div class="col-12">
                    <label for="{{form.category.id_for_label}}" class="form-label">Categoría</label>
                    {{ form.category }}
                </div>
                <!-- end CATEGORY SELECT -->

                <!-- start DESCRIPTION INPUT -->
                <div class="col-12">
                    <label for="id_description" class="form-label">Descripción</label>
                    <input id="id_description" name="description" type="text"
                        {% if form.description.value %}value="{{form.description.value}}" {% endif %}
                        class="form-control {% if form.description.errors %}is-invalid{% endif %}" required>
                    <div class="invalid-feedback">
                        {% for error in form.description.errors %}{{error}}<br>{% endfor %}
                    </div>

                </div>
                <!-- end DESCRIPTION INPUT -->


                <!-- start DATE INPUT -->
                <div class="col-12 col-md-6">
                    <label for="id_date" class="form-label">Fecha</label>
                    <input id="id_date" name="date" type="date" value="{{ form.date.value | date:'Y-m-d' }}"
                        class="form-control datepicker {% if form.date.errors %}is-invalid{% endif %}"
                        max="{{ max_date }}" required>
                    <div class="invalid-feedback">
                        {% for error in form.date.errors %}{{error}}<br>{% endfor %}
                    </div>

                </div>
                <!-- end DATE INPUT -->

                {% load comma_to_point %}
                <!-- start AMOUNT INPUT -->
                <div class="col-12 col-md-6">
                    <label for="id_amount" class="form-label">Importe</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input id="id_amount" name="amount" type="number" step="0.01" min="-9999999999.99"
                            max="9999999999.99" class="form-control {% if form.amount.errors %}is-invalid{% endif %}"
                            aria-label="Amount (to the nearest dollar)" value="{{ form.amount.value|comma_to_point }}"
                            required>
                        <div class="invalid-feedback">
                            {% for error in form.amount.errors %}{{error}}<br>{% endfor %}
                        </div>
                    </div>
                </div>
                <!-- end AMOUNT INPUT -->

                <!-- start TRANSACTION INPUT -->
                <div class="col-12">
                    <label for="id_transaction_number" class="form-label">Nro. de transacción</label>
                    <input id="id_transaction_number" name="transaction_number" type="text"
                        class="form-control {% if form.transaction_number.errors %}is-invalid{% endif %}">
                    <div class="invalid-feedback">
                        {% for error in form.transaction_number.errors %}{{error}}<br>{% endfor %}
                    </div>

                </div>
                <!-- end TRANSACTION INPUT -->


                {% comment %} <!-- start SUMMARY -->
                <div class="col-12">
                    <label for="{{form.summary.id_for_label}}" class="form-label">Resumen relacionado</label>
                    {{ form.summary }}
                </div>
                <!-- start SUMMARY --> {% endcomment %}


                <!-- start FILES SELECT -->
                <div class="">
                    {% if proof_of_payment %}
                    <label for="last_proof" class="form-label">Comprobante de transacción actual</label><br>
                    <a href="{{ proof_of_payment.url }}">{{ proof_of_payment.text }}</a>
                    <input class="form-check-input ms-3" type="checkbox" name="clean_previous_proof_of_payment"
                        id="id_clean_previous_proof_of_payment">
                    <label class="form-check-label" for="id_clean_previous_proof_of_payment">
                        Limpiar
                    </label><br>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="id_proof_of_payment" class="form-label">Modificar comprobante de transacción</label>
                    <input class="form-control {% if form.proof_of_payment.errors %}is-invalid{% endif %}" type="file"
                        id="id_proof_of_payment" name="proof_of_payment">
                    <div class="invalid-feedback">
                        {% for error in form.proof_of_payment.errors %}{{error}}<br>{% endfor %}
                    </div>
                </div>
                <!-- end FILES SELECT -->

                <!-- start SUMBIT BUTTON -->
                <div class="d-grid gap-2 d-md-flex">
                    <input type="submit" value="Guardar" class="btn btn-primary">
                    <button type="button"
                        onclick="window.location.href='{% url 'transactions:delete' transaction.pk %}'"
                        class="btn btn-danger">Eliminar</button>
                </div>
                <!-- end SUMBIT BUTTON -->

            </div>
        </div>
    </form>

</div>

<script>
    $(document).ready(function () {

    });
</script>


{% endblock %}