{% extends 'base_system.html' %}

{% block modal_content %}

<!-- start BASE MODAL DIALOG -->
{% include 'tickets/snippets/filter_tickets_modal.html' %}
<!-- end BASE MODAL DIALOG -->

{% endblock modal_content %}

{% block content %}

<style>
    .cell-centered,
    h5 {
        text-align: center;
    }

    h5 {
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .bool-div {
        color: white;
        padding: 1px;
    }

    .bool-div-true {
        background-color: green;
    }

    .bool-div-false {
        background-color: red;
    }

    td {
        overflow: auto;
        white-space: nowrap;
    }
</style>


<div class="col-12 col-lg-8 d-flex flex-column">
    <div class="mb-2 fs-5 fw-bold d-flex align-items-center">
        Movimientos <a href="{% url 'transactions:add' %}" type="button"
            class="btn btn-success btn-sm ms-2 me-1 shadow"><i class="bi bi-plus"></i>Nuevo</a>
    </div>

    <div class="row">
        <div class="col-12 col-md-7">

            <div class="card flex-fill shadow">

                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center row">
                        <div class="d-inline-flex justify-content-start align-items-center col-12 col-xl-6">

                            <i class="bi bi-arrow-repeat me-2"></i>Últimos movimientos
                        </div>
                        <!-- start SEARCH AND ORDERING FUNCTIONALITIES -->
                        <form method="GET" class="col-12 col-xl-6 d-flex flex-row justify-content-end" id="list_form">

                            <button type="button" id="btnCleanQuery"
                                class="btn btn-outline-danger btn-sm shadow {% if query_by == '' or not query_by %}hide-on-load{% endif %}"
                                onclick="clearSearch()">Limpiar</button>

                            <button type="button" class="btn btn-primary btn-sm mx-3 position-relative shadow"
                                data-bs-toggle="modal" data-bs-target="#baseModal">
                                Filtros
                                <span
                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    {{ filters_count }}0
                                    <span class="visually-hidden">applied filters</span>
                                </span>
                                <!--Filtros <span class="badge bg-danger">{{ filters_count }}</span>-->
                            </button>

                            <button class="btn btn-secondary btn-sm shadow dropdown-toggle" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-sort-up"></i></button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><button onclick="orderByChanged('date_created_desc');"
                                        class="dropdown-item">Más&nbsp;recientes&nbsp;primero</button>
                                </li>
                                <li><button onclick="orderByChanged('date_created');"
                                        class="dropdown-item">Más&nbsp;antiguas&nbsp;primero</button>
                                </li>
                                <li><button onclick="orderByChanged('subject');"
                                        class="dropdown-item">Asunto&nbsp;A-Z</button>
                                </li>
                                <li><button onclick="orderByChanged('subject_desc');"
                                        class="dropdown-item">Asunto&nbsp;Z-A</button>
                                </li>
                                <li><button onclick="orderByChanged('priority');"
                                        class="dropdown-item">Prioridad&nbsp;alta&nbsp;primero</button>
                                </li>
                                <li><button onclick="orderByChanged('priority_desc');"
                                        class="dropdown-item">Prioridad&nbsp;baja&nbsp;primero</button>
                                </li>

                            </ul>

                            <input type="text" name="order_by" id="id_order_by" class="d-none" value="{{ order_by }}">
                            <input type="text" name="results_per_page" id="id_results_per_page" class="d-none"
                                value="{{ results_per_page }}">
                            <input id='id_filter_by' type="text" name="filter_by" class="d-none"
                                value="{% if filter_by %}{{ filter_by }}{% endif %}">


                        </form>

                    </div>
                    <!-- end SEARCH AND ORDERING FUNCTIONALITIES -->

                </div>


                <div class="card-body d-flex flex-column">
                    <!-- start MAIN CONTENT -->
                    {% if transactions %}

                    <ul class="list-group list-group-flush">
                        {% for transaction in transactions %}
                        {% include 'transactions/snippets/item.html' with transaction=transaction %}
                        {% endfor %}
                    </ul>


                    {% else %}

                    <div>
                        <p class="card-text">
                            Aún no se registraron movimientos. Hacé <a href="{% url 'transactions:add' %}">click acá</a>
                            para
                            crear uno.
                        </p>
                    </div>

                    {% endif %}
                    <!-- end MAIN CONTENT -->

                </div>
            </div>
        </div>

        <div class="col-12 col-md-5 ps-md-2 pt-2 pt-md-0">

            {% for i in '0123456789'|make_list %}
            <div class="card flex-fill mb-3 shadow">

                <div class="card-body d-flex flex-column">

                    Alguna info con algún gráfico

                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>


{% include 'tickets/snippets/list_js.html' %}

{% endblock content %}