{% load price_extras %}

<style>
    td {
        overflow: auto;
        white-space: nowrap;
    }
</style>

<tr id="tr-{{obj.id}}" class="table-item" onclick="onItemClicked({{ obj.id }},'{% url 'prices:ddetail' pk=obj.id %}');">
    <td id=" td-{{obj.id}}" class="td-item-checker">
        <div class="form-check">
            <input id="item-checker-{{obj.id}}" class="form-check-input item-checker" type="checkbox" value="">
        </div>
    </td>
    <td>{{ obj.code }}</td>
    <td>{{ obj.price }}</td>
    <td>{{ obj.code|dtowncount }}</td>
    <td>{{ obj.last_update }}</td>
    <td>{{ obj.updated_by.first_name }} {{ obj.updated_by.last_name }}</td>
    <td>{{ obj.price|multiplicado:1 }}</td>
    <td>{{ obj.price|multiplicado:2 }}</td>
    <td>{{ obj.price|multiplicado:3 }}</td>
    <td>{{ obj.price|multiplicado:4 }}</td>
    <td>{{ obj.price|multiplicado:5 }}</td>
    <td style="text-align: start;"><a href="#" class="edit-button" title="Editar"><i
                class="bi bi-pencil-square"></i></a></td>
</tr>