{% extends 'base_system.html' %}

{% block content %}

{% include 'snippets/base_tables_css.html' %}

<style>
    th,
    tr,
    h5 {
        text-align: center;
    }

    h5 {
        margin-bottom: 10px;
        margin-top: 20px;
    }
</style>

<div class="col-md-12 col-xl-10 col-xxl-9 d-flex-inline">
    <div class=" card flex-fill">
        <div class="card-body d-flex flex-column">
            <h2 class="card-title text-center mt-2">LISTADO DE TARIFAS VIGENTES</h2>
            <div class="d-flex justify-content-between align-items-center text-start">
                <h5 class="card-card-subtitle flex-grow-1">Códigos de mensajería general</h5>
            </div>
            <hr class="bg-dark">
            <div
                class="d-grid gap-1 d-lg-flex flex-lg-row gap-md-0 justify-content-lg-start align-items-lg-center text-lg-start">
                <button type="button" id="bulkEditDelivery" class="btn btn-primary btn-sm m-2 m-xl-0 ms-xl-2" disabled>
                    Aumento general
                </button>
                <button type="button" id="bulkDeleteDelivery" class="btn btn-danger btn-sm m-2 m-xl-0 ms-xl-2"
                    onclick="deleteSelectedItems()" disabled>
                    Eliminar seleccionados
                </button>
                <div id="selectedCount" class="ms-2">0 de {{totalCodes}} elementos seleccionados
                </div>
                <div class="my-1mx-xl-3">
                    <div id="clearSelectionDiv" class="hide-on-load">
                        <span class="d-none d-xl-inline">|</span>
                        <a id="clearSelection" type="button" class="ms-2 text-decoration-none"
                            onclick="removeSelection()" style="cursor: pointer;">Quitar selección
                            <i class="bi bi-x"></i></a>
                    </div>
                </div>
                <div class="d-flex d-lg-inline ms-lg-auto">
                    <a href="{% url 'prices:fcode-add' %}" type="button" class="flex-fill btn btn-success btn-sm m-2">
                        <i class="bi bi-plus"></i>Crear nuevo
                    </a>
                </div>
            </div>
            <hr class="bg-dark">
            <div class="table-responsive">
                <table class="table table-striped align-middle">
                    <thead>
                        <tr>
                            <th>
                                <div class="form-check">
                                    <input class="form-check-input checkbox-select" type="checkbox" id="checkAll">
                                </div>
                            </th>
                            <th>Código</th>
                            <th>Precio</th>
                            <th>Localidades</th>
                            <th>Última edición</th>
                            <th>Editor</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="overrided-1" class="overrided-tbody">
                        {% for item in fcodes %}
                        {% include 'prices/snippets/fcode/item.html' with obj=item counter=forloop.counter codetype='f' %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<script>
    var selectionModeEnabled = false;
    var totalCodes = JSON.parse('{{ totalCodes | escapejs }}');

    $(document).ready(function () {
        show('clearSelectionDiv', selectionModeEnabled);

        $("#checkAll").click(function () {
            $(".item-checker").prop('checked', this.checked);
            countCheckedItems();
        });

        $(".item-checker").click(function (e) {
            e.stopImmediatePropagation();
            countCheckedItems();
        });

        $(".td-item-checker").click(function (e) {
            var id = this.id.split("-")[1];
            changeItemCheckerState('item-checker-' + id);
            e.stopImmediatePropagation();
            e.stopPropagation();
            countCheckedItems();
        });
    });

    function onItemClicked(id, url) {
        if (selectionModeEnabled) {
            $('#item-checker-' + id).prop('checked', !$('#item-checker-' + id).is(":checked"));
        } else {
            window.location.href = url;
        }
        countCheckedItems();
    }

    function countCheckedItems() {
        // Get all checkboxes
        var checkBoxes = Array.from(document.getElementsByClassName("item-checker"));
        // Count total checkboxes
        var totalCheckBoxes = checkBoxes.length;
        // Count checked checkboxes
        var checkedItemsCount = checkBoxes.filter(checkBox => checkBox.checked == true).length;
        // If all checkboxes checked, check "checkAll" checkbox
        $('#checkAll').prop('checked', checkedItemsCount == totalCheckBoxes);
        // Update selected count
        $('#selectedCount').text(checkedItemsCount + " de " + totalCodes + " elementos seleccionados");
        // Enable bulk edit btn only if more than one checked
        isEnabled('bulkEditDelivery', checkedItemsCount > 1);
        // Enable delete btn if at least 1 checkbox is checked
        isEnabled('bulkDeleteDelivery', checkedItemsCount > 0);
        // Enable selection mode if at least 1 checkbox checked
        selectionModeEnabled = checkedItemsCount > 0;
        // hide
        show('clearSelectionDiv', selectionModeEnabled);
    }

    function changeItemCheckerState(id) {
        $('#' + id).prop('checked', !$('#' + id).is(":checked"));
    }

    function show(id, makeVisible = true) {
        if (makeVisible && $('#' + id).is(":hidden")) {
            $('#' + id).hide();
            $('#' + id).removeClass("hide-on-load");
            $('#' + id).show(300);
        }
        if (!makeVisible && $('#' + id).is(":visible")) {
            $('#' + id).hide(300);
        }
    }

    function isEnabled(id, enable = true) {
        if (enable && $('#' + id).is(":disabled")) {
            $('#' + id).removeAttr("disabled");
        }
        if (!enable && $('#' + id).is(":enabled")) {
            $('#' + id).attr("disabled", true);
        }
    }

    function itemClicked(id) {
        if ($('#item-checker-' + id).is(":checked")) {
            $('#item-checker-' + id).prop('checked', false);
        } else if (selectionModeEnabled) {
            $('#item-checker-' + id).prop('checked', true);
        } else {
            alert("launch detail item");
        }

    }

    function removeSelection() {
        $(".item-checker").prop('checked', false);
        countCheckedItems();
    }

    function deleteSelectedItems() {
        // Get all checked checkboxes
        var checkBoxesIds = Array.from(document.getElementsByClassName("item-checker"))
            .filter(checkBox => checkBox.checked == true).map(function (checkbox) {
                var id = checkbox.id;
                return id.split("-checker-")[1];
            }).join("-");
        console.log(checkBoxesIds);
        var url_mask = "{% url 'prices:fcode-delete' 12345 %}".replace(/12345/, checkBoxesIds);
        console.log("url -> " + url_mask);
        window.location.href = url_mask;
    }
</script>

{% endblock content %}