{% extends 'base_app.html' %}

{% load static %}

{% block content %}

<style>
    #webCamera {
        width: 200px;
        height: 200px;
        margin: 0px auto;
    }
</style>
<video id="webCamera" style="display: none" autoplay="true"></video>
<canvas id="videoCanvas"></canvas>
<script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
<script type="text/javascript">
    var scanner = new Instascan.Scanner({
        video: document.getElementById('webCamera'),
        scanPeriod: 5,
        mirror: false
    });
    scanner.addListener('scan', function (content) {
        alert(content);
        //window.location.href=content;
    });
    Instascan.Camera.getCameras().then(function (cameras) {
        if (cameras.length > 0) {
            scanner.start(cameras[0]);
            $('[name="options"]').on('change', function () {
                if ($(this).val() == 1) {
                    if (cameras[0] != "") {
                        scanner.start(cameras[0]);
                    } else {
                        alert('No Front camera found!');
                    }
                } else if ($(this).val() == 2) {
                    if (cameras[1] != "") {
                        scanner.start(cameras[1]);
                    } else {
                        alert('No Back camera found!');
                    }
                }
            });
        } else {
            console.error('No cameras found.');
            alert('No cameras found.');
        }
    }).catch(function (e) {
        console.error(e);
        alert(e);
    });

    function drawImge() {
        var video = document.querySelector("#webCamera");
        var canvas = document.querySelector("#videoCanvas");
        var ctx = canvas.getContext('2d');

        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;


        ctx.drawImage(video, 0, 0, canvas.width, canvas.height);

        var faceArea = 300;
        var pX = canvas.width / 2 - faceArea / 2;
        var pY = canvas.height / 2 - faceArea / 2;

        ctx.rect(pX, pY, faceArea, faceArea);
        ctx.lineWidth = "6";
        ctx.strokeStyle = "red";
        ctx.stroke();


        setTimeout(drawImge, 100);
    }

    var video = document.querySelector("#webCamera");
    video.onplay = function () {
        setTimeout(drawImge, 300);
    };
</script>
<div class="btn-group btn-group-toggle mb-5" data-toggle="buttons">
    <label class="btn btn-primary active">
        <input type="radio" name="options" value="1" autocomplete="off" checked> Front Camera
    </label>
    <label class="btn btn-secondary">
        <input type="radio" name="options" value="2" autocomplete="off"> Back Camera
    </label>
</div>
{% endblock content %}