{% extends 'base_app.html' %}

{% load static %}

{% block thumbnail_menu_item %}

<img class="me-3" src="{% static 'res/images/withdraw-at-origin.png' %}" width="20" height="20" alt="">

{% endblock thumbnail_menu_item %}

{% block nav_items %}
<li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
<li class="breadcrumb-item"><a href="{% url 'app_deposit:index' %}">Depositar</a></li>
<li class="breadcrumb-item"><a href="{% url 'app_deposit:select-deposit' carrier.pk %}">{{ carrier.username }}</a>
<li class="breadcrumb-item"><a href="{% url 'app_deposit:filter-by' carrier.pk deposit.pk %}">Filtros</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ filter_by_name.title }}</li>
{% endblock nav_items %}

{% block optional_subheader %}
<div class="p-3 mb-0 pb-1">
    <div class="d-inline-flex mb-2">
        <div class="d-inline bg-warning px-1 rounded fw-bold" style="color: white;">
            {{ carrier.first_name }} {{ carrier.last_name }} ({{ carrier.username }})
        </div>
        <div class="fw-bold mx-1">Deposita 1 envío en</div>
    </div>
    <div class="d-inline-flex bg-dark px-1 m-0 rounded fw-bold" style="color: white;">
        {{ deposit.name }} ({{ deposit.client.name }})
    </div>
    <hr>
    <div class="d-flex justify-content-between align-items-center my-1">
        <h6>Seleccioná qué {{ filter_by_name }} vas a filtrar:</h6>
        <div>
            <input type="checkbox" class="btn-check" id="idSelectAllChkBox" checked autocomplete="off">
            <label class="btn btn-outline-secondary btn-sm" for="idSelectAllChkBox">Todos</label><br>
        </div>
    </div>
</div>
{% endblock optional_subheader %}


{% block content %}
{% if objects %}
<div class="list-group bg-transparent">
    {% for obj in objects %}
    <label class="list-group-item bg-transparent">
        <input id="{{ obj.id }}" class="form-check-input me-1 id-chkbox" type="checkbox" value="" checked>
        {{ obj }}
    </label>
    {% endfor %}
</div>
{% else %}
<h6 id="h6-nothing">No hay {{ filter_by_name }} para los envíos filtrados 😔</h6>
{% endif %}
{% endblock content %}


{% block optional_footer %}
<div class="d-flex justify-content-end m-3">
    <form method='POST' id="form" name="form" target="_top" enctype="multipart/form-data">{% csrf_token %}
        <input type="text" id="id_filter_by" name="filter_by" class="d-none" value="{{ filter_by }}">
        <input type="text" id="id_selected_ids" name="selected_ids" class="d-none">
        <button type="button" class="btn btn-secondary btn-sm mx-1"
            onclick="location.href='{% url 'index' %}'">Cancelar</button>
        <button type="submit" class="btn btn-primary btn-sm mx-1">Confirmar</button>
    </form>
</div>

<script>
    $(document).ready(function () {
        $('#form').submit(function (event) {
            event.preventDefault(); // this will prevent the default submit
            udpateSelectedIds();
            $(this).unbind('submit').submit(); // continue the submit unbind preventDefault
        });
        $('#idSelectAllChkBox').click(function () {
            $('.id-chkbox').prop('checked', $(this).prop('checked'));
        });
    });

    function udpateSelectedIds() {
        var selected_ids = [];
        $('.id-chkbox:checked').each(function () {
            console.log($(this).attr('id'));
            selected_ids.push($(this).attr('id'));
        });
        $('#id_selected_ids').val(selected_ids.join("-"));
    }
</script>

{% endblock optional_footer %}