<style>
    td {
        overflow: auto;
        white-space: nowrap;
    }
</style>
<tr id="tr-{{ obj.id }}" class="table-item highlight-row"
    onclick="window.location.href='{% url 'tickets:detail' pk=obj.id %}'">
    <td id="td-{{ obj.id }}" class="td-item-checker">{{ pagination_from |add:counter |add:"-1" }}</td>
    <td>{{ obj.date_created|date:"d/m/Y H:i" }}</td>
    <td class="cell-centered">
        {% if obj.priority == '1' %}
        <span class="badge rounded-pill bg-danger">{{ obj.get_priority_display }}</span>
        {% elif obj.priority == '2' %}
        <span class="badge rounded-pill bg-primary">{{ obj.get_priority_display }}</span>
        {% elif obj.priority == '3' %}
        <span class="badge rounded-pill bg-secondary">{{ obj.get_priority_display }}</span>
        {% endif %}
    </td>
    <td class="cell-centered">
        <span class="badge" style="background-color:
            {% if obj.status == '1' %}#C0BCAE{% elif obj.status == '2' %}#817D6F{% else %}#212529;{% endif %};">
            {% if obj.status == '3' %}
            <a data-bs-toggle="tooltip" data-bs-html="true"
                title='
                                <div>Motivo: "{{obj.get_closed_reason_display}}"</div>{% if obj.closed_msg %}<div>Mensaje: "{{ obj.closed_msg }}"</div>{% endif %}'>
                {{ obj.get_status_display }}</a>
            {% else %}
            {{ obj.get_status_display }}
            {% endif %}
        </span>
    </td>
    <td>{{ obj.subject | truncatechars:50 }}</td>
    <td>{{ obj.msg | truncatechars:50 }}</td>
</tr>