<!-- FILTERED Pagination -->
<div class="d-flex justify-content-between align-items-center flex-row  mt-3 helper-1">
    <div class="w-10 d-flex flex-row helper-2 mt-1 mb-0 mx-1 align-items-center">
        <div>
            Mostrar de a
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnRadioRPP50" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="btnRadioRPP50">50</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnRadioRPP100" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnRadioRPP100">100</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnRadioRPP500" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnRadioRPP500">500</label>
            </div>
        </div>
        <!--
        <div class="d-flex align-items-center fs-6 fst-italic small ms-2">
            Mostrando {{ tickets_from }} - {{ tickets_to }} de {{ tickets_count }}
        </div>
        -->
    </div>
    <div class="helper-1">
        <nav class="helper-3 mb-0" aria-label="Page navigation">
            <ul class="pagination mt-1 mb-0 mx-1 pg-grey justify-content-center">
                {% if tickets.has_previous %}
                <li class="page-item">
                    <a class="page-link"
                        href="?{% if query_by %}q={{query_by}}&{% endif %}{% if order_by %}order_by={{order_by}}&{% endif %}{% if results_per_page %}results_per_page={{ results_per_page }}&{% endif %}{% if filter_by %}filter_by={{ filter_by }}&{% endif %}page={{ tickets.previous_page_number }}">&laquo;Anterior
                    </a>
                </li>
                {% endif %}

                {% for i in tickets.paginator.page_range %}
                {% if tickets.number == i %}
                <li class="page-item active"><a class="page-link">{{ i }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link"
                        href="?{% if query_by %}q={{query_by}}&{% endif %}{% if order_by %}order_by={{order_by}}&{% endif %}{% if results_per_page %}results_per_page={{ results_per_page }}&{% endif %}{% if filter_by %}filter_by={{ filter_by }}&{% endif %}page={{ i }}">{{ i }}</a>
                </li>
                {% endif %}
                {% endfor %}

                {% if tickets.has_next %}
                <li class="page-item">
                    <a class="page-link"
                        href="?{% if query_by %}q={{query_by}}&{% endif %}{% if order_by %}order_by={{order_by}}&{% endif %}{% if results_per_page %}results_per_page={{ results_per_page }}&{% endif %}{% if filter_by %}filter_by={{ filter_by }}&{% endif %}page={{ tickets.next_page_number }}">Siguiente</a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                        href="?{% if query_by %}q={{query_by}}&{% endif %}{% if order_by %}order_by={{order_by}}&{% endif %}{% if results_per_page %}results_per_page={{ results_per_page }}&{% endif %}{% if filter_by %}filter_by={{ filter_by }}&{% endif %}page={{ tickets.paginator.num_pages }}">Último&raquo;</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="d-flex flex-row helper-2 mt-1 mb-0 mx-1 align-items-center">
        <div class="d-flex align-items-center fs-6 fst-italic small ms-2">
            Mostrando {{ tickets_from }} - {{ tickets_to }} de {{ tickets_count }}
        </div>
    </div>
</div>
<!-- end pagination-->