<div class="row m-0 mt-3 mb-2">
    <div class="col">
        <h5 class="card-title font-monospace top-card mx-1"><i class="bi bi-shop-window" style="color: grey;"></i> EN
            DEPÓSITO - Esperando para ser distribuidos</h5>
        <div class="card">
            <div class="card shadow-lg bg-white">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Depósito</th>
                                    <th class="cell-centered">Cantidad</th>
                                    <th class="cell-centered">Se deben entregar hoy</th>
                                    <th class="cell-centered">Con horario</th>
                                </tr>
                            </thead>
                            <tbody id="overrided-1" class="overrided-tbody">
                                <style>
                                    td {
                                        overflow: auto;
                                        white-space: nowrap;
                                    }
                                </style>
                                {% for obj in envios_at_deposit %}
                                {% if obj.envio_count > 0 %}
                                <tr id="tr-{{obj.id}}" class="table-item">
                                    <td><a href="{% url 'deposits:detail' obj.id %}">{{ obj.name }}</a></td>
                                    <td class="cell-centered">{{ obj.envio_count }} envíos</td>
                                    <td class="cell-centered">{{ obj.priorities }} envíos</td>
                                    <td class="cell-centered">{{ obj.scheduled_time }} envíos</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>