<div class="row m-0 mt-3 mb-2">
    <div class="col">
        <h5 class="card-title font-monospace top-card mx-1"><i class="bi bi-shop-window" style="color: grey;"></i> EN
            DEPÓSITO - Esperando para ser distribuidos</h5>
        <div class="card">
            <div class="card shadow-lg bg-white">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Depósito</th>
                                    <th class="cell-centered">Cantidad</th>
                                    <th class="cell-centered">Con fecha de entrega</th>
                                    <th class="cell-centered">Con horario de entrega</th>
                                    <th class="cell-centered">Reprogramados</th>
                                </tr>
                            </thead>
                            <tbody id="overrided-1" class="overrided-tbody">
                                <style>
                                    td {
                                        overflow: auto;
                                        white-space: nowrap;
                                    }
                                </style>
                                {% for obj in deposits_with_envios %}
                                {% if obj.envio_count > 0 %}
                                <tr id="tr-{{obj.id}}" class="table-item">
                                    <td><a href="{% url 'deposits:detail' obj.id %}">{{ obj.name }}</a></td>
                                    <td class="cell-centered">
                                        {% if obj.envio_count > 0 %}
                                        <a href="{% url 'envios:envio-list' %}?deposit_id={{ obj.id }}&status=S">
                                        {% endif %}
                                        {{ obj.envio_count }} envío{% if obj.envio_count != 1 %}s{% endif %}
                                        {% if obj.envio_count > 0 %}
                                        </a>
                                        {% endif %}
                                    </td>
                                    <td class="cell-centered">
                                        {% if obj.priorities > 0 %}
                                        <a href="{% url 'envios:envio-list' %}?deposit_id={{ obj.id }}&status=S&has_delivery_date=1">
                                        {% endif %}
                                        {{ obj.priorities }} envío{% if obj.priorities != 1 %}s{% endif %}
                                        {% if obj.priorities > 0 %}
                                        </a>
                                        {% endif %}
                                    </td>
                                    <td class="cell-centered">
                                        {% if obj.scheduled_time > 0 %}
                                        <a href="{% url 'envios:envio-list' %}?deposit_id={{ obj.id }}&status=S&is_scheduled=1">
                                        {% endif %}
                                        {{ obj.scheduled_time }} envío{% if obj.scheduled_time != 1 %}s{% endif %}
                                        {% if obj.scheduled_time > 0 %}
                                        </a>
                                        {% endif %}
                                    </td>
                                    <td class="cell-centered">
                                        {% if obj.reprogramed > 0 %}
                                        <a href="{% url 'envios:envio-list' %}?deposit_id={{ obj.id }}&status=S&has_delivery_attempt=1">
                                        {% endif %}
                                        {{ obj.reprogramed }} envío{% if obj.reprogramed != 1 %}s{% endif %}
                                        {% if obj.reprogramed > 0 %}
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% if deposits_with_envios|length %}
                        No hay depósitos con envíos.
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>