<style>
    td {
        overflow: auto;
        white-space: nowrap;
    }
</style>
<tr id="tr-{{obj.id}}" class="table-item highlight-row"
    onclick="onItemClicked({{ obj.id }},'{% url 'summaries:detail' pk=obj.id %}');">
    <td class="cell-centered">{{ obj.date_created|date:"d/m/Y H:i" }}</td>
    <td class="cell-centered">
        {% if obj.client %}
        <span class="badge" style="background-color: #212529;">Cliente</span>
        {% else %}
        <span class="badge" style="background-color: #808080;">Empleado</span>
        {% endif %}
    </td>
    <td class="cell-centered">
        {% if obj.client %}
        {{ obj.client }}
        {% else %}
        {{ obj.employee.full_name_formal }}
        {% endif %}
    </td>
    <td class="cell-centered">{{ obj.date_from|date:"d/m/Y" }}</td>
    <td class="cell-centered">{{ obj.date_to|date:"d/m/Y" }}</td>
    <td class="cell-centered">{{ envios }}</td>
    <td class="cell-centered">{{ obj.total_cost }}</td>
</tr>