<style>
    td {
        overflow: auto;
        white-space: nowrap;
    }
</style>
<tr id="tr-{{obj.id}}" class="table-item highlight-row"
    onclick="window.location.href='{% if is_client == 1 %}{% url 'summaries:client-detail' pk=obj.id %}{% else %}{% url 'summaries:employee-detail' pk=obj.id %}{% endif %}'">
    <td class="cell-centered">{{ obj.date_created|date:"d/m/Y H:i" }}</td>
    <td class="cell-centered">
        {% if obj.client %}
        {{ obj.client }}
        {% else %}
        {{ obj.employee.full_name_formal }}
        {% endif %}
    </td>
    <td class="cell-centered">{{ obj.date_from|date:"d/m/Y" }}</td>
    <td class="cell-centered">{{ obj.date_to|date:"d/m/Y" }}</td>
    <td class="cell-centered">{{ obj.total_envios }}</td>
    <td class="cell-centered costs" id="costo_total_{{obj.pk}}">
        <div id="cost_loading_{{obj.pk}}" class="spinner-border spinner-border-sm costs-spinner" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </td>

    <script>
        
    </script>
</tr>