<style>
    td {
        overflow: auto;
        white-space: nowrap;
    }
</style>
<tr id="tr-{{obj.id}}" class="table-item highlight-row"
    onclick="window.location.href='{% url 'summaries:client-detail' pk=obj.id %}'">
    <td class="cell-centered">{{ obj.date_created|date:"d/m/Y H:i" }}</td>
    <td class="cell-centered">
        {% if obj.client %}
        {{ obj.client }}
        {% else %}
        {{ obj.employee.full_name_formal }}
        {% endif %}
    </td>
    <td class="cell-centered">{{ obj.date_from|date:"d/m/Y" }}</td>
    <td class="cell-centered">{{ obj.date_to|date:"d/m/Y" }}</td>
    <td class="cell-centered"></td>
    <td class="cell-centered"></td>
</tr>