{% load static %}

<style>
    .navbar-brand {
        padding-top: .75rem;
        padding-bottom: .75rem;
        font-size: 1rem;
    }

    .navbar .navbar-toggler {
        top: .25rem;
        right: 1rem;
    }
</style>

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap align-items-center p-0 shadow">
    <a class="d-flex align-items-center p-2 mb-md-0 me-md-auto text-white text-decoration-none" href="{% url 'home' %}">
        <img class="rounded mx-auto d-block" src="{% static 'sinergia-software-logo.svg' %}" width="50" height="50"
            alt="Sinergia Logo">
        <span class="fs-6">
            &nbsp;Sinergia Software
        </span>
    </a>
    <button class="navbar-toggler d-xs-none m-3 collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</header>