 {% load static %}

 <header
     class="navbar navbar-dark sticky-top bg-dark position-sticky top-0 righ-0 left-0 flex-md-nowrap align-items-center p-1 shadow">
     <a class="d-flex align-items-center ps-3 p-2 mb-md-0 text-white text-decoration-none"
         href="{% url 'admin-home' %}">
         <img class="rounded mx-auto d-block" src="{% static 'sinergia-software-logo.svg' %}" width="50px" height="50px"
             alt="Sinergia Logo">
         <span class="fw-bold fs-3 ms-2 d-none d-sm-block text-uppercase">
             &nbsp;Sinergia Software
         </span>
     </a>
     <button class="navbar-toggler d-md-none m-3 collapsed" type="button" data-bs-toggle="collapse"
         data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
     </button>
 </header>