{% load static %}
<nav id="sidebarMenu" class="col-12 col-md-auto d-md-flex flex-column bg-dark sidebar collapse">
    <div class="vertical-scroll d-flex flex-column flex-grow-1 position-relative nav nav-pills p-3 overflow-auto">
        <!-- Menu items container -->
        <ul class="d-flex flex-column nav nav-pills">

            <!-- START Dashboard -->
            <li class="nav-item {% if selected_tab == 'home-tab' %}activetab{% endif %} li-navigation">
                <a id="home-tab" href="{% url 'admin-home' %}" class="nav-link tab" aria-current="page">
                    <i class="bi bi-house-door"></i> Inicio
                </a>
            </li>
            <!-- END Dashboard -->

            <!-- START Escáner -->
            <li class="nav-item {% if selected_tab == 'scanner-tab' %}activetab{% endif %} li-navigation">
                <a id="scanner-tab" href="{% url 'baseapp:index' %}" class="nav-link tab" aria-current="page">
                    <i class="bi bi-app-indicator"></i> App
                </a>
            </li>
            <!-- END Escáner -->


            <!-- START Envíos -->
            <li class="nav-item {% if selected_tab == 'shipments-tab' %}activetab{% endif %} li-navigation">
                <a id="shipments-tab" href="{% url 'envios:envio-list' %}" class="nav-link tab">
                    <i class="bi bi-truck"></i> Envíos
                </a>
            </li>
            <!-- END Envíos -->


            <!-- START Lugares -->
            <li class="nav-item">

                <!-- START OPTION 1: A places tab is selected-->
                {% if selected_tab == 'town-tab' or selected_tab == 'zone-tab' or selected_tab == 'partido-tab' %}
                <a class="parent-nav nav-link align-items-center rounded tab mt-2" data-bs-toggle="collapse"
                    data-bs-target="#places-collapse" aria-expanded="true">
                    Lugares
                </a>
                <div class="collapse show" id="places-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal" style="font-size: 13px;">
                        <!-- START Places Town -->
                        <li class="nav-item {% if selected_tab == 'town-tab' %}activetab{% endif %} li-navigation">
                            <a id="town-tab" href="{% url 'places:town-list' %}" class="nav-link tab">
                                <i class="bi bi-geo"></i> Localidades
                            </a>
                        </li>
                        <!-- END Places Town -->
                        <!-- START Places Partidos -->
                        <li class="nav-item {% if selected_tab == 'partido-tab' %}activetab{% endif %} li-navigation">
                            <a id="partido-tab" href="{% url 'places:partido-list' %}" class="nav-link tab">
                                <i class="bi bi-map"></i> Partidos
                            </a>
                        </li>
                        <!-- END Places Partidos -->
                        <!-- START Places Zone -->
                        <li class="nav-item {% if selected_tab == 'zone-tab' %}activetab{% endif %} li-navigation">
                            <a id="zone-tab" href="{% url 'places:zone-list' %}" class="nav-link tab">
                                <i class="bi bi-collection"></i> Zonas
                            </a>
                        </li>
                        <!-- END Places Zone -->
                    </ul>
                </div>
                {% else %}
                <!-- END OPTION 1: A places tab is selected-->
                <!-- START OPTION 2: No places tab is selected -->
                <a class="parent-nav nav-link align-items-center rounded tab collapsed mt-2" data-bs-toggle="collapse"
                    data-bs-target="#places-collapse" aria-expanded="false">
                    Lugares
                </a>
                <div class="collapse" id="places-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal" style="font-size: 13px;">
                        <!-- START Places Town -->
                        <li class="nav-item {% if selected_tab == 'town-tab' %}activetab{% endif %} li-navigation">
                            <a id="town-tab" href="{% url 'places:town-list' %}" class="nav-link tab">
                                <i class="bi bi-geo"></i> Localidades
                            </a>
                        </li>
                        <!-- END Places Town -->
                        <!-- START Places Partidos -->
                        <li class="nav-item {% if selected_tab == 'partido-tab' %}activetab{% endif %} li-navigation">
                            <a id="partido-tab" href="{% url 'places:partido-list' %}" class="nav-link tab">
                                <i class="bi bi-map"></i> Partidos
                            </a>
                        </li>
                        <!-- END Places Partidos -->
                        <!-- START Places Zone -->
                        <li class="nav-item {% if selected_tab == 'zone-tab' %}activetab{% endif %} li-navigation">
                            <a id="zone-tab" href="{% url 'places:zone-list' %}" class="nav-link tab">
                                <i class="bi bi-collection"></i> Zonas
                            </a>
                        </li>
                        <!-- END Places Zone -->
                    </ul>
                </div>
                {% endif %}
                <!-- END START OPTION 2: No price tab is selected -->
            </li>
            <!-- END Lugares -->


            <!-- START Precios -->
            <li class="nav-item">

                <!-- START OPTION 1: A price tab is selected-->
                {% if selected_tab == 'dprices-tab' or selected_tab == 'fprices-tab' or selected_tab == 'prices-tab' %}
                <a class="parent-nav nav-link align-items-center rounded tab mt-2" data-bs-toggle="collapse"
                    data-bs-target="#prices-collapse" aria-expanded="true">
                    Tarifas
                </a>
                <div class="collapse show" id="prices-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal" style="font-size: 13px;">
                        <!-- START Precios Delivery -->
                        <li class="nav-item {% if selected_tab == 'dprices-tab' %}activetab{% endif %} li-navigation">
                            <a id="dprices-tab" href="{% url 'prices:dcode-list' %}" class="nav-link tab">
                                <i class="bi bi-currency-dollar"></i> Generales
                            </a>
                        </li>
                        <!-- END Precios Delivery -->
                        <!-- START Precios Flex -->
                        <li class="nav-item {% if selected_tab == 'fprices-tab' %}activetab{% endif %} li-navigation">
                            <a id="fprices-tab" href="{% url 'prices:fcode-list' %}" class="nav-link tab">
                                <i class="bi bi-currency-dollar"></i> Flex
                            </a>
                        </li>
                        <!-- END Precios Flex -->
                    </ul>
                </div>
                {% else %}
                <!-- END OPTION 1: A price tab is selected-->
                <!-- START OPTION 2: No price tab is selected -->
                <a class="parent-nav nav-link align-items-center rounded tab collapsed mt-2" data-bs-toggle="collapse"
                    data-bs-target="#prices-collapse" aria-expanded="false">
                    Tarifas
                </a>
                <div class="collapse" id="prices-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal" style="font-size: 13px;">
                        <!-- START Precios Delivery -->
                        <li class="nav-item {% if selected_tab == 'dprices-tab' %}activetab{% endif %} li-navigation">
                            <a id="prices-tab" href="{% url 'prices:dcode-list' %}" class="nav-link tab">
                                <i class="bi bi-currency-dollar"></i> Generales
                            </a>
                        </li>
                        <!-- END Precios Delivery -->
                        <!-- START Precios Flex -->
                        <li class="nav-item {% if selected_tab == 'fprices-tab' %}activetab{% endif %} li-navigation">
                            <a id="prices-tab" href="{% url 'prices:fcode-list' %}" class="nav-link tab">
                                <i class="bi bi-currency-dollar"></i> Flex
                            </a>
                        </li>
                        <!-- END Precios Flex -->
                    </ul>
                </div>
                {% endif %}
                <!-- END START OPTION 2: No price tab is selected -->
            </li>
            <!-- END Precios -->

            <!-- START Clientes -->
            <li class="nav-item {% if selected_tab == 'clients-tab' %}activetab{% endif %} li-navigation">
                <a id="clients-tab" href="#" class="nav-link tab">
                    <i class="bi bi-people"></i> Clientes
                </a>
            </li>
            <!-- END Clientes -->

            <!-- START Legajos -->
            <li class="nav-item {% if selected_tab == 'files-tab' %}activetab{% endif %} li-navigation">
                <a id="staff-tab" href="#" class="nav-link tab">
                    <i class="bi bi-file-earmark-text"></i> Legajos
                </a>
            </li>
            <!-- END Legajos -->

            <!-- START Facturación -->
            <li class="nav-item {% if selected_tab == 'bill-tab' %}activetab{% endif %} li-navigation">
                <a id="billing-tab" href="#" class="nav-link tab">
                    <i class="bi bi-receipt"></i> Facturación
                </a>
            </li>
            <!-- END Facturación -->

            <!-- START Liquidación -->
            <li class="nav-item {% if selected_tab == 'settle-tab' %}activetab{% endif %} li-navigation">
                <a id="settlement-tab" href="#" class="nav-link tab">
                    <i class="bi bi-calendar-event"></i> Liquidación
                </a>
            </li>
            <!-- END Liquidación -->

            <!-- START Contable -->
            <li class="nav-item {% if selected_tab == 'accounting-tab' %}activetab{% endif %} li-navigation">
                <a id="accounting-tab" href="#" class="nav-link tab">
                    <i class="bi bi-currency-euro"></i> Contable
                </a>
            </li>
            <!-- END Contable -->

        </ul>
        <!-- END Menu items container -->
    </div>

    <div class="position-md-sticky sticky-md-bottom mx-3">
        <hr class="bg-light">
    </div>

    <!-- START ACCOUNT CONTAINER -->
    <div class="d-flex align-items-end position-md-sticky sticky-md-bottom mx-3">

        <div class="dropdown align-items-end pb-3">

            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">

                {% if request.user.profile_picture %}

                <!-- PROFILE PIC -->
                <img src="{{request.user.profile_picture.url}}" alt="Avatar" width="32" height="32"
                    class="rounded-circle me-2">

                {% else %}

                <!-- PROFILE PIC -->
                <img src="{% static 'default_account.png' %}" style="background-color: white;" alt="Avatar" width="32"
                    height="32" class="rounded-circle me-2">

                {% endif %}
                <!-- USERNAME -->
                <strong class="ps-2">{{request.user.username}}</strong>

            </a>

            <!-- START USER RELATED ACTIONS -->
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">

                <!-- Account -->
                <li><a class="dropdown-item" href="{% url 'account:edit' %}">Cuenta</a></li>

                <!-- Divider -->
                <li>
                    <hr class="dropdown-divider">
                </li>

                <!-- Sign Out -->
                <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a></li>
            </ul>
            <!-- END USER RELATED ACTIONS -->
        </div>
    </div>
    <!-- END ACCOUNT CONTAINER -->
</nav>


<script>
    var pricesAreOpened = false;

    $(document).ready(function () {
        togglePricesTopMenu();
    });

    function togglePricesTopMenu() {
        if (pricesAreOpened) {
            $('#closePrices').show();
            $('#openPrices').hide();
        } else {
            $('#closePrices').hide();
            $('#openPrices').show();
        }
        pricesAreOpened = !pricesAreOpened;
    }
</script>