{% load static %}
{% load main_extras %}
<nav id="sidebarMenu" class="col-12 col-md-auto d-md-flex flex-column bg-dark sidebar collapse">
    <div class="vertical-scroll d-flex flex-column flex-grow-1 position-relative nav nav-pills p-3 overflow-auto">
        <!-- Menu items container -->
        <ul class="d-flex flex-column nav nav-pills">

            <!-- START Dashboard -->
            {% if request.user|has_group:"Admins" %}
            <li class="nav-item {% if selected_tab == 'home-tab' %}activetab{% endif %} li-navigation">
                <a id="home-tab" href="{% url 'admin-home' %}" class="nav-link tab" aria-current="page">
                    <i class="bi bi-house-door"></i> Inicio
                </a>
            </li>
            {% endif %}
            <!-- END Dashboard -->


            <!-- START Legajos -->
            {% if request.user|has_group:"Admins" %}
            <li class="nav-item {% if selected_tab == 'accounts-tab' %}activetab{% endif %} li-navigation">
                <a id="staff-tab" href="{% url 'account:employees-list' %}" class="nav-link tab">
                    <i class="bi bi-person-badge"></i> Usuarios
                </a>
            </li>
            {% endif %}
            <!-- END Legajos -->


            {% comment %}
            <!-- START Tracking -->
            {% if request.user|has_group:"Admins" %}
            <li class="nav-item {% if selected_tab == 'tracking-tab' %}activetab{% endif %} li-navigation">
                <a id="shipments-tab" href="{% url 'tracking:list' %}" class="nav-link tab">
                    <i class="bi bi-clipboard-pulse"></i> Tracking
                </a>
            </li>
            {% else %}
            <li class="nav-item {% if selected_tab == 'tracking-tab' %}activetab{% endif %} li-navigation">
                <a id="shipments-tab" href="{% url 'tracking:list' %}" class="nav-link tab">
                    <i class="bi bi-clipboard-pulse"></i> Tracking
                </a>
            </li>
            {% endif %}
            <!-- END Tracking --> {% endcomment %}

            <!-- START Envíos -->
            {% if request.user|has_group:"Admins" %}
            <li class="nav-item {% if selected_tab == 'shipments-tab' %}activetab{% endif %} li-navigation">
                <a id="shipments-tab" href="{% url 'envios:envio-list' %}" class="nav-link tab">
                    <i class="bi bi-truck"></i> Envíos
                </a>
            </li>
            {% else %}
            <li class="nav-item {% if selected_tab == 'shipments-tab' %}activetab{% endif %} li-navigation">
                <a id="shipments-tab" href="{% url 'clients_only:index' %}" class="nav-link tab">
                    <i class="bi bi-truck"></i> Envíos
                </a>
            </li>
            {% endif %}
            <!-- END Envíos -->

            <!-- START Clientes -->
            {% if request.user|has_group:"Admins" %}
            <li class="nav-item {% if selected_tab == 'clients-tab' %}activetab{% endif %} li-navigation">
                <a id="clients-tab" href="{% url 'clients:list' %}" class="nav-link tab">
                    <i class="bi bi-people"></i> Clientes
                </a>
            </li>
            {% endif %}
            <!-- END Clientes -->

            <!-- START Depósitos -->
            {% if request.user|has_group:"Admins" %}
            <li class="nav-item {% if selected_tab == 'deposits-tab' %}activetab{% endif %} li-navigation">
                <a id="deposits-tab" {% if selected_tab != 'deposits-tab' %}href="{% url 'deposits:list' %}" {% endif %}
                    class="nav-link tab">
                    <i class="bi bi-shop"></i> Depósitos
                </a>
            </li>
            {% endif %}
            <!-- END Depósitos -->

            {% comment %}
            <!-- START Lugares -->
            {% if request.user|has_group:"Admins" %}
            <li class="nav-item">

                <!-- START OPTION 1: A places tab is selected-->
                {% if selected_tab == 'town-tab' or selected_tab == 'zone-tab' or selected_tab == 'partido-tab' %}
                <a class="parent-nav nav-link align-items-center rounded tab mt-2" data-bs-toggle="collapse"
                    data-bs-target="#places-collapse" aria-expanded="true">
                    Lugares
                </a>
                <div class="collapse show" id="places-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal" style="font-size: 13px;">
                        <!-- START Places Partidos -->
                        <li class="nav-item {% if selected_tab == 'partido-tab' %}activetab{% endif %} li-navigation">
                            <a id="partido-tab" href="{% url 'places:partido-list' %}" class="nav-link tab">
                                <i class="bi bi-map"></i> Partidos
                            </a>
                        </li>
                        <!-- END Places Partidos -->
                        <!-- START Places Zone -->
                        <li class="nav-item {% if selected_tab == 'zone-tab' %}activetab{% endif %} li-navigation">
                            <a id="zone-tab" href="{% url 'places:zone-list' %}" class="nav-link tab">
                                <i class="bi bi-collection"></i> Zonas
                            </a>
                        </li>
                        <!-- END Places Zone -->
                    </ul>
                </div>
                {% else %}
                <!-- END OPTION 1: A places tab is selected-->
                <!-- START OPTION 2: No places tab is selected -->
                <a class="parent-nav nav-link align-items-center rounded tab collapsed mt-2" data-bs-toggle="collapse"
                    data-bs-target="#places-collapse" aria-expanded="false">
                    Lugares
                </a>
                <div class="collapse" id="places-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal" style="font-size: 13px;">
                        <!-- START Places Partidos -->
                        <li class="nav-item {% if selected_tab == 'partido-tab' %}activetab{% endif %} li-navigation">
                            <a id="partido-tab" href="{% url 'places:partido-list' %}" class="nav-link tab">
                                <i class="bi bi-map"></i> Partidos
                            </a>
                        </li>
                        <!-- END Places Partidos -->
                        <!-- START Places Zone -->
                        <li class="nav-item {% if selected_tab == 'zone-tab' %}activetab{% endif %} li-navigation">
                            <a id="zone-tab" href="{% url 'places:zone-list' %}" class="nav-link tab">
                                <i class="bi bi-collection"></i> Zonas
                            </a>
                        </li>
                        <!-- END Places Zone -->
                    </ul>
                </div>
                {% endif %}
                <!-- END START OPTION 2: No price tab is selected -->
            </li>
            {% endif %}
            <!-- END Lugares --> {% endcomment %}

            {% if request.user|has_group:"Admins" %}

            <!-- START Precios -->
            <li class="nav-item">

                <!-- START OPTION 1: A price tab is selected-->
                {% if selected_tab == 'dprices-tab' or selected_tab == 'fprices-tab' or selected_tab == 'prices-tab' or selected_tab == 'town-tab' or selected_tab == 'cotizador-tab' %}
                <a class="parent-nav nav-link align-items-center rounded tab mt-2" data-bs-toggle="collapse"
                    data-bs-target="#prices-collapse" aria-expanded="true">
                    Tarifas
                </a>
                <div class="collapse show" id="prices-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal" style="font-size: 13px;">
                        <!-- START Places Town -->
                        <li class="nav-item {% if selected_tab == 'town-tab' %}activetab{% endif %} li-navigation">
                            <a id="town-tab" href="{% url 'places:town-list' %}" class="nav-link tab">
                                <i class="bi bi-geo"></i> Localidades
                            </a>
                        </li>
                        <!-- END Places Town -->
                        <!-- START Precios Delivery -->
                        <li class="nav-item {% if selected_tab == 'dprices-tab' %}activetab{% endif %} li-navigation">
                            <a id="dprices-tab" href="{% url 'prices:dcode-list' %}" class="nav-link tab">
                                <i class="bi bi-map"></i> Zonas
                            </a>
                        </li>
                        <!-- END Precios Delivery -->
                        <!-- START Precios Flex -->
                        <li class="nav-item {% if selected_tab == 'fprices-tab' %}activetab{% endif %} li-navigation">
                            <a id="fprices-tab" href="{% url 'prices:fcode-list' %}" class="nav-link tab">
                                <i class="bi bi-currency-dollar"></i> ML Envíos Flex
                            </a>
                        </li>
                        <!-- END Precios Flex -->
                        <!-- START Cotizador -->
                        <li class="nav-item {% if selected_tab == 'cotizador-tab' %}activetab{% endif %} li-navigation">
                            <a id="prices-tab" href="{% url 'prices:cotizador' %}" class="nav-link tab">
                                <i class="bi bi-calculator"></i> Cotizador
                            </a>
                        </li>
                        <!-- END Cotizador -->
                    </ul>
                </div>
                {% else %}
                <!-- END OPTION 1: A price tab is selected-->
                <!-- START OPTION 2: No price tab is selected -->
                <a class="parent-nav nav-link align-items-center rounded tab collapsed mt-2" data-bs-toggle="collapse"
                    data-bs-target="#prices-collapse" aria-expanded="false">
                    Tarifas
                </a>
                <div class="collapse" id="prices-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal" style="font-size: 13px;">
                        <!-- START Places Town -->
                        <li class="nav-item {% if selected_tab == 'town-tab' %}activetab{% endif %} li-navigation">
                            <a id="town-tab" href="{% url 'places:town-list' %}" class="nav-link tab">
                                <i class="bi bi-geo"></i> Localidades
                            </a>
                        </li>
                        <!-- END Places Town -->
                        <!-- START Precios Delivery -->
                        <li class="nav-item {% if selected_tab == 'dprices-tab' %}activetab{% endif %} li-navigation">
                            <a id="prices-tab" href="{% url 'prices:dcode-list' %}" class="nav-link tab">
                                <i class="bi bi-map"></i> Zonas
                            </a>
                        </li>
                        <!-- END Precios Delivery -->
                        <!-- START Precios Flex -->
                        <li class="nav-item {% if selected_tab == 'fprices-tab' %}activetab{% endif %} li-navigation">
                            <a id="prices-tab" href="{% url 'prices:fcode-list' %}" class="nav-link tab">
                                <i class="bi bi-currency-dollar"></i> ML Envíos Flex
                            </a>
                        </li>
                        <!-- END Precios Flex -->
                        <!-- START Cotizador -->
                        <li class="nav-item {% if selected_tab == 'cotizador-tab' %}activetab{% endif %} li-navigation">
                            <a id="prices-tab" href="{% url 'prices:cotizador' %}" class="nav-link tab">
                                <i class="bi bi-calculator"></i> Cotizador
                            </a>
                        </li>
                        <!-- END Cotizador -->
                    </ul>
                </div>
                {% endif %}
                <!-- END START OPTION 2: No price tab is selected -->
            </li>
            <!-- END Precios -->

            {% else %}

            <!-- START Precios -->
            <li class="nav-item">

                <!-- START OPTION 1: A price tab is selected-->
                {% if selected_tab == 'dprices-tab' or selected_tab == 'fprices-tab' or selected_tab == 'prices-tab' or selected_tab == 'town-tab' or selected_tab == 'cotizador-tab' %}
                <a class="parent-nav nav-link align-items-center rounded tab mt-2" data-bs-toggle="collapse"
                    data-bs-target="#prices-collapse" aria-expanded="true">
                    Tarifas
                </a>
                <div class="collapse show" id="prices-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal" style="font-size: 13px;">
                        <!-- START Places Town -->
                        <li class="nav-item {% if selected_tab == 'town-tab' %}activetab{% endif %} li-navigation">
                            <a id="town-tab" href="{% url 'clients_only:town-list' %}" class="nav-link tab">
                                <i class="bi bi-geo"></i> Localidades
                            </a>
                        </li>
                        <!-- END Places Town -->
                        <!-- START Precios Delivery -->
                        <li class="nav-item {% if selected_tab == 'dprices-tab' %}activetab{% endif %} li-navigation">
                            <a id="dprices-tab" href="{% url 'clients_only:dcode-list' %}" class="nav-link tab">
                                <i class="bi bi-map"></i> Zonas
                            </a>
                        </li>
                        <!-- END Precios Delivery -->
                        <!-- START Precios Flex -->
                        <li class="nav-item {% if selected_tab == 'fprices-tab' %}activetab{% endif %} li-navigation">
                            <a id="fprices-tab" href="{% url 'clients_only:fcode-list' %}" class="nav-link tab">
                                <i class="bi bi-currency-dollar"></i> ML Envíos Flex
                            </a>
                        </li>
                        <!-- END Precios Flex -->
                        <!-- START Cotizador -->
                        <li class="nav-item {% if selected_tab == 'cotizador-tab' %}activetab{% endif %} li-navigation">
                            <a id="prices-tab" href="{% url 'clients_only:cotizador' %}" class="nav-link tab">
                                <i class="bi bi-calculator"></i> Cotizador
                            </a>
                        </li>
                        <!-- END Cotizador -->
                    </ul>
                </div>
                {% else %}
                <!-- END OPTION 1: A price tab is selected-->
                <!-- START OPTION 2: No price tab is selected -->
                <a class="parent-nav nav-link align-items-center rounded tab collapsed mt-2" data-bs-toggle="collapse"
                    data-bs-target="#prices-collapse" aria-expanded="false">
                    Tarifas
                </a>
                <div class="collapse" id="prices-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal" style="font-size: 13px;">
                        <!-- START Places Town -->
                        <li class="nav-item {% if selected_tab == 'town-tab' %}activetab{% endif %} li-navigation">
                            <a id="town-tab" href="{% url 'clients_only:town-list' %}" class="nav-link tab">
                                <i class="bi bi-geo"></i> Localidades
                            </a>
                        </li>
                        <!-- END Places Town -->
                        <!-- START Precios Delivery -->
                        <li class="nav-item {% if selected_tab == 'dprices-tab' %}activetab{% endif %} li-navigation">
                            <a id="prices-tab" href="{% url 'clients_only:dcode-list' %}" class="nav-link tab">
                                <i class="bi bi-map"></i> Zonas
                            </a>
                        </li>
                        <!-- END Precios Delivery -->
                        <!-- START Precios Flex -->
                        <li class="nav-item {% if selected_tab == 'fprices-tab' %}activetab{% endif %} li-navigation">
                            <a id="prices-tab" href="{% url 'clients_only:fcode-list' %}" class="nav-link tab">
                                <i class="bi bi-currency-dollar"></i> ML Envíos Flex
                            </a>
                        </li>
                        <!-- END Precios Flex -->
                        <!-- START Cotizador -->
                        <li class="nav-item {% if selected_tab == 'cotizador-tab' %}activetab{% endif %} li-navigation">
                            <a id="prices-tab" href="{% url 'clients_only:cotizador' %}" class="nav-link tab">
                                <i class="bi bi-calculator"></i> Cotizador
                            </a>
                        </li>
                        <!-- END Cotizador -->
                    </ul>
                </div>
                {% endif %}
                <!-- END START OPTION 2: No price tab is selected -->
            </li>
            <!-- END Precios -->

            {% endif %}


            <!-- START Summaries -->
            {% if request.user|has_group:"Admins" %}
            <li class="nav-item">

                <!-- START OPTION 1: A summary tab is selected-->
                {% if selected_tab == 'clients-summaries-tab' or selected_tab == 'employees-summaries-tab' or selected_tab == 'summaries-tab' %}
                <a class="parent-nav nav-link align-items-center rounded tab mt-2" data-bs-toggle="collapse"
                    data-bs-target="#summaries-collapse" aria-expanded="true">
                    Resúmenes
                </a>
                <div class="collapse show" id="summaries-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal" style="font-size: 13px;">
                        <!-- START Precios Delivery -->
                        <li
                            class="nav-item {% if selected_tab == 'clients-summaries-tab' %}activetab{% endif %} li-navigation">
                            <a id="clients-summaries-tab" href="{% url 'summaries:client-list' %}" class="nav-link tab">
                                Clientes
                            </a>
                        </li>
                        <!-- END Precios Delivery -->
                        <!-- START Precios Flex -->
                        <li
                            class="nav-item {% if selected_tab == 'employees-summaries-tab' %}activetab{% endif %} li-navigation">
                            <a id="employees-summaries-tab" href="{% url 'summaries:employee-list' %}"
                                class="nav-link tab">
                                Empleados
                            </a>
                        </li>
                        <!-- END Precios Flex -->
                    </ul>
                </div>
                {% else %}
                <!-- END OPTION 1: A summary tab is selected-->
                <!-- START OPTION 2: No summary tab is selected -->
                <a class="parent-nav nav-link align-items-center rounded tab collapsed mt-2" data-bs-toggle="collapse"
                    data-bs-target="#summaries-collapse" aria-expanded="false">
                    Resúmenes
                </a>
                <div class="collapse" id="summaries-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal" style="font-size: 13px;">
                        <!-- START Precios Delivery -->
                        <li
                            class="nav-item {% if selected_tab == 'clients-summaries-tab' %}activetab{% endif %} li-navigation">
                            <a id="summaries-tab" href="{% url 'summaries:client-list' %}" class="nav-link tab">
                                Clientes
                            </a>
                        </li>
                        <!-- END Precios Delivery -->
                        <!-- START Precios Flex -->
                        <li
                            class="nav-item {% if selected_tab == 'employees-summaries-tab' %}activetab{% endif %} li-navigation">
                            <a id="summaries-tab" href="{% url 'summaries:employee-list' %}" class="nav-link tab">
                                Empleados
                            </a>
                        </li>
                        <!-- END Precios Flex -->
                    </ul>
                </div>
                {% endif %}
                <!-- END START OPTION 2: No price tab is selected -->
            </li>
            {% endif %}
            <!-- END Summaries -->


            <!-- START Contable -->
            {% if request.user|has_group:"Admins" %}
            <li class="nav-item {% if selected_tab == 'transactions-tab' %}activetab{% endif %} li-navigation">
                <a id="transactions-tab" href="{% url 'transactions:list' %}" class="nav-link tab">
                    <i class="bi bi-cash-coin"></i> Finanzas
                </a>
            </li>
            {% endif %}
            <!-- END Contable -->

            <!-- START Tickets -->
            {% if request.user|has_group:"Admins" %}
            <li class="nav-item {% if selected_tab == 'tickets-tab' %}activetab{% endif %} li-navigation">
                <a id="tickets-tab" href="{% url 'tickets:list' %}" class="nav-link tab">
                    <i class="bi bi-magic"></i> Tickets
                </a>
            </li>
            {% endif %}
            <!-- END Tickets -->

            <!-- START APK url -->
            {% if request.user|has_group:"Admins" %}
            <li class="nav-item li-navigation">
                <a href="{% url 'data:download_apk' %}" class="nav-link tab">
                    <i class="bi bi-cloud-download"></i> Descargar APK
                </a>
            </li>
            {% endif %}
            <!-- END APK url -->

            {% if request.user|has_group:"Admins" %}
            {% if request.user.is_superuser %}
            <!-- START Mobile App -->
            {% comment %} <li class="nav-item {% if selected_tab == 'scanner-tab' %}activetab{% endif %} li-navigation">
                <a id="scanner-tab" href="{% url 'mobile:index' %}" class="nav-link tab" aria-current="page">
                    <i class="bi bi-box-arrow-up-right"></i></i> App
                </a>
            </li> {% endcomment %}
            <!-- END Mobile App -->

            <!-- START SUPERADMIN -->
            <li class="nav-item li-navigation">
                <a id="superadmin-tab" href="{% url 'admin:index' %}" class="nav-link tab">
                    <i class="bi bi-person-check"></i> Superadmin
                </a>
            </li>
            {% endif %}
            {% endif %}
            <!-- END SUPERADMIN -->

        </ul>
        <!-- END Menu items container -->
    </div>

    <div class="position-md-sticky sticky-md-bottom mx-3">
        <hr class="bg-light">
    </div>

    <!-- START ACCOUNT CONTAINER -->
    <div class="d-flex align-items-end position-md-sticky sticky-md-bottom mx-3">

        <div class="dropdown align-items-end pb-3">

            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">

                {% if request.user.profile_picture %}

                <!-- PROFILE PIC -->
                <img src="{{request.user.profile_picture.url}}" alt="Avatar" width="32" height="32"
                    class="rounded-circle me-2">

                {% else %}

                <!-- PROFILE PIC -->
                <img src="{% static 'default_account.png' %}" style="background-color: white;" alt="Avatar" width="32"
                    height="32" class="rounded-circle me-2">

                {% endif %}
                <!-- USERNAME -->
                <strong class="ps-2">{{request.user.username}}</strong>

            </a>

            <!-- START USER RELATED ACTIONS -->
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">

                <!-- Seguridad -->
                {% if request.user|has_group:"Admins" %}
                <li><a class="dropdown-item" href="{% url 'account:edit' %}">Cambiar contraseña</a></li>
                {% else %}
                <li><a class="dropdown-item" href="{% url 'clients_only:edit-password' %}">Cambiar contraseña</a></li>
                {% endif %}

                <!-- Divider -->
                <li>
                    <hr class="dropdown-divider">
                </li>

                <!-- Sign Out -->
                <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a></li>
            </ul>
            <!-- END USER RELATED ACTIONS -->
        </div>
    </div>
    <!-- END ACCOUNT CONTAINER -->
</nav>


<script>
    var pricesAreOpened = false;

    $(document).ready(function () {
        togglePricesTopMenu();
    });

    function togglePricesTopMenu() {
        if (pricesAreOpened) {
            $('#closePrices').show();
            $('#openPrices').hide();
        } else {
            $('#closePrices').hide();
            $('#openPrices').show();
        }
        pricesAreOpened = !pricesAreOpened;
    }
</script>