{% load static %}

<style>
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
        /* Behind the navbar */
        /* Height of navbar */
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    }

    @media (max-width: 767.98px) {
        .sidebar {
            top: 5rem;
        }
    }

    .sidebar-sticky {
        position: relative;
        top: 0;
        height: 100vh;
        padding-top: .5rem;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
    }

    .sidebar .nav-link {
        font-weight: 500;
        color: #333;
    }

    .sidebar .nav-link .feather {
        margin-right: 4px;
        color: #727272;
    }

    .sidebar .nav-link.active {
        color: #2470dc;
    }

    .sidebar .nav-link:hover .feather,
    .sidebar .nav-link.active .feather {
        color: inherit;
    }

    .sidebar-heading {
        font-size: .75rem;
        text-transform: uppercase;
    }

    /*
    * Navbar
    */

    .navbar-brand {
        padding-top: .75rem;
        padding-bottom: .75rem;
        font-size: 1rem;
        background-color: rgba(0, 0, 0, .25);
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    }

    .navbar .navbar-toggler {
        top: .25rem;
        right: 1rem;
    }

    .navbar .form-control {
        padding: .75rem 1rem;
        border-width: 0;
        border-radius: 0;
    }
</style>

<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse" style="width: 280px;">
    <div class="position-sticky pt-3 ">
        <!-- Menu items container -->
        <ul class="nav flex-column nav-pills">

            <!-- START Dashboard -->
            <li class="nav-item">
                <a id="home-tab" href="{% url 'home' %}"
                    class="nav-link tab text-white {% if selected_tab == "home-tab" or selected_tab == None or selected_tab == "" %}{{active}}{% endif %}">
                    <i class="bi bi-house-door"></i>
                    Inicio
                </a>
            </li>
            <!-- END Dashboard -->


            <!-- START Escáner -->
            <li class="nav-item">
                <a id="scanner-tab" href="#"
                    class="nav-link tab text-white {% if selected_tab == "scanner-tab" %}{{active}}{% endif %}">
                    <i class="bi bi-upc-scan"></i>
                    Escáner
                </a>
            </li>
            <!-- END Escáner -->


            <!-- START Envíos -->
            <li>
                <a id="shipments-tab" href="{% url 'envios:list' %}"
                    class="nav-link tab text-white {% if selected_tab == "shipments-tab" %}{{active}}{% endif %}">
                    <i class="bi bi-truck"></i>
                    Envíos
                </a>
            </li>
            <!-- END Envíos -->


            <!-- START Lugares -->
            <li>
                <a id="places-tab" href="#"
                    class="nav-link tab text-white {% if selected_tab == "places-tab" %}{{active}}{% endif %}">
                    <i class="bi bi-map"></i>
                    Localidades
                </a>
            </li>
            <!-- END Lugares -->


            <!-- START Lugares -->
            <li>
                <a id="prices-tab" href="#"
                    class="nav-link tab text-white {% if selected_tab == "prices-tab" %}{{active}}{% endif %}">
                    <i class="bi bi-currency-dollar"></i>
                    Tarifas
                </a>
            </li>
            <!-- END Lugares -->


            <!-- START Clientes -->
            <li>
                <a id="clients-tab" href="#"
                    class="nav-link tab text-white {% if selected_tab == "clients-tab" %}{{active}}{% endif %}">
                    <i class="bi bi-people"></i>
                    Clientes
                </a>
            </li>
            <!-- END Clientes -->

            <!-- START Legajos -->
            <li>
                <a id="staff-tab" href="#"
                    class="nav-link tab text-white {% if selected_tab == "staff-tab" %}{{active}}{% endif %}">
                    <i class="bi bi-file-earmark-text"></i>
                    Legajos
                </a>
            </li>
            <!-- END Legajos -->

            <!-- START Facturación -->
            <li>
                <a id="billing-tab" href="#"
                    class="nav-link tab text-white {% if selected_tab == "billing-tab" %}{{active}}{% endif %}">
                    <i class="bi bi-receipt"></i>
                    Facturación
                </a>
            </li>
            <!-- END Facturación -->

            <!-- START Liquidación -->
            <li>
                <a id="settlement-tab" href="#"
                    class="nav-link tab text-white {% if selected_tab == "settlement-tab" %}{{active}}{% endif %}">
                    <i class="bi bi-calendar-event"></i>
                    Liquidación
                </a>
            </li>
            <!-- END Liquidación -->

            <!-- START Contable -->
            <li>
                <a id="accounting-tab" href="#"
                    class="nav-link tab text-white {% if selected_tab == "accounting-tab" %}{{active}}{% endif %}">
                    <i class="bi bi-currency-euro"></i>
                    Contable
                </a>
            </li>
            <!-- END Contable -->

        </ul>
        <!-- END Menu items container -->

        <hr class="bg-light">

        <!-- START ACCOUNT CONTAINER -->
        <div class="d-flex align-items-end">
            <div></div>
            <div class="dropdown flex-grow-1 align-self-end">

                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                    id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">

                    <!-- PROFILE PIC -->
                    <img src="{{ request.user.profile_picture.url }}" alt="Avatar" width="32" height="32"
                        class="rounded-circle me-2">

                    <!-- USERNAME -->
                    <strong>{{request.user.username}}</strong>

                </a>

                <!-- START USER RELATED ACTIONS -->
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">

                    <!-- Account -->
                    <li><a class="dropdown-item" href="{% url 'account:edit' %}">Cuenta</a></li>

                    <!-- Divider -->
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <!-- Sign Out -->
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a></li>
                </ul>
                <!-- END USER RELATED ACTIONS -->
            </div>
        </div>
        <!-- END ACCOUNT CONTAINER -->

    </div>
</nav>