{% extends 'base_app.html' %}

{% load static %}

{% block thumbnail_menu_item %}

<img class="me-3" src="{% static 'res/images/central-deposit.png' %}" width="20" height="20" alt="">

{% endblock thumbnail_menu_item %}

{% block nav_items %}
<li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
<li class="breadcrumb-item"><a href="{% url 'app_transfer:index' %}">Tranferir</a></li>
<li class="breadcrumb-item"><a href="{% url 'app_transfer:select-receiver' carrier.pk %}">{{ carrier.username }}</a>
</li>
<li class="breadcrumb-item active" aria-current="page">{{ receiver.username }}</li>
{% endblock nav_items %}


{% block optional_subheader %}
<div class="p-3 mb-0 pb-1">
    <div class="d-inline mb-2 ">
        <div class="d-inline-flex bg-dark px-1 rounded fw-bold" style="color: white;">
            {{ carrier.first_name }} {{ carrier.last_name }} ({{ c_envios_count }})
        </div>
        <h6 class="fw-bold m-1">
            Transfiere a
        </h6>
        <div class="d-inline-flex bg-warning px-1 m-0 rounded fw-bold" style="color: white;">
            {{ receiver.first_name }} {{ receiver.last_name }} ({{ r_envios_count }})
        </div>
    </div>

    <div class="d-inline-flex mb-2">
    </div>
    <hr>
    <h6>Seleccioná que envíos se van a transferir:</h6>
</div>
{% endblock optional_subheader %}


{% block content %}

<ul class="list-group list-group-flush bg-white">
    <li class="list-group-item list-menu-item p-3"
        onclick="location.href='{% url 'app_transfer:confirm-all' carrier.pk receiver.pk %}'" style="cursor: pointer;">
        <div class="d-flex flex-row justify-content-between align-items-center my-2">
            <div class="d-flex flex-column justify-content-center align-items-bottom">
                Todos&nbsp;los&nbsp;envíos&nbsp;disponibles
            </div>
            <i class="bi bi-chevron-right"></i>
        </div>
    </li>
    <li class="list-group-item list-menu-item p-3"
        onclick="location.href='{% url 'app_transfer:scan' carrier.pk receiver.pk %}'" style="cursor: pointer;">
        <div class="d-flex flex-row justify-content-between align-items-center my-2">
            <div class="d-flex flex-column justify-content-center align-items-bottom">
                Algunos&nbsp;envíos&nbsp;específicos&nbsp;(escaneados)
            </div>
            <i class="bi bi-chevron-right"></i>
        </div>
    </li>
    <li class="list-group-item list-menu-item p-3"
        onclick="location.href='{% url 'app_transfer:filter-by' carrier.pk receiver.pk %}'" style="cursor:
        pointer;">
        <div class="d-flex flex-row justify-content-between align-items-center my-2">
            <div class="d-flex flex-column justify-content-center align-items-bottom">
                Algunos&nbsp;envíos&nbsp;según&nbsp;filtros&nbsp;especializados
            </div>
            <i class="bi bi-chevron-right"></i>
        </div>
    </li>

</ul>


{% endblock content %}