{% extends 'base/base_list.html' %}


{% block modal_content %}

{% load humanize %}

<!-- start BASE MODAL DIALOG -->
<div class="modal fade position-absolute top-0" style="z-index: 10000000;" id="baseModal" tabindex="-1"
    aria-labelledby="baseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filtersModalLabel">Elegí cómo querés filtrar los depósitos.
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row g-2 mt-2">
                    <div class="col">
                        <label for="id_partido_modal" class="form-label">Partido</label>

                        <!-- start PARTIDO SELECTION -->
                        <select id="id_partido_modal" name="partido_modal" class="form-select"
                            aria-label="partido selection">
                            <option value="">---</option>
                            {% for partido in partidos %}
                            <option value="{{partido.id}}"
                                {% if partido_id == partido.id|stringformat:"i" %}selected{% endif %}>
                                {{partido.name|title}}
                            </option>
                            {% endfor %}
                        </select>
                        <!-- end PARTIDO SELECTION -->

                    </div>
                </div>


            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    onclick="clearFilters()">Limpiar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    onclick="applyFilters()">Aplicar</button>
            </div>
        </div>
    </div>
</div>
<!-- end BASE MODAL DIALOG -->

{% endblock modal_content %}


{% block custom_add_block %}
<a href="{% url 'places:download-towns-list' %}" type="button" class="btn btn-primary btn-sm ms-2 me-1 shadow"><i class="bi bi-file-earmark-excel me-1"></i>Descargar listado</a>
{% endblock custom_add_block %}


{% block orderby_block %}
<li>
    <button type="button" onclick="orderByChanged('name','id_order_by','list_form',true);" class="dropdown-item">
        A-Z
    </button>
</li>
<li>
    <button type="button" onclick="orderByChanged('name_desc','id_order_by','list_form');" class="dropdown-item">
        Z-A
    </button>
</li>
<li>
    <button type="button" onclick="orderByChanged('partido__name','id_order_by','list_form',true);"
        class="dropdown-item">
        Partido A-Z
    </button>
</li>
<li>
    <button type="button" onclick="orderByChanged('partido__name_desc','id_order_by','list_form');"
        class="dropdown-item">
        Partido Z-A
    </button>
</li>
<li>
    <button type="button" onclick="orderByChanged('delivery_code__max_5k_price','id_order_by','list_form',true);"
        class="dropdown-item">
        Precio menor a mayor
    </button>
</li>
<li>
    <button type="button" onclick="orderByChanged('delivery_code__max_5k_price_desc','id_order_by','list_form');"
        class="dropdown-item">
        Precio mayor a menor
    </button>
</li>
<li>
    <button type="button" onclick="orderByChanged('flex_code__price','id_order_by','list_form',true);"
        class="dropdown-item">
        Precio de flex menor a mayor
    </button>
</li>
<li>
    <button type="button" onclick="orderByChanged('flex_code__price_desc','id_order_by','list_form');"
        class="dropdown-item">
        Precio de flex mayor a menor
    </button>
</li>
{% endblock orderby_block %}



{% block filters_block %}
<input type="text" id='id_partido_id' name="partido_id" {% if partido_id %}value="{{ partido_id }}" {% endif %}>
<input type="submit">
{% endblock filters_block %}



{% block objects_table_head_block %}
<th>Nombre</th>
<th>Partido</th>
<th>Provincia</th>
<th>MercadoEnvíos Flex</th>
<th>Paquete &lt;= 5kg</th>
<th>Bulto &lt;= 10kg</th>
<th>Bulto &lt; 20kg</th>
<th>Miniflete</th>
<th>Trámite</th>
<th>Camioneta</th>
{% endblock objects_table_head_block %}



{% block objects_table_body_block %}
{% for obj in objects %}
<tr id="tr-{{ obj.id }}" class="table-item highlight-row">
    <td>{{ obj.name |title}}</td>
    <td>{{ obj.partido.name |title}}</td>
    <td>{{ obj.partido.get_province_display }}</td>
    <td class="cell-centered">{% if obj.flex_code.price %}$
        {{ obj.flex_code.price |floatformat:"2" }}{% else %}-{% endif %}</td>
    <td class="cell-centered">
        {% if obj.delivery_code.max_5k_price %}${{ obj.delivery_code.max_5k_price |floatformat:"2" }}{% else %}-{% endif %}
    </td>
    <td class="cell-centered">
        {% if obj.delivery_code.bulto_max_10k_price %}${{ obj.delivery_code.bulto_max_10k_price |floatformat:"2" }}{% else %}-{% endif %}
    </td>
    <td class="cell-centered">
        {% if obj.delivery_code.bulto_max_20k_price %}${{ obj.delivery_code.bulto_max_20k_price |floatformat:"2" }}{% else %}-{% endif %}
    </td>
    <td class="cell-centered">
        {% if obj.delivery_code.miniflete_price %}${{ obj.delivery_code.miniflete_price |floatformat:"2" }}{% else %}-{% endif %}
    </td>
    <td class="cell-centered">
        {% if obj.delivery_code.tramite_price %}${{ obj.delivery_code.tramite_price |floatformat:"2" }}{% else %}-{% endif %}
    </td>
    <td class="cell-centered">
        {% if obj.delivery_code.camioneta_price %}${{ obj.delivery_code.camioneta_price |floatformat:"2" }}{% else %}-{% endif %}
    </td>

</tr>
{% endfor %}
{% endblock objects_table_body_block %}


{% block scripts_block %}
<script>
    const passedOrderBy = '{{ order_by }}';
    var lastQuery = "{{ query_by }}";

    $(document).ready(function () {

        $('#list_form').submit(function (e) {
            e.preventDefault();
            [
                'id_query_by',
                'id_order_by',
                'id_results_per_page',
                'id_partido_id',
            ].forEach(function (id) {
                if ($('#' + id).val() == '') {
                    $('#' + id).prop('disabled', true);
                } else {
                    $('#' + id).prop('disabled', false);
                }
            });
            $(this).unbind('submit').submit();
        });

        enableTooltips();

        $('#id_results_per_page').change(function () {
            $('#list_form').submit();
        });

        $('#id_query_by').on('change paste keyup', function () {
            show('clearSearchDiv', $('#id_query_by').val() != '');
            show('btnCleanQuery', $('#id_query_by').val() != '');
        });

        if (lastQuery != '') {
            $('#id_query_by').val(lastQuery);
            show('clearSearchDiv', $('#id_query_by').val() != '');
            show('btnCleanQuery', $('#id_query_by').val() != '');
        }

        $('#btnRadioRPP50').click(function () {
            $('#id_results_per_page').val(50);
            $('#list_form').submit();
        });
        $('#btnRadioRPP100').click(function () {
            $('#id_results_per_page').val(100);
            $('#list_form').submit();
        });
        $('#btnRadioRPP200').click(function () {
            $('#id_results_per_page').val(200);
            $('#list_form').submit();
        });
        $('#btnRadioRPP500').click(function () {
            $('#id_results_per_page').val(500);
            $('#list_form').submit();
        });


    });

    function clearSearch() {
        $('#id_query_by').val('');
        if (lastQuery != '' && lastQuery != null && lastQuery != undefined) {
            $('#list_form').submit();
        }
        show('btnCleanQuery', false);
    }


    function applyFilters() {
        $('#id_partido_id').val($('#id_partido_modal').val());
        $('#list_form').submit();
    }

    function clearFilters() {
        $('#id_partido_id').val('');
        $('#list_form').submit();
    }
</script>

{% endblock scripts_block %}