{% extends 'base_app.html' %}

{% load static %}

{% block thumbnail_menu_item %}

<img class="me-3" src="{% static 'res/images/withdraw-at-origin.png' %}" width="20" height="20" alt="">

{% endblock thumbnail_menu_item %}

{% block nav_items %}
<li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
<li class="breadcrumb-item active"><a href="{% url 'app_withdraw:index' %}">Retirar</a></li>
<li class="breadcrumb-item active" aria-current="page">{{deposit.name}}</li>
{% endblock nav_items %}

{% block optional_subheader %}
<div class="p-3 mb-2 pb-1">
    <div class="d-flex">
        <input type="text" class="form-control" id="input_search" placeholder="Escribí para buscar">
    </div>
</div>
{% endblock optional_subheader %}



{% block content %}

<ul class="list-group list-group-flush" id="ulContainer">

</ul>

<!-- DISPLAYED WHEN NOTHING FOUND -->
<div class="d-flex flex-column justify-content-center align-items-center invisible" id="nothing-found-div">
    <h6 id="h6-nothing">
        No hay retiros en origen cargados :(
    </h6>
    <img src="{% static 'res/images/nothing-found.png' %}" width="200" height="200" alt="">
</div>

<script>
    var carriers = JSON.parse('{{ carriers | escapejs }}');
    var deposit = JSON.parse('{{ deposit_JSON | escapejs }}');

    function removeChilds(container) {
        const el = document.getElementById(container);
        try {
            while (el.firstChild) el.removeChild(el.firstChild);
        } catch (e) {
            console.log(e);
        }
    }

    $(document).ready(function () {
        //var elements = $('.list-menu-item').length;
        /*
        if (elements == 0) {
            //$('#h6-nothing').html('No hay retiros en origen cargados :(');
            var element = document.getElementById("nothing-found-div")
            element.classList.remove("invisible");
            element.classList.add("visible");
        }
        */

        $.event.special.inputchange = {
            setup: function () {
                var self = this,
                    val;
                $.data(this, 'timer', window.setInterval(function () {
                    val = self.value;
                    if ($.data(self, 'cache') != val) {
                        $.data(self, 'cache', val);
                        $(self).trigger('inputchange');
                    }
                }, 20));
            },
            teardown: function () {
                window.clearInterval($.data(this, 'timer'));
            },
            add: function () {
                $.data(this, 'cache', this.value);
            }
        };

        populateList(true);

        $('#input_search').on('inputchange', function () {
            console.log("Changed");
            removeChilds('ulContainer');
            populateList(false);
        });
    });

    function populateList(show_all = false) {
        var search = $('#input_search').val().trim().toLowerCase();
        var counter = 0;
        carriers.forEach(function (carrier) {
            if (show_all || carrier.toLowerCase().includes(search)) {
                appendLi(carrier);
                counter++;
            }
        });
        var element = document.getElementById("nothing-found-div")
        if (counter == 0) {
            element.classList.remove("invisible");
            element.classList.add("visible");
        } else {
            element.classList.add("invisible");
            element.classList.remove("visible");
        }
    }

    function appendLi(carrier) {
        var carrier = JSON.parse(carrier);
        var username = carrier['username'];
        var first_name = carrier['first_name'];
        var last_name = carrier['last_name'];
        var envios = carrier['envios'];
        var li = document.createElement("li");
        ["list-group-item", "list-group-item-action", "list-menu-item", "p-2"].forEach(function (className) {
            li.classList.add(className);
        });
        li.onclick = function () {
            location.href = "/app/withdraw/" + `{{deposit.pk}}` + "/to/" + carrier.pk;
        };
        li.style.cursor = "pointer";
        li.innerHTML =
            `<div class=\"d-flex flex-row justify-content-between align-items-center my-2\">
                <div class=\"d-flex flex-column flex-wrap justify-content-center align-items-bottom\">
                    <h6 class=\"p-0 m-0\" style=\"color: rgb(90,90,90);\"><span class=\"badge
                            bg-secondary\">@${username}</span></h6>
                    <h4 class=\"p-0 m-0\" style=\"color: rgb(90,90,90);\">${first_name} ${last_name}</h4>
                    <div style=\"color: rgb(90,90,90);\">Portando&nbsp;${envios}&nbsp;envíos</div>
                </div><i class=\"bi bi-chevron-right\"></i>
            </div>`;
        document.getElementById("ulContainer").appendChild(li);
    }
</script>

{% endblock content %}