{% extends 'base_app.html' %}

{% load static %}

{% block thumbnail_menu_item %}

<img class="me-3" src="{% static 'res/images/withdraw-at-origin.png' %}" width="20" height="20" alt="">

{% endblock thumbnail_menu_item %}

{% block nav_items %}
<li class="breadcrumb-item"><a href="{% url 'baseapp:index' %}">Inicio</a></li>
<li class="breadcrumb-item"><a href="{% url 'baseapp:central-index' %}">Depósito central</a></li>
<li class="breadcrumb-item active" aria-current="page">Recibir de {{ user.username }}</li>
{% endblock nav_items %}


{% block content %}


<ul class="list-group list-group-flush">
    {% for user in users %}
    {% if user.envios > 0 %}
    <li class="list-group-item list-group-item-action list-menu-item p-2"
        onclick="location.href='{% url 'baseapp:origin-client' user.pk %}'" style="cursor: pointer;">
        <div class="d-flex flex-row justify-content-between align-items-center my-2">
            <div class="d-flex flex-column justify-content-center align-items-bottom">
                <h4 class="p-0 m-0" style="color: rgb(90,90,90);">
                    {{ user.first_name }} {{ user.last_name }}({{ user.username }})</h4>
                <div style="color: rgb(90,90,90);">{{ user.envios }}&nbsp;envíos&nbsp;cargados
                </div>
            </div>
            <i class="bi bi-chevron-right"></i>
        </div>
    </li>
    {% endif %}
    {% endfor %}
</ul>
<h6 id="h6-nothing"></h6>
HOLA

<script>
    $(document).ready(function () {
        var elements = $('.list-menu-item').length;
        if (elements == 0) {
            $('#h6-nothing').html('No hay retiros en origen cargados :(');
        }
    });
</script>

{% endblock content %}