{% extends 'base_app.html' %}

{% load static %}


{% block thumbnail_menu_item %}

<img class="me-3" src="{% static 'sinergia-software-logo.svg' %}" width="20" height="20" alt="">

{% endblock thumbnail_menu_item %}

{% block nav_items %}
<li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
<li class="breadcrumb-item"><a href="{% url 'baseapp-account' %}">Cuenta</a></li>
<li class="breadcrumb-item active" aria-current="page">Cambiar contraseña</li>
{% endblock nav_items %}


{% block content %}

<style>
    .menu-item {
        background-color: #FFFFFF00;
    }

    .menu-item:hover {
        background-color: #EEEEEE;
    }
</style>
<ul class="list-group list-group-flush">
    <form method='POST' id="id_form" class="card flex shadow-lg bg-white" name="form" target="_top"
        enctype="multipart/form-data">{% csrf_token %}

        <div class="card-body">
            <h1 class="h3 mb-3 font-weight-normal">Cambiar contraseña</h1>

            <form method="POST" class="form-signin">{% csrf_token %}
                <div class="g-3">

                    <div class="col mb-2">
                        <input name="old_password"
                            class="form-control {% if form.old_password.errors %}is-invalid{% endif %}"
                            placeholder="Contraseña actual" type="password" id="id_old_password" required="true">
                        <div class="invalid-feedback">
                            {% for error in form.old_password.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col mb-2">
                        <input name="new_password1"
                            class="form-control {% if form.new_password1.errors %}is-invalid{% endif %}"
                            placeholder="Nueva contraseña" type="password" id="id_new_password1" required="true">
                        <div class="invalid-feedback">
                            {% for error in form.new_password1.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col mb-2">
                        <input name="new_password2"
                            class="form-control {% if form.new_password2.errors %}is-invalid{% endif %}"
                            placeholder="Confirmación" type="password" id="id_new_password2" required="true">
                        <div class="invalid-feedback">
                            {% for error in form.new_password2.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                    </div>

                    {% for error in login_form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">{{error}}</div>
                    {% endfor %}

                    <div class="d-grid gap-2 d-md-flex">
                        <input type="submit" value="Guardar" class="btn btn-primary">
                    </div>

                </div>
            </form>
        </div>
    </form>
</ul>
{% endblock content %}