{% extends 'base_system.html' %}

{% block content %}

<style>
    .top-card {
        color: grey;
    }

    .blinking {
        -webkit-animation: 1s blink ease infinite;
        -moz-animation: 1s blink ease infinite;
        -ms-animation: 1s blink ease infinite;
        -o-animation: 1s blink ease infinite;
        animation: 1s blink ease infinite;

    }

    .cell-centered {
        text-align: center;
    }

    @keyframes "blink" {

        from,
        to {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }
    }

    @-moz-keyframes blink {

        from,
        to {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }
    }

    @-webkit-keyframes "blink" {

        from,
        to {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }
    }

    @-ms-keyframes "blink" {

        from,
        to {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }
    }

    @-o-keyframes "blink" {

        from,
        to {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<div class="w-100 d-flex flex-column">
    {% include 'snippets/main_stats.html' %}
    {% if clients_with_envios %}{% include 'snippets/at_origin/table.html' %}{% endif %}
    {% if deposits_with_envios %}{% include 'snippets/at_deposit/table.html' %}{% endif %}
    {% if carriers_with_envios %}{% include 'snippets/moving/table.html' %}{% endif %}

</div>

<script>
    function onItemClicked(id) {
        alert(id);
    }
</script>

{% endblock content %}
