<style>
    td {
        overflow: auto;
        white-space: nowrap;
    }
</style>

<!--
    <th>#</th>
    <th>Nombre</th>
    <th>Cliente/Propio</th>
    <th>Domicilio</th>
    <th>Activo</th>
    <th>Envíos</th>
    <th>Teléfono</th>
    <th>Email</th>
-->

<style>
    .is-sinergia {
        color: red;
    }
</style>


<tr id="tr-{{ obj.id }}" class="table-item highlight-row {% if obj.is_sinergia %}is-sinergia{% endif %}"
    onclick="window.location.href='{% url 'deposits:detail' pk=obj.id %}'">
    <th scope="row" id="td-{{ obj.id }}" class="td-item-checker">{{ counter }}</th>
    <td>{{ obj.name }}</td>
    <td>
        {% if obj.is_sinergia %}
        Propio
        {% else %}
        {{ obj.client }}
        {% endif %}
    <td>{{ obj.full_address }}</td>
    <td class="text-center">
        {% if obj.is_active %}
        <span class="badge bg-success">Si</span>
        {% else %}
        <span class="badge bg-danger">No</span>
        {% endif %}
    </td>
    <td class="text-center">{{ envios }}</td>
    <td class="text-center">{{ obj.phone }}</td>
    <td class="text-center">{{ obj.email }}</td>

</tr>