<style>
    td {
        overflow: auto;
        white-space: nowrap;
    }
</style>


<tr id="tr-{{ obj.id }}" class="table-item highlight-row"
    onclick="window.location.href='{% url 'deposits:detail' pk=obj.id %}'" {% if not obj.is_active %}style="color: red !important;"{% endif %}>
    <th scope="row" id="td-{{ obj.id }}" class="td-item-checker">{{ counter }}</th>
    <td {% if not obj.is_active %}style="color: red !important;"{% endif %}>{{ obj.name }}
    <td {% if not obj.is_active %}style="color: red !important;"{% endif %}>
        {% if obj.is_sinergia or obj.client == None %}
        Propio
        {% else %}
        {{ obj.client }}
        {% endif %}
    <td {% if not obj.is_active %}style="color: red !important;"{% endif %}>{{ obj.full_address }}</td>
    <td class="text-center" {% if not obj.is_active %}style="color: red !important;"{% endif %}>
        {% if obj.is_active %}
        <span class="badge bg-success">Si</span>
        {% else %}
        <span class="badge bg-danger">No</span>
        {% endif %}
    </td>
    <td class="text-center" {% if not obj.is_active %}style="color: red !important;"{% endif %}>{{ envios }}</td>
    <td class="text-center" {% if not obj.is_active %}style="color: red !important;"{% endif %}>
        {% if obj.phone %}{{ obj.phone }}{% else %}Sin especificar{% endif %}
    </td>
    <td class="text-center" {% if not obj.is_active %}style="color: red !important;"{% endif %}>
        {% if obj.email %}{{ obj.email }}{% else %}Sin especificar{% endif %}
    </td>

</tr>