{% extends 'base_system.html' %}

{% block content %}
<style>
    .table thead th {
        border-bottom: 2px solid #C556FF;
    }

    td {
        overflow: auto;
    }
</style>
<div class="col-md-12 col-xl-10 col-xxl-9 d-flex-block">


    <!-- start CARD DETAIL -->
    <div class="card flex-fill shadow-lg">

        <!-- start CARD HEADER -->
        <div class="card-header d-flex justify-content-between align-items-center">
            <div>
                Detalle de depósito
            </div>
            <div class="">
                <a href="{% url 'deposits:list' %}">
                    <i class="bi bi-list"></i>Ver lista completa</a>
            </div>
        </div>
        <!-- end CARD HEADER -->

        <!-- start CARD BODY -->
        <div class="card-body">

            <!-- start DETAILS HEADER -->
            <div class="card-title d-flex justify-content-between flex-wrap align-content-center">

                <!-- start DETAIL TITLE -->
                <div class="me-2 w-100 align-content-center">
                    <h2>#{{ deposit.id }} | {{ deposit.name | title }}</h2>
                </div>
                <!-- end DETAIL TITLE -->

                <!-- start DETAIL INFO -->
                <div class="mt-1 d-flex aling-items-center">
                    <i class="bi bi-clock-history"></i>&nbsp;Creado el {{ deposit.date_created|date:"d/m/Y" }} a las
                    {{ deposit.date_created|date:"H:i" }}{% if deposit.created_by != None %}&nbsp;por&nbsp;<a href="#"
                        data-bs-toggle="tooltip" data-bs-html="true"
                        title="{{ deposit.created_by.first_name }}&nbsp;{{ deposit.created_by.last_name }}<em><br>{% if deposit.created_by.client != None %}&nbsp;({{ deposit.created_by.client.name }}){% else %}&nbsp;(Sinergia){% endif %}</em>">@{{ deposit.created_by.username }}</a>{% else %}&nbsp;con&nbsp;un
                    evento adminsitrativo{% endif %}
                </div>
                <!-- end DETAIL INFO -->

                <!-- start DETAIL BUTTONS -->
                <div>
                    <a href="{% url 'deposits:edit' deposit.id %}" class="btn btn-secondary btn-sm me-1"><i
                            class="bi bi-pencil me-1"></i>Editar</a>
                    <a href="{% url 'deposits:delete' deposit.id %}" class="btn btn-danger btn-sm me-1"><i
                            class="bi bi-trash me-1"></i>Eliminar</a>
                </div>
                <!-- end DETAIL BUTTONS -->

            </div>
            <!-- end DETAILS HEADER -->

            <hr>

            <!-- start DETAILS -->
            <div class="card-text">

                <table class="table table-bordered">
                    <tbody id="overrided-1" class="overrided-tbody">

                        <!-- row CLIENT -->
                        {% if deposit.client %}
                        <tr>
                            <td class="bg-dark fw-bolder text-nowrap" style="color: white;"><i
                                    class="bi bi-people me-1"></i>Cliente</td>
                            <td class="w-100"><a
                                    href="{% url 'clients:detail' deposit.client.pk %}">{{ deposit.client.name }}</a>
                            </td>
                        </tr>
                        {% endif %}


                        <!-- row ADDRESS -->
                        <tr>
                            <td class="bg-dark fw-bolder text-nowrap" style="color: white;"><i
                                    class="bi bi-geo-alt me-1"></i>Domicilio</td>
                            <td class="w-100">
                                {{ deposit.full_address }}
                            </td>
                        </tr>


                        <!-- row PHONE -->
                        <tr>
                            <td class="bg-dark fw-bolder text-nowrap" style="color: white;"><i
                                    class="bi bi-telephone me-1"></i>Teléfono</td>
                            <td class="w-100">{% if deposit.phone %}{{ deposit.phone }}{% else %}Sin
                                especificar{% endif %}</td>
                        </tr>


                        <!-- row EMAIL -->
                        <tr>
                            <td class="bg-dark fw-bolder text-nowrap" style="color: white;"><i
                                    class="bi bi-at me-1"></i>Correo electrónico</td>
                            <td class="w-100">{% if deposit.email %}{{ client.contact_email }}{% else %}Sin
                                especificar{% endif %}</td>
                        </tr>

                        <!-- row ACTIVE -->
                        <tr>
                            <td class="bg-dark fw-bolder text-nowrap" style="color: white;"><i
                                    class="bi bi-toggles me-1"></i>Activo</td>
                            <td class="w-100">
                                {% if deposit.is_active %}
                                <span class="badge bg-success">Sí</span>
                                {% else %}
                                <span class="badge bg-danger">No</span>
                                {% endif %}
                            </td>
                        </tr>



                    </tbody>
                </table>

            </div>
            <!-- end DETAILS -->

        </div>
    </div>
    <!-- end CARD DETAIL -->


    <!-- start CARD ENVIOS -->
    <div class="card flex-fill shadow-lg mt-3">
        <div class="card-header d-flex justify-content-between flex-wrap align-items-center">
            <div><i class="bi bi-truck me-1"></i>Envíos en este depósito</div>
            <div>
                <a href="{% url 'envios:envio-add' %}?client_id={{ deposit.client.pk }}&deposit_id={{ deposit.pk }}"
                    class="btn btn-success btn-sm mx-1 shadow">Nuevo envío</a>
                <a href="{% url 'envios:envio-bulk-add' %}?client_id={{ deposit.client.pk }}&deposit_id={{ deposit.pk }}"
                    class="btn btn-success btn-sm mx-1 shadow">Nueva carga masiva</a>
            </div>
        </div>
        <div class="card-body">
            {% if envios %}
            <div class="table-responsive">
                <table class="table align-middle">
                    <thead>
                        <tr class="bg-dark text-white fw-bold">
                            <th scope="row">#</th>
                            <th>Fecha de carga</th>
                            <th class="text-center">Tipo</th>
                            <th class="text-center">Cliente</th>
                            <th class="text-center">Destino</th>
                            <th class="text-center">Fecha límite</th>
                            <th class="text-center">Horario de entrega</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in envios %}
                        <tr onclick="window.location.href='{% url 'envios:envio-detail' obj.pk %}';"
                            style="cursor: pointer;">
                            <th scope="row" class="text-center">{{ forloop.counter }}</th>
                            <td class="text-center">{{ obj.date_created|date:"d/m/Y H:i" }}</td>
                            <td class="text-center">
                                {% if obj.is_flex %}
                                <span class="badge" style="background-color: #212529;">FLEX</span>
                                {% else %}
                                <span class="badge" style="background-color: #808080;">MENSAJERIA</span>
                                {% endif %}
                            </td>
                            <td class="text-center">{{ obj.client }}</td>
                            <td class="text-center">{{ obj.full_address }}</td>

                            <td class="text-center">
                                {% if obj.max_delivery_date %}{{ obj.max_delivery_date }}{% else %}No tiene{% endif %}
                            </td>
                            <td class="text-center">
                                {% if obj.delivery_schedule %}{{ obj.get_delivery_schedule_display }}{% else %}No
                                tiene{% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            {% if deposit.client == None or deposit.is_sinergia %}
            <div class="alert alert-info">
                <i class="fa fa-info-circle"></i> No hay envíos en este depósito.
            </div>
            {% else %}
            <div class="alert alert-info">
                <i class="fa fa-info-circle"></i> No hay envíos en este depósito. Hacé <a
                    href="{% url 'envios:envio-add' %}?client_id={{ deposit.client.pk }}&deposit_id={{ deposit.pk }}"
                    class="alert-link">click acá</a> para agregar uno, o <a
                    href="{% url 'envios:envio-bulk-add' %}?client_id={{ deposit.client.pk }}&deposit_id={{ deposit.pk }}"
                    class="alert-link">click
                    acá</a>
                para agregar varios.
            </div>
            {% endif %}

        </div>
    </div>

    {% endif %}
    <!-- end CARD ENVIOS -->


</div>
<!-- end CARD BODY -->


<script>
    function depositClicked() {
        window.location.href = "{% url 'admin-home' %}";
    }
    $(document).ready(function () {
        enableTooltips();
    });
</script>

{% endblock content %}