{% extends 'base_system.html' %} {% block content %}

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </symbol>
</svg>

<div class="col-12 col-md-8 col-lg-7 col-xl-6 col-xxl-5 d-flex-block">
    <form method='POST' id="id_form" class="card flex-fill shadow-lg bg-white" name="form" target="_top"
        enctype="multipart/form-data">{% csrf_token %}
        <div class="card-header d-flex justify-content-between align-items-center">
            <div>
                Editar objeto
            </div>
            <div>
                <a href="{% url 'deposits:list' %}"><i class="bi bi-arrow-left-short"></i>Volver</a>
            </div>
        </div>
        <div class="card-body">
            <h3 class="card-title text-center mt-3 mb-3">CREAR DEPÓSITO</h3>

            <div class="row g-3">

                <div class="alert alert-danger d-flex align-items-center mb-0" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                        <use xlink:href="#exclamation-triangle-fill" /></svg>
                    <div>
                        Si el depósito es de la empresa, no selecciones un cliente.
                    </div>
                </div>

                <!-- START CLIENT -->
                <div class="col-12 col-lg-6">
                    <label for="{{form.client.id_for_label}}" class="form-label">Cliente</label>
                    {{ form.client }}
                </div>
                <!-- END CLIENT -->

                <!-- START DEPOSIT NAME -->
                <div class="col-12 col-lg-6">
                    <label for="{{form.name.id_for_label}}" class="form-label">Nombre</label>
                    {{ form.name }}
                </div>
                <!-- END DEPOSIT_NAME -->

                <!-- START DEPOSIT_ADDRESS -->
                <div class="col-12 col-lg-8">
                    <label for="{{form.address.id_for_label}}" class="form-label">Domicilio</label>
                    {{ form.address }}
                </div>
                <div class="col-12 col-lg-4">
                    <label for="{{form.zip_code.id_for_label}}" class="form-label">Cód.
                        postal</label>
                    {{ form.zip_code}}
                </div>
                <!-- END DEPOSIT_ADDRESS -->

                <!-- START EXTENDED DEPOSIT_ADDRESS INFO -->
                <div class="col-12 col-lg-5">
                    <label for="inputPartido" class="form-label">Partido</label>
                    <select id="inputPartido" class="form-select">
                        <option>---------</option>
                        {% for partido in partidos %}
                        <option id="option-{{partido.id}}" value="{{partido.id}}"
                            {% if deposit.town.partido.pk == partido.id %}selected{% endif %}>
                            {{partido.name | title}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-12 col-lg-7">
                    <label for="{{ form.town.id_for_label }}" class="form-label">Localidad</label>
                    {{ form.town }}
                </div>

                <!-- END EXTENDED DEPOSIT_ADDRESS INFO -->

                <!-- START DEPOSIT_PHONE -->
                <div class="col-12 col-lg-6">

                    <label for="{{form.phone.id_for_label}}" class="form-label">Teléfono</label>
                    <input type="text" id="id_phone" name="phone" class="form-control"
                        {% if form.phone.value %}value="{{ form.phone.value }}" {% endif %}>
                    <div class="invalid-feedback">
                        Por favor, ingresá un teléfono válido.
                    </div>
                </div>
                <!-- END DEPOSIT_PHONE -->


                <!-- START DEPOSIT_EMAIL -->
                <div class="col-12 col-lg-6">
                    <label for="{{form.email.id_for_label}}" class="form-label">Correo electrónico</label>
                    <input type="text" id="id_email" name="email" class="form-control"
                        {% if form.email.value %}value="{{ form.email.value }}" {% endif %}>
                    <div class="invalid-feedback">
                        Por favor, ingresá un email válido.
                    </div>
                </div>
                <!-- END DEPOSIT_EMAIL -->


                <!-- end DEPOSIT DATA -->

                <!-- START SUMBIT BUTTON -->
                <div class="d-grid gap-2 d-md-flex">
                    <input type="submit" value="Guardar" class="btn btn-primary">
                </div>
                <!-- END SUMBIT BUTTON -->

            </div>

        </div>
    </form>

</div>

<script>
    var places = JSON.parse('{{ places | escapejs }}');
    $(document).ready(function () {
        //$('#id_town').find('option:not(:first)').remove();
        updateTownsForPartido("{{ deposit.town.partido.id }}", "{{ deposit.town.id }}");
        $('#inputPartido').on('inputchange', function () {
            var selectedPartidoId = this.value.toString();
            updateTownsForPartido(selectedPartidoId);
            /*
            var placesFromPartido = places.filter(function (place) {
                return place.partido_id == selectedPartidoId;
            });
            $('#id_town').find('option:not(:first)').remove();
            for (var element of placesFromPartido) {
                $('#id_town').append('<option value="' + element.id + '">' + element.name +
                    '</option>');
            }
            */
        });
    });

    function updateTownsForPartido(selectedPartidoId, town_id = null) {
        var placesFromPartido = places.filter(function (place) {
            return place.partido_id == selectedPartidoId;
        });
        $('#id_town').find('option:not(:first)').remove();
        for (var element of placesFromPartido) {
            if (town_id != null && element.id == town_id) {
                $('#id_town').append('<option value="' + element.id + '" selected>' + element.name + '</option>');
            } else {
                $('#id_town').append('<option value="' + element.id + '">' + element.name + '</option>');
            }
        }
    }
</script>

{% endblock %}