{% extends 'base/base_list.html' %}


{% block modal_content %}

<!-- start BASE MODAL DIALOG -->
<div class="modal fade position-absolute top-0" style="z-index: 10000000;" id="baseModal" tabindex="-1"
    aria-labelledby="baseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filtersModalLabel">Elegí cómo querés filtrar los tickets.
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <!-- start CLIENT TYPE SELECTION -->
                <div class="row g-2 mt-2">
                    <div class="col">
                        <label for="id_client_modal" class="form-label">Cliente</label>

                        <!-- start CLIENT SELECTION -->
                        <select id="id_client_modal" name="client_modal" class="form-select"
                            aria-label="client selection">
                            <option value="">---</option>
                            <option value="-1" {% if client_id == '-1' %}selected{% endif %}>Solo sinergia</option>
                            {% for client in clients %}
                            <option value="{{client.id}}"
                                {% if client_id == client.id|stringformat:"i" %}selected{% endif %}>
                                {{client.name}}</option>
                            {% endfor %}
                        </select>
                        <!-- end CLIENT SELECTION -->

                    </div>
                </div>
                <!-- end CLIENT SELECTION -->

                <div class="row g-2 mt-2">
                    <!-- start ACTIVE SELECTION -->
                    <div class="col">
                        <label for="id_is_active_modal" class="form-label">Activo</label>
                        <select id="id_is_active_modal" name="is_active_modal" class="form-select"
                            aria-label="is active selection">
                            <option value="">-----</option>
                            <option value="true" {% if is_active == 'true' %}selected{% endif %}>Sí</option>
                            <option value="false" {% if is_active == 'false' %}selected{% endif %}>No</option>
                        </select>
                    </div>
                    <!-- end ACTIVE SELECTION -->

                    <!-- start HAS ENVIOS SELECTION -->
                    <div class="col">
                        <label for="id_has_envios_modal" class="form-label">Tiene envíos</label>
                        <select id="id_has_envios_modal" name="has_envios_modal" class="form-select"
                            aria-label="has envios selection">
                            <option value="">-----</option>
                            <!-- True and false are inverted because this filters the Deposit QuerySet with the key 'envio__isnull' -->
                            <option value="false" {% if has_envios == 'false' %}selected{% endif %}>Sí</option>
                            <option value="true" {% if has_envios == 'true' %}selected{% endif %}>No</option>
                        </select>
                    </div>
                    <!-- end HAS ENVIOS SELECTION -->
                </div>

            </div>
            <!-- end SHIPMENT STATUS AND SHIPMENT TYPE SELECTION -->

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    onclick="clearFilters()">Limpiar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    onclick="applyFilters()">Aplicar</button>
            </div>
        </div>
    </div>
</div>
<!-- end BASE MODAL DIALOG -->

{% endblock modal_content %}



{% block add_url_block %}href="{% url 'deposits:add' %}" {% endblock add_url_block %}



{% block orderby_block %}
<li>
    <button type="button" onclick="orderByChanged('name','id_order_by','list_form',true);" class="dropdown-item">
        A-Z
    </button>
</li>
<li>
    <button type="button" onclick="orderByChanged('name_desc','id_order_by','list_form');" class="dropdown-item">
        Z-A
    </button>
</li>
{% endblock orderby_block %}



{% block filters_block %}
<input type="text" id='id_client_id' name="client_id" {% if client_id %}value="{{ client_id }}" {% endif %}>
<input type="text" id='id_is_active' name="is_active" {% if is_active %}value="{{ is_active }}" {% endif %}>
<input type="text" id='id_has_envios' name="has_envios" {% if has_envios %}value="{{ has_envios }}" {% endif %}>
<input type="submit">
{% endblock filters_block %}



{% block objects_table_head_block %}
<th>#</th>
<th>Nombre</th>
<th>Cliente/Propio</th>
<th>Domicilio</th>
<th class="text-center">Activo</th>
<th class="text-center">Envíos</th>
<th class="text-center">Teléfono</th>
<th class="text-center">Email</th>
{% endblock objects_table_head_block %}


{% block objects_table_body_block %}
{% for deposit, envios in objects %}
{% include 'deposit/snippets/item.html' with obj=deposit counter=forloop.counter envios=envios %}
{% endfor %}
{% endblock objects_table_body_block %}



{% block scripts_block %}
<script>
    const passedOrderBy = '{{ order_by }}';
    var lastQuery = "{{ query_by }}";

    $(document).ready(function () {

        $('#list_form').submit(function (e) {
            e.preventDefault();
            [
                'id_query_by',
                'id_order_by',
                'id_results_per_page',
                'id_client_id',
                'id_is_active',
                'id_has_envios',
            ].forEach(function (id) {
                if ($('#' + id).val() == '') {
                    $('#' + id).prop('disabled', true);
                } else {
                    $('#' + id).prop('disabled', false);
                }
            });
            $(this).unbind('submit').submit();
        });

        enableTooltips();

        $('#id_results_per_page').change(function () {
            $('#list_form').submit();
        });

        $('#id_query_by').on('change paste keyup', function () {
            show('clearSearchDiv', $('#id_query_by').val() != '');
            show('btnCleanQuery', $('#id_query_by').val() != '');
        });

        if (lastQuery != '') {
            $('#id_query_by').val(lastQuery);
            show('clearSearchDiv', $('#id_query_by').val() != '');
            show('btnCleanQuery', $('#id_query_by').val() != '');
        }

        $('#btnRadioRPP50').click(function () {
            $('#id_results_per_page').val(50);
            $('#list_form').submit();
        });
        $('#btnRadioRPP100').click(function () {
            $('#id_results_per_page').val(100);
            $('#list_form').submit();
        });
        $('#btnRadioRPP200').click(function () {
            $('#id_results_per_page').val(200);
            $('#list_form').submit();
        });
        $('#btnRadioRPP500').click(function () {
            $('#id_results_per_page').val(500);
            $('#list_form').submit();
        });


    });

    function clearSearch() {
        $('#id_query_by').val('');
        if (lastQuery != '' && lastQuery != null && lastQuery != undefined) {
            $('#list_form').submit();
        }
        show('btnCleanQuery', false);
    }


    function applyFilters() {
        $('#id_client_id').val($('#id_client_modal').val());
        $('#id_is_active').val($('#id_is_active_modal').val());
        $('#id_has_envios').val($('#id_has_envios_modal').val());
        $('#list_form').submit();
    }

    function clearFilters() {
        $('#id_client_id').val('');
        $('#id_is_active').val('');
        $('#id_has_envios').val('');
        $('#list_form').submit();
    }
</script>

{% endblock scripts_block %}