{% extends 'base_system.html' %} {% block content %}

<div class="col-12 col-md-10 col-lg-7 col-xl-6 col-xxl-5 d-flex-block">
    <form method='POST' id="id_form" class="card flex-fill shadow-lg bg-white" name="form" target="_top"
        enctype="multipart/form-data">{% csrf_token %}
        <div class="card-header d-flex justify-content-between align-items-center">
            <div class="fw-bold">
                {% if summary_type == 'client' %}
                Nuevo resumen de cliente
                {% elif summary_type == 'employee' %}
                Nuevo resumen de empleado
                {% endif %}
            </div>
            <div>
                {% if summary_type == 'client' %}
                <a href="{% url 'summaries:client-list' %}"><i class="bi bi-arrow-left-short"></i>Volver</a>
                {% elif summary_type == 'employee' %}
                <a href="{% url 'summaries:employee-list' %}"><i class="bi bi-arrow-left-short"></i>Volver</a>
                {% endif %}
            </div>
        </div>
        <div class="card-body">

            <input class="d-none" id="id_what" name="what" value="client">

            <div class="row g-3">

                {% if summary_type == 'client' %}
                <div class="col-12" id="divClientSelection">
                    <label for="id_client" class="form-label">Cliente</label>
                    {{ form.client }}
                </div>
                {% elif summary_type == 'employee' %}
                <div class="col-12" id="divEmployeeSelection">
                    <label for="id_employee" class="form-label">Empleado/a</label>
                    {{ form.employee }}
                </div>
                {% endif %}


                <div class="input-field col-12 col-lg-6">
                    <label for="fromdate" class="form-label">Desde</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="bi bi-calendar-event"></i></span>
                        <input type="date"
                            class="form-control datepicker {% if form.date_from.errors %}is-invalid{% endif %}"
                            placeholder="Fecha desde" id="id_date_from" name="date_from" max="{{ max_date }}"
                            min="2022-01-01" required>
                    </div>
                    <div class="invalid-feedback">
                        {% for error in form.date_from.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                </div>
                <div class="input-field col-12 col-lg-6">
                    <label for="todate" class="form-label">Hasta</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="bi bi-calendar-event"></i></span>
                        <input type="date"
                            class="form-control datepicker {% if form.date_to.errors %}is-invalid{% endif %}"
                            placeholder="Fecha hasta" id="id_date_to" name="date_to" min="2022-01-01" max="{{max_date}}"
                            required>
                    </div>
                    <div class="invalid-feedback">
                        {% for error in form.datedate_to_from.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                </div>

                {% for error in form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}

                <div id="selectSomething" class="alert alert-danger d-none" role="alert">
                    Por favor, seleccioná un cliente o un empleado.
                </div>
                <!-- START SUMBIT BUTTON -->
                <div class="d-grid gap-2 d-md-flex">
                    <input type="submit" value="Generar" class="btn btn-primary">
                </div>
                <!-- END SUMBIT BUTTON -->

            </div>

        </div>
    </form>

</div>

<script>
    $(document).ready(function () {
        $('#id_client').prop('required', true);
        $('input[type=radio][name=summaryFromRadio]').change(function () {
            if (this.value == 'summaryFromRadioClient') {
                $('#divClientSelection').removeClass('d-none');
                $('#divEmployeeSelection').addClass('d-none');
                $('#id_client').prop('required', true);
                $('#id_employee').prop('required', false);
                $('#id_what').val('client');
            } else if (this.value == 'summaryFromRadioEmployee') {
                $('#divClientSelection').addClass('d-none');
                $('#divEmployeeSelection').removeClass('d-none');
                $('#id_client').prop('required', false);
                $('#id_employee').prop('required', true);
                $('#id_what').val('employee');
            }
        });
        /*
        $('#id_form').submit(function (e) {
            e.preventDefault();
            var selected_summary_type = $('input[type=radio][name=summaryFromRadio]').val();
            alert(selected_summary_type);
            if (
                (
                    selected_summary_type == 'summaryFromRadioClient' &&
                    $('#id_client').find(":selected").text() != "----------"
                ) || (
                    selected_summary_type == 'summaryFromRadioEmployee' &&
                    $('#id_employee').find(":selected").text() != "----------"
                )
            ) {
                $(this).unbind('submit').submit();
            } else {
                if (selected_summary_type == 'summaryFromRadioClient' && $('#id_client').find(
                        ":selected").text() != "----------") {
                    $('#id_client').addClass('is-invalid');
                } else {
                    $('#id_client').removeClass('is-invalid');
                }
                if (selected_summary_type == 'summaryFromRadioEmployee' && $('#id_employee').find(
                        ":selected").text() != "----------") {
                    $('#id_employee').addClass('is-invalid');
                } else {
                    $('#id_employee').removeClass('is-invalid');
                }
            }
        })*/
    });
</script>

{% endblock %}