{% extends 'base_system.html' %}

{% block modal_content %}

<!-- start BASE MODAL DIALOG -->
{% include 'summaries/snippets/filter_summaries_modal.html' %}
<!-- end BASE MODAL DIALOG -->

{% endblock modal_content %}

{% block content %}

<style>
    .cell-centered,
    h5 {
        text-align: center;
    }

    h5 {
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .bool-div {
        color: white;
        padding: 1px;
    }

    .bool-div-true {
        background-color: green;
    }

    .bool-div-false {
        background-color: red;
    }

    td {
        overflow: auto;
        white-space: nowrap;
    }
</style>

<div class="col-12">

    <div class="card flex-fill">

        <div class="card-header d-flex d-row">
            <div class="fs-5 fw-bold d-inline-flex justify-content-start align-items-center col-12 my-2 col-xl-6">
                Últimos resúmenes consultados<a href="{% url 'summaries:add' %}" type="button"
                    class="btn btn-success btn-sm ms-2 me-1 shadow"><i class="bi bi-plus"></i>Nuevo</a>
            </div>
            <form method="GET" class="col-12 col-xl-6 my-2 d-flex flex-row justify-content-end" id="list_form">
                <input type="text" class="form-control shadow" placeholder="Ingresá texto para buscar" id="id_query_by"
                    name="query_by" value="{% if query %}{{query}}{% endif %}" aria-label="Text to search">

                <button type="button" id="btnCleanQuery"
                    class="btn btn-outline-danger shadow {% if query_by == '' or not query_by %}hide-on-load{% endif %}"
                    onclick="clearSearch()">Limpiar</button>

                <button type="button" class="btn btn-primary mx-3 position-relative shadow" data-bs-toggle="modal"
                    data-bs-target="#baseModal">
                    Filtros
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{ filters_count }}
                        <span class="visually-hidden">applied filters</span>
                    </span>
                    <!--Filtros <span class="badge bg-danger">{{ filters_count }}</span>-->
                </button>

                <button class="btn btn-secondary shadow dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="bi bi-sort-up"></i></button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><button onclick="orderByChanged('date_created_desc');"
                            class="dropdown-item">Más&nbsp;recientes</button>
                    </li>
                    <li><button onclick="orderByChanged('date_created');"
                            class="dropdown-item">Más&nbsp;antiguas</button>
                    </li>
                </ul>

                <input type="text" name="order_by" id="id_order_by" class="d-none" value="{{ order_by }}">
                <input type="text" name="results_per_page" id="id_results_per_page" class="d-none"
                    value="{{ results_per_page }}">
                <input id='id_filter_by' type="text" name="filter_by" class="d-none"
                    value="{% if filter_by %}{{ filter_by }}{% endif %}">
            </form>
        </div>

        <div class="card-body d-flex flex-column">

            <!-- start MAIN CONTENT -->
            {% if summaries %}

            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="cell-centered">Fecha creación</th>
                            <th class="cell-centered">Tipo</th>
                            <th class="cell-centered">Nombre</th>
                            <th class="cell-centered">Desde</th>
                            <th class="cell-centered">Hasta</th>
                            <th class="cell-centered">Envíos</th>
                            <th class="cell-centered">Costo</th>
                        </tr>
                    </thead>
                    <tbody id="overrided-1" class="overrided-tbody">
                        {% for summary, envios in summaries %}
                        {% include 'summaries/snippets/item.html' with obj=summary counter=forloop.counter envios=envios%}
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Pagination -->
            {% include 'summaries/snippets/pagination.html' with summaries=summaries %}

            {% else %}

            <div>
                <p class="card-text">No se encontraron resultados que coincidan con la búsqueda: "{{query_by}}"</p>
            </div>

            {% endif %}
            <!-- end MAIN CONTENT -->

        </div>
    </div>
</div>

{% include 'summaries/snippets/list_js.html' %}

{% endblock content %}