{% extends 'base.html' %}

{% load static %}

{% block content %}


<style type="text/css">
    .form-signin {
        width: 100%;
        max-width: 600px;
        padding: 15px;
        margin: auto;
    }

    .form-signin .checkbox {
        font-weight: 400;
    }

    .form-signin .form-floating:focus-within {
        z-index: 2;
    }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }


    .img-responsive {
        display: inline-block;
    }

    #logo_img:hover {
        opacity: 0.5;
    }
</style>

<main class="form-signin">
    <div class="d-flex flex-column pb-3" style="text-align: center;">
        <img class="rounded image-fluid mx-auto d-block" id="logo_img" src="{% static 'sinergia-software-logo.svg' %}"
            width="40%" height="40%" alt="Sinergia Logo">
    </div>
    <form method="post" class="needs-validation" novalidate>{% csrf_token %}

        <h1 class="h3 mb-3 fw-normal">SINERGIA SOFTWARE</h1>
        <p class="h6 mb-3 fw-normal">Bienvenido al software de Sinergia,<br> servicio de mensajería, distribución y
            logística.</p>
        <p class="h6 mb-3 fw-normal"> Por favor, ingrese sus credenciales para continuar.</p>
        <div class="form-floating">
            <input type="email" name="email" id="id_email"
                class="form-control {% if login_form.email.errors %}is-invalid{% endif %}"
                placeholder="Correo electrónico" required autofocus>
            <label for="id_email" style="color: #000">Correo electrónico</label>
        </div>
        <div class="form-floating">
            <input type="password" name="password" id="id_password" class="form-control
                {% if login_form.password.errors %}is-invalid{% endif %}" placeholder="Constraseña" required>
            <label for="id_password">Contraseña</label>
        </div>
        {% if login_form.email.errors or login_form.non_field_errors or login_form.password.errors %}
        <div class="alert alert-danger" role="alert">
            {% if login_form.email.errors  %}
            {% for error in login_form.email.errors %}
            {{error}}
            {% endfor %}
            {% elif login_form.non_field_errors or login_form.password.errors %}
            {% if login_form.non_field_errors %}
            {% for error in login_form.non_field_errors %}
            {{error}}
            {% endfor %}
            <br>
            {% endif %}
            {% for error in login_form.password.errors %}
            {{error}}
            {% endfor %}
            {% endif %}
        </div>
        {% endif %}

        <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar sesión</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2021 Todos los derechos reservados - #EkoSoftware</p>
        <a class="mt-4"
            href="https://www.digitalocean.com/?refcode=03cc17e26e67&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"><img
                src="https://web-platforms.sfo2.digitaloceanspaces.com/WWW/Badge%202.svg"
                alt="DigitalOcean Referral Badge" /></a>
    </form>
</main>


{% endblock content %}