{% extends 'base.html' %}

{% load static %}

{% block content %}


<style type="text/css">
    .form-signin {
        width: 100%;
        max-width: 600px;
        padding: 15px;
        margin: auto;
    }

    .form-signin .checkbox {
        font-weight: 400;
    }

    .form-signin .form-floating:focus-within {
        z-index: 2;
    }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }


    .img-responsive {
        display: inline-block;
    }
</style>

<main class="form-signin">
    <div class="d-flex flex-column pb-3" style="text-align: center;">
        <img class="rounded image-fluid mx-auto d-block" src="{% static 'sinergia-software-logo.svg' %}" width="40%"
            height="40%" alt="Sinergia Logo">
    </div>
    <form method="post" class="needs-validation" novalidate>{% csrf_token %}

        <h1 class="h3 mb-3 fw-normal">SINERGIA SOFTWARE</h1>
        <p class="h6 mb-3 fw-normal">Bienvenido al software de Sinergia,<br> servicio de mensajería, distribución y
            logística.</p>
        <p class="h6 mb-3 fw-normal"> Por favor, ingrese sus credenciales para continuar.</p>
        <div class="form-floating">
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Correo electrónico"
                required autofocus>
            <label for="inputEmail" style="color: #000">Correo electrónico</label>
            <div class="invalid-feedback">

            </div>
        </div>
        <div class="form-floating">
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
                required>
            <label for="inputPassword">Contraseña</label>
            <div class="invalid-feedback">

            </div>
        </div>

        {% for field in login_form %}
        <p>
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
        {% endfor %}
        {% if login_form.non_field_errors %}
        <div style="color: red">
            <p>{{login_form.non_field_errors}}</p>
        </div>

        {% endif %}

        <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar sesión</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2021 Todos los derechos reservados - #EkoSoftware</p>
    </form>
</main>


{% endblock content %}