{% extends 'base.html' %}

{% load static %}

{% block content %}


<style type="text/css">
    .form-signin {
        width: 100%;
        max-width: 600px;
        padding: 15px;
        margin: auto;
    }

    .form-signin .checkbox {
        font-weight: 400;
    }

    .form-signin .form-floating:focus-within {
        z-index: 2;
    }

    .img-responsive {
        display: inline-block;
    }

    #logo_img:hover {
        opacity: 0.5;
    }
</style>

<main class="form-signin">
    <div class="d-flex flex-column pb-3" style="text-align: center;">
        <img class="rounded image-fluid mx-auto d-block" id="logo_img" src="{% static 'sinergia-software-logo.svg' %}"
            width="40%" height="40%" alt="Sinergia Logo">
    </div>
    <form method="post" class="needs-validation" novalidate>{% csrf_token %}

        <h1 class="h3 mb-3 fw-normal">SINERGIA SOFTWARE</h1>
        <p class="h6 mb-3 fw-normal">Se ha registrado una solicitud de reseteo de contraseña.</p>
        <p class="h6 mb-3 fw-normal">Por favor, ingrese su email y una contraseña nueva para continuar.</p>
        <p class="h6 mb-3 fw-normal">La contraseña debe tener entre 8 y 20 caracteres, poseer al menos una letra
            minúscula, una letra mayúscula, un número y un caracter especial como estos: @#.,$%&amp;*</p>
        <div class="form-floating mb-3">
            <input type="email" name="email" id="id_email" {% if form.email.value %}value="{{form.email.value}}"
                {% endif %} class="form-control {% if form.email.errors %}is-invalid{% endif %}"
                placeholder="Correo electrónico" required autofocus>
            <label for="id_email" style="color: #000">Correo electrónico</label>
            <div class="invalid-feedback">
                {% if form.email.errors  %}
                {% for error in form.email.errors %}
                {{error}}
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="form-floating  mb-3">
            <input type="password" name="password" id="id_password"
                class="form-control {% if form.password.errors %}is-invalid{% endif %}" placeholder="Constraseña"
                required>
            <label for="id_password">Nueva contraseña</label>
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                {{error}}
                {% endfor %}
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="password" name="password_confirm" id="id_password_confirm"
                class="form-control {% if form.password_confirm.errors %}is-invalid{% endif %}" placeholder="
                Constraseña" required>
            <label for="id_password_confirm">Repetir contraseña</label>
            <div class="invalid-feedback">
                {% if form.password_confirm.errors  %}
                {% for error in form.password_confirm.errors %}
                {{error}}
                {% endfor %}
                {% endif %}
            </div>
        </div>
        {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
            {{error}}
            {% endfor %}
        </div>
        {% endif %}

        <button class="w-100 btn btn-lg btn-primary" type="submit">Confirmar</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2021 Todos los derechos reservados - #EkoSoftware</p>
    </form>
</main>


{% endblock content %}