{% extends 'base_system.html' %} {% block content %}

<div class="col-md-12 col-lg-8 col-xl-6 col-xxl-5 d-flex-block">
    <form method='POST' id="create_form" class="card flex-fill shadow-lg bg-white" name="create_form" target="_top"
        enctype="multipart/form-data">{% csrf_token %}
        <div class="card-header d-flex justify-content-between align-items-center">
            <div>
                Crear objeto
            </div>
            <div>
                <a href="{% url 'places:zone-list' %}"><i class="bi bi-arrow-left-short"></i>Volver</a>
            </div>
        </div>
        <div class="card-body">
            <h3 class="card-title text-center mt-3">CREAR ZONA</h3>
            <h4 class="card-title mt-3">Datos de la zona</h4>
            <div class="row g-3">


                <!-- START NAME INPUT -->
                <div class="col-md-12 col-lg-8">
                    <label for="id_name" class="form-label">Nombre</label>
                    <input id="id_name" name="name" type="text" {% if form.name.value %}value="{{form.name.value}}"
                        {% endif %} class="form-control {% if form.name.errors %}is-invalid{% endif %}"
                        placeholder="Nombre" required>
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}{{error}}<br>{% endfor %}
                    </div>

                </div>
                <!-- END NAME INPUT -->


                <!-- START ASIGNED TO INPUT -->
                <div class="col-md-12 col-lg-8">
                    <label for="{{form.asigned_to.id_for_label}}" class="form-label">Distribuidor de la zona</label>
                    {{ form.asigned_to}}
                </div>
                <!-- END ASIGNED TO INPUT -->


                <!-- START PARTIDOS CONTAINER -->
                <div id="selectedPartidosDiv" class="col-12">
                    <label for="partidosContainer" class="form-label">Partidos en esta zona</label>
                    <div id="partidosContainer" class="rounded-1 p-2" style="border: 1px solid #CED4DA;"
                        data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Aquí aparecerán los partidos seleccionados, en forma de botón azul. Al hacerles clic, se quitarán de este contenedor y volverán a la lista desplegable de abajo. Si algún partido ya pertenece a otra zona, será indicado entre paréntesis; si igualmente querés agregarlo, no hay problema, se quitará de la zona anterior.">
                        <span id="nonePartidoSpan" class="m-2">Ningún partido</span>
                    </div>
                </div>
                <!-- END PARTIDOS CONTAINER -->

                <!-- START PARTIDOS CONTAINER -->
                <div class="d-none">
                    <input type="text" id="id_selected_partidos_ids" name="selected_partidos_ids"
                        value="{% if partidos_ids %}{{partidos_ids}}{% endif %}">
                </div>
                <!-- END PARTIDOS CONTAINER -->


                <!-- START PARTIDOS SELECT -->
                <!-- 
                <div class="col-12">
                    <label for="selectPartido" class="form-label">Seleccioná un partido de la lista y agregalo</label>
                    <div class="input-group">
                        <select class="form-select" id="selectPartido" aria-label="Example select with button addon">
                            {% if partidos %}
                            {% for partido in partidos %}
                            <option id="option-{{ partido.id }}" class="sortMe" value="{{ partido.id }}">
                                {{ partido.name |title}}{% if partido.amba_zone %}&nbsp;(en
                                zona&nbsp;{{partido.amba_zone.name}}){% endif %}
                            </option>
                            {% endfor %}
                            {% endif %}
                        </select>
                        <button class="btn btn-outline-secondary" id="addPartidoBtn" type="button"
                            onclick='addPartido()'>Agregar a la zona</button>
                    </div>
                </div>
                -->
                <!-- END PARTIDOS SELECT -->

                <div class="col-12">
                    <label for="id_partidos" class="form-label">Partidos</label>
                    {{ form.partidos}}
                    <div class="invalid-feedback">
                        {% for error in form.partidos.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    <div class="alert alert-danger  d-flex align-items-center px-2 py-1 mt-1 mb-1" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="18" height="18" role="img" aria-label="Info:">
                            <use xlink:href="#exclamation-triangle-fill" /></svg>
                        <div style="font-size: 0.8em;">
                            Tené en cuenta que los partidos seleccionados se quitarán de los descuentos previos.
                        </div>
                    </div>
                    <div class="alert alert-primary d-flex align-items-center px-2 py-1 mt-1 mb-1" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="18" height="18" role="img" aria-label="Info:">
                            <use xlink:href="#info-fill" /></svg>
                        <div style="font-size: 0.8em;">
                            Mantené presionado "Control", o "Command" en un Mac, para seleccionar más de una opción.
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <label for="id_towns" class="form-label">Localidades</label>
                    {{ form.towns }}
                    <div class="invalid-feedback">
                        {% for error in form.town.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    <div class="alert alert-danger  d-flex align-items-center px-2 py-1 mt-1 mb-1" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="18" height="18" role="img" aria-label="Info:">
                            <use xlink:href="#exclamation-triangle-fill" /></svg>
                        <div style="font-size: 0.8em;">
                            Tené en cuenta que las localidades seleccionadas se quitarán de las zonas previas.
                        </div>
                    </div>
                    <div class="alert alert-danger  d-flex align-items-center px-2 py-1 mt-1 mb-1" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="18" height="18" role="img" aria-label="Info:">
                            <use xlink:href="#exclamation-triangle-fill" /></svg>
                        <div style="font-size: 0.8em;">
                            Tené en cuenta que las localidades seleccionadas se quitarán de las zonas previas.
                        </div>
                    </div>
                    <div class="alert alert-primary d-flex align-items-center px-2 py-1 mt-1 mb-1" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="18" height="18" role="img" aria-label="Info:">
                            <use xlink:href="#info-fill" /></svg>
                        <div style="font-size: 0.8em;">
                            Mantené presionado "Control", o "Command" en un Mac, para seleccionar más de una opción.
                        </div>
                    </div>
                </div>

                <button type="button" onclick="moveSelectedTrends()">Hola</button>


                <!-- START SUMBIT BUTTON -->
                <div class="d-grid gap-2 d-md-flex">
                    <input type="submit" value="Crear zona" class="btn btn-primary">
                </div>
                <!-- END SUMBIT BUTTON -->

            </div>
        </div>
    </form>

</div>

<script>
    const townsJSON = JSON.parse("{{ towns_JSON | escapejs }}");

    $(document).ready(function () {
        $('#id_partidos').change(function () {
            $("#id_partidos option").each(function (i) {
                console.log($(this).val() + " - " + $(this).text());
                var partidoID = $(this).val();
                $("#id_towns option").each(function (j) {
                    var townID = $(this).val();
                    console.log(townID);
                    var town = townsJSON[townID];
                    var townsPartidoID = town['partido_id'];
                    if (partidoID == townsPartidoID) {
                        $(this).attr('selected', 'selected');
                    }
                    //console.log($(this).val() + " - " + $(this).text());
                });
            });
            /*var partidoID = $(this).val();
            console.log($(this).val() + " - " + $(this).text());
            $("#id_towns option").each(function (j) {
                var townID = $(this).val();
                var town = townsJSON[townID];
                var townsPartidoID = town['partido_id'];
                if (partidoID == townsPartidoID) {
                    $(this).attr('selected', 'selected');
                }
                //console.log($(this).val() + " - " + $(this).text());
            });*/
        });
    });


    function moveSelectedTrends() {
        console.log('hola');
        /*var selector = document.getElementById("partidos");
        var i;
        for (i = 1; i <= 5; i++) {
            selector.options[i - 1] = new Option(i, i);
        }*/

        $("#id_partidos option").each(function (i) {
            console.log($(this).val() + " - " + $(this).text());
            var partidoID = $(this).val();
            $("#id_towns option").each(function (j) {
                var townID = $(this).val();
                var town = townsJSON[townID];
                var townsPartidoID = town['partido_id'];
                if (partidoID == townsPartidoID) {
                    $(this).attr('selected', 'selected');
                }
                //console.log($(this).val() + " - " + $(this).text());
            });
        });
        /*var partidos = document.getElementById('partidos'),
            partido, i;

        for (i = 0; i < partidos.length; i++) {
            partido = partidos[i];
            if (partido.selected) {
                console.log(partido.value);
            }
        }*/
    }

    function myFn() {
        var myOptionIndex = document.getElementById('selectForm').selectedIndex;
        var myOptionValue = document.getElementById('selectForm').options[myOptionIndex].value;
        var myOption = document.getElementById('selectForm').options;
        myOptionValue++;
        document.getElementById('selectForm').options[myOptionIndex].value++;
        document.getElementById('results').innerHTML = myOption[myOptionIndex].text +
            " has been selected " + myOptionValue + " times";
    }
</script>

{% comment %} {% include 'places/zone/snippets/add_js.html' %} {% endcomment %}

{% endblock %}