{% extends 'base_system.html' %}


{% block content %}

<style>
    .table-striped>tbody>tr:nth-child(odd):hover,
    .table-striped>tbody>tr:nth-child(odd):hover {
        background-color: #0D6EFD;
        color: white;
        cursor: pointer;
    }

    .table-striped>tbody>tr:nth-child(even):hover,
    .table-striped>tbody>tr:nth-child(even):hover {
        background-color: #0D6EFD;
        color: white;
        cursor: pointer;
    }

    .table-scrollable {
        overflow-x: auto;
        max-width: 600px;
        box-shadow: inset 0 0 5px rgba(150, 150, 150, 0.35);
        margin: auto;
    }

    .edit-button {
        color: black;
    }

    .edit-button:hover {
        color: white;
    }

    th,
    tr,
    h5 {
        text-align: center;
    }
</style>

<div class="col-md-12 col-lg-8 col-xl-7 d-flex my-3">
    <div class="card flex-fill">
        <div class="card-body d-flex  flex-column">
            <h2 class="card-title text-center mt-2">LISTADO DE TARIFAS VIGENTES</h2>
            <h5 class="card-card-subtitle mt-4">Códigos de mensajería</h5>
            <div class="table-responsive">
                <table class="table table-striped align-middle">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Precio (Máx. 5kg)</th>
                            <th>Bulto máx. 10kg</th>
                            <th>Bulto máx. 20kg</th>
                            <th>Miniflete</th>
                            <th>Urgente</th>
                            <th>Trámite</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="overrided-1" class="overrided-tbody">
                        {% for item in dcodes %}
                        {% include 'prices/snippets/code_item.html' with obj=item counter=forloop.counter codetype='d' %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <h5 class="card-card-subtitle mt-4">Códigos de Flex</h5>
            <div class="table-responsive">
                <table class="table table-striped align-middle">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Precio (Máx. 5kg)</th>
                            <th>Bulto máx. 10kg</th>
                            <th>Bulto máx. 20kg</th>
                            <th>Miniflete</th>
                            <th>Urgente</th>
                            <th>Trámite</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in fcodes %}
                        {% include 'prices/snippets/code_item.html' with obj=item counter=forloop.counter codetype='f' %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>

<script>
    function itemClicked(id) {
        //alert("id is" + id);
    }
</script>

{% endblock content %}