{% extends 'base/base_list.html' %}


{% block orderby_block %}

<li>
    <button type="button" onclick="orderByChanged('code','id_order_by','list_form',true);" class="dropdown-item">
        A-Z
    </button>
</li>
<li>
    <button type="button" onclick="orderByChanged('code_desc','id_order_by','list_form');" class="dropdown-item">
        Z-A
    </button>
</li>
<li>
    <button type="button" onclick="orderByChanged('max_5k_price','id_order_by','list_form',true);"
        class="dropdown-item">
        Precio menor a mayor
    </button>
</li>
<li>
    <button type="button" onclick="orderByChanged('max_5k_price_desc','id_order_by','list_form');"
        class="dropdown-item">
        Precio mayor a menor
    </button>
</li>
{% endblock orderby_block %}



{% block filters_block %}
<input type="text" id='id_partido_id' name="partido_id" {% if partido_id %}value="{{ partido_id }}" {% endif %}>
<input type="submit">
{% endblock filters_block %}



{% block objects_table_head_block %}
{% load humanize %}
<th class="cell-centered">Nombre</th>
<th class="cell-centered">Paquete &lt;= 5kg</th>
<th class="cell-centered">Bulto &lt;= 10kg</th>
<th class="cell-centered">Bulto &lt; 20kg</th>
<th class="cell-centered">Miniflete</th>
<th class="cell-centered">Trámite</th>
<th>Partidos completos</th>
<th>Localidades</th>
{% endblock objects_table_head_block %}



{% block objects_table_body_block %}
<style>
    .table-hover tbody tr:hover td {
        background-color: rgba(0, 0, 0, 0);
        color: #000;
    }
</style>
{% for obj in objects %}
<tr id="tr-{{ obj.id }}" class="table-item highlight-row">
    <td class="cell-centered">{{ obj.code |title}}</td>
    <td class="cell-centered">
        {% if obj.max_5k_price %}${{ obj.max_5k_price |floatformat:"2" }}{% else %}-{% endif %}
    </td>
    <td class="cell-centered">
        {% if obj.bulto_max_10k_price %}${{ obj.bulto_max_10k_price |floatformat:"2" }}{% else %}-{% endif %}
    </td>
    <td class="cell-centered">
        {% if obj.bulto_max_20k_price %}${{ obj.bulto_max_20k_price |floatformat:"2" }}{% else %}-{% endif %}
    </td>
    <td class="cell-centered">
        {% if obj.miniflete_price %}${{ obj.miniflete_price |floatformat:"2" }}{% else %}-{% endif %}
    </td>
    <td class="cell-centered">
        {% if obj.tramite_price %}${{ obj.tramite_price |floatformat:"2" }}{% else %}-{% endif %}
    </td>
    <td>
        {% if obj.partidos %}
        <button type="button" id="show-partidos-zone-{{ obj.id }}" onclick="showPartidos({{ obj.id }})"
            class="btn btn-link">Mostrar {{ obj.partidos|length }} partido(s)</button>
        <div id="partidos-zone-{{ obj.id }}" class="d-none">
            {% for partido in obj.partidos %}
            {{ partido | title }}{% if not forloop.last %},{% endif %}
            {% if forloop.counter|divisibleby:2 %}
            <br>
            {% endif %}
            {% endfor %}
        </div>
        <button type="button" id="hide-partidos-zone-{{ obj.id }}" onclick="hidePartidos({{ obj.id }})"
            class="btn btn-link d-none">Ocultar {{ obj.partidos|length }} partido(s)</button>
        {% else %}
        -
        {% endif %}

    </td>
    <td>
        {% if obj.towns %}
        <button type="button" id="show-towns-zone-{{ obj.id }}" onclick="showTowns({{ obj.id }})"
            class="btn btn-link">Mostrar {{ obj.towns|length }} localidades</button>
        <div id="towns-zone-{{ obj.id }}" class="d-none">
            {% for town in obj.towns %}
            {{ town | title }}{% if not forloop.last %},{% endif %}
            {% if forloop.counter|divisibleby:2 %}
            <br>
            {% endif %}
            {% endfor %}
        </div>
        <button type="button" id="hide-towns-zone-{{ obj.id }}" onclick="hideTowns({{ obj.id }})"
            class="btn btn-link d-none">Ocultar {{ obj.towns|length }} localidades</button>
        {% else %}
        -
        {% endif %}



    </td>
</tr>
{% endfor %}
{% endblock objects_table_body_block %}


{% block scripts_block %}
<script>
    const passedOrderBy = '{{ order_by }}';
    var lastQuery = "{{ query_by }}";

    $(document).ready(function () {

        $('#list_form').submit(function (e) {
            e.preventDefault();
            [
                'id_query_by',
                'id_order_by',
                'id_results_per_page',
            ].forEach(function (id) {
                if ($('#' + id).val() == '') {
                    $('#' + id).prop('disabled', true);
                } else {
                    $('#' + id).prop('disabled', false);
                }
            });
            $(this).unbind('submit').submit();
        });

        enableTooltips();

        $('#id_results_per_page').change(function () {
            $('#list_form').submit();
        });

        $('#id_query_by').on('change paste keyup', function () {
            show('clearSearchDiv', $('#id_query_by').val() != '');
            show('btnCleanQuery', $('#id_query_by').val() != '');
        });

        if (lastQuery != '') {
            $('#id_query_by').val(lastQuery);
            show('clearSearchDiv', $('#id_query_by').val() != '');
            show('btnCleanQuery', $('#id_query_by').val() != '');
        }

        $('#btnRadioRPP50').click(function () {
            $('#id_results_per_page').val(50);
            $('#list_form').submit();
        });
        $('#btnRadioRPP100').click(function () {
            $('#id_results_per_page').val(100);
            $('#list_form').submit();
        });
        $('#btnRadioRPP200').click(function () {
            $('#id_results_per_page').val(200);
            $('#list_form').submit();
        });
        $('#btnRadioRPP500').click(function () {
            $('#id_results_per_page').val(500);
            $('#list_form').submit();
        });


    });

    function clearSearch() {
        $('#id_query_by').val('');
        if (lastQuery != '' && lastQuery != null && lastQuery != undefined) {
            $('#list_form').submit();
        }
        show('btnCleanQuery', false);
    }


    function applyFilters() {
        $('#list_form').submit();
    }

    function clearFilters() {
        $('#list_form').submit();
    }

    function showPartidos(id) {
        $('#partidos-zone-' + id).removeClass('d-none');
        $('#show-partidos-zone-' + id).addClass('d-none');
        $('#hide-partidos-zone-' + id).removeClass('d-none');
    }

    function hidePartidos(id) {
        $('#partidos-zone-' + id).addClass('d-none');
        $('#show-partidos-zone-' + id).removeClass('d-none');
        $('#hide-partidos-zone-' + id).addClass('d-none');
    }

    function showTowns(id) {
        $('#towns-zone-' + id).removeClass('d-none');
        $('#show-towns-zone-' + id).addClass('d-none');
        $('#hide-towns-zone-' + id).removeClass('d-none');
    }

    function hideTowns(id) {
        $('#towns-zone-' + id).addClass('d-none');
        $('#show-towns-zone-' + id).removeClass('d-none');
        $('#hide-towns-zone-' + id).addClass('d-none');
    }
</script>

{% endblock scripts_block %}