{% load static %}


<div class="card mx-1 mb-1 position-relative" style="height: 14rem; width: 16rem;">
    <span class="blinking position-absolute top-30 start-30 translate-bottom mt-2 ms-2 p-1 rounded-circle"
        style="background-color: lime;">
        <span class="visually-hidden">New alerts</span>
    </span>
    <div class="card-body">
        <div class="d-flex flex-column justify-content-start align-items-center">
            <img {% if carrier.profile_picture %}src="{{carrier.profile_picture.url}}"
                {% else %}src="{% static 'default_account.png' %}" style="background-color: white;" {% endif %}
                alt="Avatar" width="48" height="48" class="rounded-circle me-2">
            <div>
                <h6>{{carrier.first_name}} {{carrier.last_name}} ({{ carrier.username }})</h6>
            </div>
        </div>
        <h5>{% if envios %}{{envio}}
            {% if envios > 1 %}viajes restantes{% else %}viaje restante{% endif %}{% endif %}</h5>
        <p class="card-text">Localidades: {{ towns }}</p>
        <p class="card-text">{{delivered }}</p>
    </div>
</div>