<div class="row m-0 mt-3 mb-2">
    <div class="col">
        <h5 class="card-title font-monospace top-card mx-1"><i class="bi bi-truck" style="color: grey;"></i>
            VIAJANDO - Repartidores con envíos</h5>
        <div class="card">
            <div class="card shadow-lg bg-white">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Usuario</th>
                                    <th>Apellido y nombre</th>
                                    <th class="cell-centered">Cantidad de envíos</th>
                                    <th class="cell-centered">Con fecha de entrega</th>
                                    <th class="cell-centered">Con horario de entrega</th>
                                    <th class="cell-centered">Reprogramados</th>
                                </tr>
                            </thead>
                            <tbody id="overrided-1" class="overrided-tbody">
                                <style>
                                    
                                </style>
                                {% for obj in carriers_with_envios %}
                                <tr id="tr-{{obj.id}}" class="table-item">
                                    <td><a href="{% url 'account:employees-detail' obj.pk %}">{{ obj.username }}</a></td>
                                    <td>{{ obj.full_name }}</td>
                                    <td class="cell-centered">
                                        {% if obj.envio_count > 0 %}
                                        <a href="{% url 'envios:envio-list' %}?carrier_id={{ obj.pk }}&status=M">
                                        {% endif %}
                                        {{ obj.envio_count }} envío{% if obj.envio_count != 1 %}s{% endif %}
                                        {% if obj.envio_count > 0 %}
                                        </a>
                                        {% endif %}
                                    </td>
                                    <td class="cell-centered">
                                        {% if obj.priorities > 0 %}
                                        <a href="{% url 'envios:envio-list' %}?carrier_id={{ obj.pk }}&status=M&has_delivery_date=1">
                                        {% endif %}
                                        {{ obj.priorities }} envío{% if obj.priorities != 1 %}s{% endif %}
                                        {% if obj.priorities > 0 %}
                                        </a>
                                        {% endif %}
                                    </td>
                                    <td class="cell-centered">
                                        {% if obj.scheduled_time > 0 %}
                                        <a href="{% url 'envios:envio-list' %}?carrier_id={{ obj.pk }}&status=M&is_scheduled=1">
                                        {% endif %}
                                        {{ obj.scheduled_time }} envío{% if obj.scheduled_time != 1 %}s{% endif %}
                                        {% if obj.scheduled_time > 0 %}
                                        </a>
                                        {% endif %}
                                    </td>
                                    <td class="cell-centered">
                                        {% if obj.reprogramed > 0 %}
                                        <a href="{% url 'envios:envio-list' %}?carrier_id={{ obj.pk }}&status=M&has_delivery_attempt=1">
                                        {% endif %}
                                        {{ obj.reprogramed }} envío{% if obj.reprogramed != 1 %}s{% endif %}
                                        {% if obj.reprogramed > 0 %}
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% if carriers_with_envios|length %}
                        No hay portadores de envíos.
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>