{% comment %} <div class="row m-0 mb-2 w-100" style="background-color: grey; border-radius: 15px;">
    {% for carrier in carriers_with_envios %}
    {% include 'snippets/moving/item.html' with obj=carrier %}
    {% endfor %}
</div> {% endcomment %}

<div class="row m-0 mt-3 mb-2">
    <div class="col">
        <h5 class="card-title font-monospace top-card mx-1"><i class="bi bi-truck" style="color: grey;"></i>
            VIAJANDO - Repartidores con envíos</h5>
        <div class="card">
            <div class="card shadow-lg bg-white">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Usuario</th>
                                    <th>Apellido y nombre</th>
                                    <th>Vehículo</th>
                                    <th>Cantidad de envíos</th>
                                </tr>
                            </thead>
                            <tbody id="overrided-1" class="overrided-tbody">
                                <style>
                                    td {
                                        overflow: auto;
                                        white-space: nowrap;
                                    }
                                </style>
                                {% for obj in carriers_with_envios %}
                                <tr id="tr-{{obj.id}}" class="table-item" onclick="onItemClicked({{ obj.id }});">
                                    <td>{{ obj.username }}</td>
                                    <td>{{ obj.full_name }}</td>
                                    <td>{{ obj.get_vehicle_type_display }}</td>
                                    <td>{{ obj.envio_count }}</td>
                                </tr>

                                {% comment %}
                                {% include 'snippets/moving/item.html' with obj=client counter=forloop.counter%}
                                {% endcomment %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>