<style>
    td {
        overflow: auto;
        white-space: nowrap;
    }
</style>

{% load main_extras %}

<tr id="tr-{{obj.id}}" class="table-item highlight-row"
    onclick="onItemClicked({{ obj.id }},'{% url 'changes:detail' pk=obj.id %}');">
    {% with request.user|not_in_list:obj.readers.all as unread  %}
    <td class="cell-centered {% if unread %}fw-bold{% endif %}">{% if unread %}<i
            class="bi bi-envelope-fill"></i>{% else %}<i class="bi bi-envelope-open"></i>{% endif %}</td>
    <td class="cell-centered {% if unread %}fw-bold{% endif %}">{{ obj.date_created | date:"d/m/Y H:i" }}</td>
    <td class="cell-centered {% if unread %}fw-bold{% endif %}">
        {% if obj.label == 'IM' %}
        <span class="badge rounded-pill bg-primary">{{obj.get_label_display}}</span>
        {% elif obj.label == 'BF' %}
        <span class="badge rounded-pill bg-success">{{obj.get_label_display}}</span>
        {% elif obj.label == 'UP' %}
        <span class="badge rounded-pill bg-primary">{{obj.get_label_display}}</span>
        {% elif obj.label == 'MC' %}
        <span class="badge rounded-pill bg-secondary">{{obj.get_label_display}}</span>
        {% else %}
        <span class="badge rounded-pill bg-danger">{{obj.get_label_display}}</span>
        {% endif %}
    </td>
    <td class="{% if unread %}fw-bold{% endif %}">{{ obj.name }}</td>
    <td class="text-wrap {% if unread %}fw-bold{% endif %}">{{ obj.description | remove_html_tags }}
    </td>
    {% endwith %}
</tr>