{% extends 'base_system.html' %}

{% block content %}
<style>
    .table thead th {
        border-bottom: 2px solid #C556FF;
    }

    .spaced-tr {
        height: 9vh;
        //line-height: 45px;
        //padding-left: 200px;
    }

    .date {
        color: #C556FF;
        color: red;
    }
</style>


{% if request.user.is_superuser %}
{% block modal_content %}
<div class="modal fade position-absolute top-0" style="z-index: 10000000;" id="baseModal" tabindex="-1"
    aria-labelledby="baseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filtersModalLabel">Cerrar ticket</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form method='POST' id="close_ticket_form" name="close_ticket_form" target="_top"
                    enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row g-2 mt-2">
                        <div class="col">
                            <label for="closed_reason" class="form-label">Motivo de cierre</label>
                            <select id="closed_reason" name="closed_reason" class="form-select"
                                aria-label="status selection" required>
                                <option value="">---</option>
                                <option value="1">Cancelado</option>
                                <option value="2">Irrelevante</option>
                                <option value="3">Innecesario</option>
                                <option value="4">Resuelto</option>
                                <option value="5">Existe otro ticket similar</option>
                                <option value="6">No se pudo resolver</option>
                            </select>

                        </div>
                    </div>

                    <div class="row g-2 mt-2">
                        <div class="col">
                            <label for="closed_message" class="form-label">Mensaje de cierre</label>
                            <textarea class="form-control" id="closed_message" name="closed_message" rows="5"
                                required></textarea>
                        </div>
                    </div>

                    <div class="row g-2 mt-2">
                        <button id="closeTicketButton" class="btn btn-primary" type="submit">Cerrar ticket</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="changePriority" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cambiar prioridad al ticket</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if ticket.priority != '1' and request.user.is_superuser %}
                <a href="{% url 'tickets:change-priority-ticket' ticket.pk '1' %}"
                    class="btn btn-danger btn-sm me-1">Alta</a>
                {% endif %}

                {% if ticket.priority != '2' and request.user.is_superuser %}
                <a href="{% url 'tickets:change-priority-ticket' ticket.pk '2' %}"
                    class="btn btn-danger btn-sm me-1">Media</a>
                {% endif %}

                {% if ticket.priority != '3' and request.user.is_superuser %}
                <a href="{% url 'tickets:change-priority-ticket' ticket.pk '3' %}"
                    class="btn btn-danger btn-sm me-1">Baja</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade position-absolute top-0" style="z-index: 10000000;" id="addAttachmentsModal" tabindex="-1"
    aria-labelledby="baseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Adjuntar archivos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form method='POST' id="add_attachments_form" name="add_attachments_form" target="_top"
                    enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row g-2 mt-2">
                        <div class="col">
                            <!-- start FILES SELECT -->
                            <div class="mb-3">
                                <label for="id_files" class="form-label">Archivos adjuntos</label>
                                <input class="form-control" type="file" id="id_files" name="files" multiple>
                                <div class="fs-7 fst-italic">
                                    Se puede cargar más de un archivo.
                                </div>
                            </div>
                            <!-- end FILES SELECT -->

                        </div>
                    </div>

                    <div class="row g-2 mt-2">
                        <button id="addAttachmentsButton" class="btn btn-primary" type="submit" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">Guardar archivos</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-start">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <h5 class="modal-title ms-2" id="staticBackdropLabel">Aguardá unos instantes</h5>
            </div>
            <div class="modal-body">
                Se están cargando los archivos, por favor no abandones esta página.
            </div>
        </div>
    </div>
</div>

{% endblock modal_content %}
{% endif %}


<div class="col-md-12 col-xl-7 col-xxl-6 d-flex-block">
    <div class="card flex-fill shadow-lg">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div>
                Detalle del ticket
            </div>
            <div class="">
                <a href="{% url 'tickets:list' %}">
                    <i class="bi bi-list"></i>Ver lista completa</a>
            </div>
        </div>
        <div class="card-body">

            <div class="card-title d-flex justify-content-between flex-wrap align-content-center">

                <div class="me-2 w-100 align-content-center">
                    <h2>Ticket #{{ ticket.id }}</h2>
                </div>
                <div class="mt-1 mb-2 d-flex aling-items-center">
                    <i class="bi bi-clock-history"></i>&nbsp;Creado el {{ ticket.date_created|date:"d/m/Y" }} a las
                    {{ ticket.date_created|date:"H:i" }}{% if ticket.created_by %}&nbsp;por&nbsp;<a
                        href="{% url 'account:employees-detail' pk=ticket.created_by.pk %}">
                        {{ ticket.created_by.full_name }}</a>{% endif %}
                </div>

                <div>

                    {% if ticket.status == '1' or ticket.status == '2'%}
                    {% if ticket.created_by.email == request.user.email %}
                    <button type="button" onclick="cancelTicket();" class="btn btn-danger btn-sm me-1"><i
                            class="bi bi-x me-1"></i>Cancelar</button>
                    {% endif %}
                    {% endif %}

                    {% if ticket.status == '1' or ticket.status == '2'%}
                    {% if ticket.created_by.email == request.user.email %}
                    <button type="button" onclick="markResolvedTicket();" class="btn btn-success btn-sm me-1"><i
                            class="bi bi-check-circle me-1"></i>Marcar como resuelto</button>
                    {% endif %}
                    {% endif %}

                    {% if ticket.status == '1' and request.user.is_superuser %}
                    <a href="{% url 'tickets:open-ticket' ticket.pk %}" class="btn btn-primary btn-sm me-1"><i
                            class="bi bi-plus"></i>Abrir</a>
                    {% endif %}

                    {% if ticket.status == '2' and request.user.is_superuser %}
                    <a id="closeTicketButtonToggleModal" href="{% url 'tickets:open-ticket' ticket.id %}"
                        class="btn btn-secondary btn-sm me-1" data-bs-toggle="modal" data-bs-target="#baseModal"><i
                            class="bi bi-x me-1"></i>Cerrar</a>
                    {% endif %}


                    {% if ticket.status != '3' and request.user.is_superuser %}
                    <a href="{% url 'tickets:delete' ticket.id %}" class="btn btn-danger btn-sm me-1"><i
                            class="bi bi-trash me-1"></i>Eliminar</a>
                    {% endif %}

                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                        data-bs-target="#changePriority">
                        <i class="bi bi-pencil-square"></i>Cambiar prioridad
                    </button>

                </div>

            </div>

            <hr>

            <div class="card-text">

                <table class="table table-bordered">
                    <tbody id="overrided-1" class="overrided-tbody">
                        <tr>
                            <td class="bg-dark fw-bolder text-nowrap" style="color: white;"><i
                                    class="bi bi-tag me-1"></i>Asunto
                            </td>
                            <td class="w-100">{{ ticket.subject }}</td>
                        </tr>
                        <tr>
                            <td class="bg-dark fw-bolder text-nowrap" style="color: white;"><i
                                    class="bi bi-chat-left-text me-1"></i>
                                Mensaje</td>
                            <td class="w-100">{{ ticket.msg }}</td>
                        </tr>
                        <tr>
                            <td class="bg-dark fw-bolder text-nowrap" style="color: white;"><i
                                    class="bi bi-bell me-1"></i>Prioridad
                            </td>
                            <td class="w-100">
                                {% if ticket.priority == '1' %}
                                <span class="badge rounded-pill bg-danger fw-5">{{ ticket.get_priority_display }}</span>
                                {% elif ticket.priority == '2' %}
                                <span
                                    class="badge rounded-pill bg-primary fw-5">{{ ticket.get_priority_display }}</span>
                                {% elif ticket.priority == '3' %}
                                <span
                                    class="badge rounded-pill bg-secondary fw-5">{{ ticket.get_priority_display }}</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-dark fw-bolder text-nowrap" style="color: white;"><i
                                    class="bi bi-broadcast me-1"></i>Estado
                            </td>
                            <td class="w-100">
                                <span class="badge"
                                    style="background-color:{% if ticket.status == '1' %}#C0BCAE{% elif ticket.status == '2' %}#817D6F{% else %}#212529;{% endif %};">
                                    {{ ticket.get_status_display }}
                                </span>
                            </td>
                        </tr>

                        {% if ticket.status == '3' %}
                        <tr>
                            <td class="bg-dark fw-bolder text-nowrap" style="color: white;"><i
                                    class="bi bi-x-lg me-1"></i>Motivo de
                                cierre</td>
                            <td class="w-100">{{ ticket.get_closed_reason_display }}</td>
                        </tr>

                        <tr>
                            <td class="bg-dark fw-bolder text-nowrap" style="color: white;"><i
                                    class="bi bi-chat-left-text me-1"></i>Mensaje de cierre
                            </td>
                            <td class="w-100">{{ ticket.closed_msg }}</td>
                        </tr>
                        {% endif %}



                        {% if attachments_count > 0 %}
                        <tr>
                            <td class="bg-dark fw-bolder w-auto" style="color: white;"><i
                                    class="bi bi-paperclip me-1"></i>Adjuntos
                            </td>
                            <td class="w-100">
                                {% for url, name in attachments %}
                                <a href="{{ url }}">{{ name }}</a><br>
                                {% endfor %}
                            </td>
                        </tr>

                        {% endif %}

                    </tbody>
                </table>

                {% if ticket.status == '2' or ticket.status == '3' %}
                <button type="button" class="btn-sm btn-outline-secondary" data-bs-toggle="modal"
                    data-bs-target="#addAttachmentsModal"><i class="bi bi-paperclip"></i>Agregar
                    archivos</button>
                {% endif %}
            </div>

        </div>
    </div>

    {% if ticket.status == '2' or ticket.status == '3' and chats%}


    <!-- start CHAT -->
    <div class="card flex-fill shadow-lg mt-3">

        <!-- start CARD HEADER -->
        <div class="card-header d-flex justify-content-between align-items-center">
            <div>
                <i class="bi bi-chat-dots me-1"></i>Mensajes
            </div>
        </div>
        <!-- end CARD HEADER -->


        <div class="card-body px-2 pt-0 pb-3">
            <div id="messages-list">

                {% if chats %}
                {% for chat in chats %}
                <div class="card mt-3">
                    <div class="card-header px-2 py-1 d-flex justify-content-between">
                        <div class="d-flex flex-row">
                            {% if chat.is_priority_update %}
                            <span class="badge rounded-pill bg-info fw-5">Actualización del sistema</span>
                            {% elif 'Acá van estos archivos' in chat.msg %}
                            <div>
                                <a
                                    href="{% url 'account:employees-detail' pk=chat.created_by.pk %}">{{ chat.created_by.full_name }}</a>
                            </div>
                            <div class="text-muted">&nbsp;dijo:</div>
                            {% else %}
                            <div>
                                <a
                                    href="{% url 'account:employees-detail' pk=chat.created_by.pk %}">{{ chat.created_by.full_name }}</a>
                            </div>
                            <div class="text-muted">&nbsp;dijo:</div>
                            {% endif %}
                        </div>

                        <div class="text-muted">
                            El {{ chat.date_created|date:"d/m/Y" }} a las {{ chat.date_created|date:"H:i" }}
                        </div>
                    </div>
                    <div class="card-body p-2">
                        {{ chat.msg | safe }}
                    </div>
                </div>
                {% endfor %}
                {% endif %}

            </div>

            {% if ticket.status != '3' %}
            <div id="sengindMessageDiv">

                <h5 id="messageInputTitleHeader" class="{% if chats %}mt-4{% else %}mt-2{% endif %}">
                    <div id="titleResponder" class="{% if not chats %}d-none{% endif %}">Responder:</div>
                    <div id="titleSinMensajes" class="{% if chats %}d-none{% endif %}">Sin mensajes todavía. Escribe
                        uno:
                    </div>
                </h5>
                <div class="mb-1">
                    <style>
                        #input {
                            height: 200px;
                            padding: 10px;
                            font-size: 14px;
                            resize: vertical;
                            overflow: auto;
                            border: 0.5px grey solid;
                        }

                        .active {
                            background-color: #ccc;
                        }
                    </style>
                    <div class="btn-toolbar mb-2" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group me-2" role="group" aria-label="First group">
                            <button class="btn btn-outline-secondary" onclick="applyFormatting('bold')"
                                id="boldButton"><i class="bi bi-type-bold"></i></button>
                            <button class="btn btn-outline-secondary" onclick="applyFormatting('italic')"
                                id="italicButton"><i class="bi bi-type-italic"></i></button>
                            <button class="btn btn-outline-secondary" onclick="applyFormatting('underline')"
                                id="underlineButton"><i class="bi bi-type-underline"></i></button>
                            <button class="btn btn-outline-secondary" onclick="applyFormatting('insertUnorderedList')"
                                id="unorderedListButton"><i class="bi bi-list-ul"></i></button>
                            <button class="btn btn-outline-secondary" onclick="applyFormatting('insertOrderedList')"
                                id="orderedListButton"><i class="bi bi-list-ol"></i></button>
                            <button class="btn btn-outline-secondary" onclick="addURL()" id="addURLButton"><i
                                    class="bi bi-link-45deg"></i></button>
                            <button class="btn btn-outline-secondary" type="button"
                                onclick="deleteMessageWithConfirmation()"><i class="bi bi-trash"></i></button>
                        </div>
                    </div>
                    <form method='POST' id="new_msg_form" name="new_msg_form" target="_top"
                        enctype="multipart/form-data">
                        {% csrf_token %}
                        <textarea class="d-none form-control" id="post-msg" name="post-msg" rows="3"></textarea>
                        <div class="rounded" id="input" contenteditable="true"></div>
                        <div class="mt-2">

                            <button id="loadingButton" class="btn btn-primary d-none" type="submit" disabled>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Enviando...
                            </button>

                            <button id="sendMessageButton" class="btn btn-primary" type="submit">Enviar</button>

                            <div id="errorQueue"></div>
                        </div>
                    </form>
                </div>
                <div id="results"></div>

            </div>
            {% endif %}

        </div>
    </div>
    <!-- end CHAT -->

    {% endif %}

</div>

<script>
    const ticket_id = parseInt("{{ticket.id}}", 10);
    $(document).ready(function () {
        $('#new_msg_form').submit(function (e) {
            $('#msgNotSent').remove();
            e.preventDefault();
            create_message();
        });
        $('#close_ticket_form').submit(function (e) {
            e.preventDefault();
            const data = $('#close_ticket_form').serialize();
            closeTicket();
        });
    });

    function closeTicket() {
        $.ajax({
            url: "{% url 'tickets:close-ticket' pk=ticket.id %}", // the endpoint
            type: "POST", // http method
            data: $('#close_ticket_form').serialize(), // data sent with the post request

            // handle a successful response
            success: function (json) {
                $('#closeTicketButtonToggleModal').addClass('d-none');
                $('#sengindMessageDiv').addClass('d-none');
                window.location.href = "{% url 'tickets:detail' pk=ticket.id %}";
            },

            // handle a non-successful response
            error: function (xhr, errmsg, err) {
                alert("Ocurrió un error : " + error + ". Message: " + errmsg);
            }
        });
    }

    function create_message() {
        var inputDiv = document.getElementById("input");
        var formattedText = inputDiv.innerHTML;
        if (formattedText.includes("<script>")) throw Error("Not authorized.")
        var msg = $('#post-msg').val(formattedText);
        sendingMessage(true)
        $.ajax({
            url: "{% url 'tickets:post-message' ticket_pk=ticket.id user_pk=request.user.pk %}", // the endpoint
            type: "POST", // http method
            data: $('#new_msg_form').serialize(),

            // handle a successful response
            success: function (json) {
                $('#post-msg').val('');
                $('#messages-list').append(json.newItem);
                $("#titleResponder").removeClass('d-none');
                $('#messageInputTitleHeader').removeClass('mt-2');
                $('#messageInputTitleHeader').addClass('mt-4');
                $("#titleSinMensajes").addClass('d-none');
                sendingMessage(false);
                deleteMessage()
            },

            // handle a non-successful response
            error: function (xhr, errmsg, err) {
                $('#msgNotSent').remove();
                const errorHtml = `
                <div id="msgNotSent" class="mt-2 mb-0 alert alert-danger alert-dismissible fade show" role="alert">
                    Ocurrió un error inesperado.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                `;
                $('#errorQueue').append(errorHtml);
                sendingMessage(false);
            }
        });
    }

    function sendingMessage(sending = true) {
        $('#sendMessageButton').toggleClass('d-none');
        $('#loadingButton').toggleClass('d-none');
        document.getElementById("not-header").scrollTo({
            bottom: 0,
            behavior: 'smooth'
        });
        document.body.scrollBottom = 0; // For Safari
        document.documentElement.scrollBottom = 0; // For Chrome, Firefox, IE and Opera
    }

    function cancelTicket() {
        if (window.confirm("¿Estás seguro de que quieres cancelar este ticket?")) {
            window.location.href = "{% url 'tickets:cancel-ticket' pk=ticket.id %}";
        }
    }

    function markResolvedTicket() {
        if (window.confirm("¿Estás seguro de que este ticket se encuentra resuelto?")) {
            window.location.href = "{% url 'tickets:mark-resolve-ticket' pk=ticket.id %}";
        }
    }

    // Formatting functions
    let formattingActive = {
        bold: false,
        italic: false,
        underline: false,
        unorderedList: false,
        orderedList: false
    };

    function deleteMessageWithConfirmation() {
        var confirmDelete = confirm("¿Querés eliminar todo el texto ingresado?");
        if (confirmDelete) {
            deleteMessage()
        }
    }

    function deleteMessage() {
        var inputDiv = document.getElementById("input");
        inputDiv.innerHTML = "";
    }

    function handleKeyDown(event) {
        if (event.key === 'Enter') {
            event.preventDefault();
        }
    }

    function applyFormatting(command) {
        var buttonId = command + 'Button';
        var button = document.getElementById(buttonId);

        var selection = window.getSelection();
        if (selection.type === 'Range') {
            document.execCommand(command)
        } else {
            formattingActive[command] = !formattingActive[command]
            document.execCommand(command);
            if (formattingActive[command]) button.classList.add('active')
            else button.classList.remove('active')
        }

        var inputDiv = document.getElementById("input");
        inputDiv.focus();
    }

    function addURL() {
        var url = prompt("Enter the URL:");
        if (url) {
            document.execCommand('createLink', false, url);
        }

        var inputDiv = document.getElementById("input");
        inputDiv.focus();
    }

    function captureFormattedText() {
        var inputDiv = document.getElementById("input");
        var formattedText = inputDiv.innerHTML;
        // Do something with the formatted text, such as sending it to the server or processing it further
        console.log(formattedText);
    }
</script>

{% endblock content %}